@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "wangHangMing","Microsoft JhengHei";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "wangHangMing";
  src: url("../font/WCL-02.ttf");
}

@font-face {
  font-family: "微軟正黑體";
  src: "https://fonts.googleapis.com/css?family=Noto+Sans+TC";
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-icon2 {
  height: 44px;
  cursor: pointer;
}

#bigMember {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #2cffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 0px;
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 6px);
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 0px;
  top: 26px;
  width: 30px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 6px);
  top: 26px;
  width: 30px;
}

#menu_control {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

#menu_control:checked ~ header .mainNav {
  top: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu_control:checked ~ header .mainNav img {
  top: 10px;
}

.menubtn {
  display: block;
  width: 44px;
  position: absolute;
  height: 40px;
  top: 20px;
  right: 10px;
}

.mainNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: calc(-100vh - 80px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
}

.mainNav {
  padding-top: 25px;
  font-size: 24px;
  font-family: "wangHangMing";
}

.mainNav h1 img {
  position: fixed;
  top: 10px;
  left: 10px;
  width: auto;
  height: 60px;
}

.mainNav a {
  text-decoration: none;
  color: #ffffbd;
}

.mainNav li {
  margin: 30px auto;
  left: 0;
  right: 0;
  width: 150px;
  text-align: center;
  display: block;
  border-bottom: 30px solid  transparent;
  border-bottom-width: 30px;
  -o-border-image: url("../images/navTDD.png") 41 round;
     border-image: url("../images/navTDD.png") 41 round;
}

.mainNav .navMemBtn {
  position: fixed;
  top: 18px;
  right: 84px;
  font-size: 44px;
  height: 44px;
  width: 44px;
}

.mainNav .navMemBtn img {
  cursor: pointer;
  position: absolute;
  width: 34px;
}

.mainNav .navMemBtn img:hover {
  animation: jitter 5s linear infinite alternate-reverse;
}

.mainNav .navMemBtn p {
  display: none;
}

header {
  position: fixed;
  background-image: url("../images/navigatorM.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
  top: 0px;
  z-index: 101;
  -webkit-animation: headerNeon 1s infinite;
          animation: headerNeon 1s infinite;
}

footer {
  padding-top: 15px;
  width: 100%;
  height: 115px;
  background-image: url(../images/footerBgi.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

footer p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 0px;
}

footer div {
  text-align: center;
}

footer img {
  border-radius: 100%;
  margin: 4px;
  width: 36px;
}

@media screen and (min-width: 1200px) {
  #bigMember {
    -webkit-transform: translateY(-25%) translateX(-25%);
            transform: translateY(-25%) translateX(-25%);
  }
  .menubtn {
    display: none;
  }
  header {
    background-image: url("../images/navigator.svg");
    background-size: cover;
    background-position: center center;
    height: 130px;
  }
  .mainNav {
    padding: 0;
    background-color: initial;
    top: 0px;
    position: relative;
    max-width: 1200px;
    text-align: center;
    height: 110px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainNav .navMemBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    height: 24px;
    right: 0px;
    margin: 0;
    position: fixed;
    top: 38px;
  }
  .mainNav .navMemBtn img {
    height: 24px;
    width: 24px;
    text-align: center;
    position: initial;
    display: inline-block;
  }
  .mainNav .navMemBtn p {
    font-size: 16px;
    color: #2cffff;
    width: 100%;
    line-height: 16px;
    margin-top: 8px;
    cursor: pointer;
    display: block;
  }
  .mainNav li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 150px;
    vertical-align: top;
    display: inline-block;
    margin-top: 25px;
    border-bottom: initial;
  }
  .mainNav li:nth-child(4) {
    padding-right: 48px;
  }
  .mainNav li:nth-child(5) {
    padding-right: 93px;
  }
  .mainNav li a {
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDD.png") 30 41 round;
       border-image: url("../images/navTDD.png") 30 41 round;
    border-image-outset: 1px;
  }
  .mainNav li a:hover {
    color: #2cffff;
    -webkit-animation: lightShow .3s infinite alternate;
            animation: lightShow .3s infinite alternate;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDL.png") 30 41 round;
       border-image: url("../images/navTDL.png") 30 41 round;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .mainNav h1 {
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 5px;
    padding-top: 8px;
  }
  .mainNav h1 img {
    width: auto;
    position: initial;
    height: 95px;
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav h1 img:hover {
    -webkit-filter: drop-shadow(3px 3px 5px #66f);
            filter: drop-shadow(3px 3px 5px #66f);
    -webkit-animation: headerNeon 1s infinite;
            animation: headerNeon 1s infinite;
    -webkit-transform: scale(1.2) translateY(10px);
            transform: scale(1.2) translateY(10px);
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav i {
    color: #2cffff;
  }
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@-webkit-keyframes lightShow {
  0% {
    border-image: url("../images/navTDD.png") 30 41 round;
  }
  100% {
    border-image: url("../images/navTDL.png") 30 41 round;
  }
}

@keyframes lightShow {
  0% {
    -o-border-image: url("../images/navTDD.png") 30 41 round;
       border-image: url("../images/navTDD.png") 30 41 round;
  }
  100% {
    -o-border-image: url("../images/navTDL.png") 30 41 round;
       border-image: url("../images/navTDL.png") 30 41 round;
  }
}

@-webkit-keyframes jitter {
  0% {
    border-radius: 40% 55% 60% 45%;
  }
  20% {
    border-radius: 50% 40% 50% 60%;
  }
  40% {
    border-radius: 45% 50% 55% 50%;
  }
  60% {
    border-radius: 50% 35% 50% 65%;
  }
  80% {
    border-radius: 40% 45% 60% 55%;
  }
  100% {
    border-radius: 54% 50% 46% 40%;
  }
}

@keyframes jitter {
  0% {
    border-radius: 40% 55% 60% 45%;
  }
  20% {
    border-radius: 50% 40% 50% 60%;
  }
  40% {
    border-radius: 45% 50% 55% 50%;
  }
  60% {
    border-radius: 50% 35% 50% 65%;
  }
  80% {
    border-radius: 40% 45% 60% 55%;
  }
  100% {
    border-radius: 54% 50% 46% 40%;
  }
}

@-webkit-keyframes headerNeon {
  0% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
  }
  25% {
    -webkit-filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
            filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
            filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
  }
}

@keyframes headerNeon {
  0% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
  }
  25% {
    -webkit-filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
            filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
            filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
  }
}

@-webkit-keyframes processIntro {
  from {
    -webkit-transform: o;
            transform: o;
  }
  to {
    opacity: 0;
  }
}

@keyframes processIntro {
  from {
    -webkit-transform: o;
            transform: o;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes truck {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes truck {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@-webkit-keyframes colors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #2c3e50;
  }
  70% {
    background-color: #2c3e50;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@keyframes colors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #2c3e50;
  }
  70% {
    background-color: #2c3e50;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@-webkit-keyframes boxshadows {
  0% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  20% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  30% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  70% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  80% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
}

@keyframes boxshadows {
  0% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  20% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  30% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  70% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  80% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes starscolors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #ffffff;
  }
  70% {
    background-color: #ffffff;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@keyframes starscolors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #ffffff;
  }
  70% {
    background-color: #ffffff;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    display: none;
  }
}

@keyframes blurFadeInOut {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    display: none;
  }
}

@-webkit-keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
            transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
            transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@-webkit-keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
            transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
            transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@-webkit-keyframes reflect {
  0% {
    -webkit-filter: brightness(60%);
    -webkit-filter: hue-rotate(0);
  }
  50% {
    -webkit-filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(90%);
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes reflect {
  0% {
    opacity: 1;
    -webkit-filter: hue-rotate(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes scaleBox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes scaleBox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.commonBtn {
  font-size: 24px;
  font-family: "wangHangMing";
  width: 150px;
  height: 75px;
  background: #323;
  background-size: cover;
  color: #ffffbd;
  border-radius: 20px;
  line-height: 75px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 3px 4px #ffffbd, 0px 0px 15px #ffffbd;
          box-shadow: 0 0 3px 4px #ffffbd, 0px 0px 15px #ffffbd;
  z-index: 2;
  cursor: pointer;
}

.commonBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 2px 2px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 2px 2px #fff;
}

.commonBtnSmall {
  font-size: 16px;
  font-family: "wangHangMing";
  width: 100px;
  height: 60px;
  background: #002a4f;
  background-size: cover;
  color: #ffffbd;
  border-radius: 15px;
  line-height: 60px;
  border: none;
  outline: none;
  z-index: 2;
  -webkit-box-shadow: 0 0 2px 4px #ffffbd;
          box-shadow: 0 0 2px 4px #ffffbd;
  cursor: pointer;
}

.commonBtnSmall:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
}

#lightWrap {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loginBox, .loginbox1 {
  display: none;
  width: 300px;
  height: 350px;
  background: #000;
  border: 5px solid #17F4F0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  border-radius: 10px;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #17F4F0;
          box-shadow: 0 0 10px #17F4F0;
  -webkit-box-shadow: 0 0 10px  #eee inset;
          box-shadow: 0 0 10px  #eee inset;
}

.loginBox .fa-times, .loginbox1 .fa-times {
  color: #17F4F0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.loginBox .fa-times:hover, .loginbox1 .fa-times:hover {
  color: #eee;
}

.loginBox h3, .loginbox1 h3 {
  margin-top: 0px;
  font-size: 30px;
  color: #17F4F0;
}

.loginBox .inputBox, .loginbox1 .inputBox {
  background: #2d3631;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 15px;
}

.loginBox .inputBox i, .loginbox1 .inputBox i {
  color: #eee;
}

.loginBox .inputBox input, .loginbox1 .inputBox input {
  height: 20px;
  margin-left: 10px;
  width: 80%;
  background: #2d3631;
  outline: none;
  border: none;
  color: #eee;
}

.loginBox .commonBtnSmall, .loginbox1 .commonBtnSmall {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
}

.loginBox p, .loginbox1 p {
  margin-top: 20px;
  color: #17F4F0;
}

.loginBox p a, .loginbox1 p a {
  cursor: pointer;
  color: #17F4F0;
  text-decoration: none;
}

.loginBox p a:hover, .loginbox1 p a:hover {
  color: #f3d217;
}

.registeredBox {
  display: none;
  max-width: 450px;
  height: 500px;
  background: #000;
  border: 5px solid #17F4F0;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #17F4F0;
          box-shadow: 0 0 10px #17F4F0;
  -webkit-box-shadow: 0 0 10px  #666 inset;
          box-shadow: 0 0 10px  #666 inset;
  padding: 25px;
  text-align: center;
}

.registeredBox .fa-times {
  color: #17F4F0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.registeredBox .fa-times:hover {
  color: #000;
}

.registeredBox h3 {
  margin: 0;
  font-size: 30px;
  color: #17F4F0;
}

.registeredBox table {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #000;
  color: #eee;
  font-size: 18px;
}

.registeredBox table .prompt {
  font-size: 14px;
  color: #e26f6f;
}

.registeredBox table td, .registeredBox table th {
  padding: 5px;
}

.registeredBox table .commonBtnSmall {
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
}

.registeredBox table label {
  margin-right: 30px;
}

.registeredBox table label input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.registeredBox table label input:checked + i {
  color: #51F3F0;
}

.registeredBox table label i:hover {
  cursor: pointer;
}

.registeredBox div {
  margin-top: 10px;
  color: #17F4F0;
}

.registeredBox div input {
  margin-left: 20px;
}

.registeredBox div a {
  cursor: pointer;
}

.registeredBox div a:hover {
  color: #f3d217;
}

.forgotBox {
  display: none;
  width: 300px;
  height: 370px;
  background: #000;
  border: 5px solid #17F4F0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #17F4F0;
          box-shadow: 0 0 10px #17F4F0;
  -webkit-box-shadow: 0 0 10px  #666 inset;
          box-shadow: 0 0 10px  #666 inset;
  padding: 25px;
  text-align: center;
}

.forgotBox .fa-times {
  color: #17F4F0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.forgotBox .fa-times:hover {
  color: #f3d217;
}

.forgotBox h3 {
  margin: 0;
  font-size: 30px;
  color: #17F4F0;
}

.forgotBox p {
  margin-top: 10px;
  font-size: 16px;
  color: #eee;
}

.forgotBox div {
  margin-top: 40px;
  color: #17F4F0;
}

.forgotBox div input {
  margin-left: 20px;
}

.forgotBox div a {
  cursor: pointer;
}

.forgotBox div a:hover {
  color: #f3d217;
}

.forgotBox .commonBtnSmall {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
}

#IdStatus {
  display: none;
}

.titleBgi {
  position: relative;
  font-size: 32px;
  font-family: "wangHangMing";
  text-align: center;
  line-height: 80px;
  width: 200px;
  height: 80px;
  background: url(../images/titleNeonLightBlueNew.gif) center no-repeat;
  background-size: cover;
  color: #ffffbd;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 10px auto;
}

@media screen and (min-width: 1200px) {
  .titleBgi {
    margin-top: 20px;
    margin-left: 24vw;
  }
}

/* item content */
.owl-carousel {
  z-index: 0;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -40px;
}

.owl-nav .owl-next {
  right: -40px;
}

.blackBox {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.blackBox .envelopeLightBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 425px;
}

.blackBox .envelopeLightBox #hiddenEnvelopeLightBox {
  color: #fff;
  position: absolute;
  right: 0px;
  top: -40px;
  cursor: pointer;
}

.blackBox .envelopeLightBox #hiddenEnvelopeLightBox:hover {
  color: yellow;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blackBox .envelopeLightBox #envelopeIcon {
  width: 40px;
  position: absolute;
  right: 40px;
  top: -50px;
  cursor: pointer;
}

.blackBox .envelopeLightBox #envelopeIcon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blackBox .envelopeLightBox #QrcodeIcon {
  position: absolute;
  right: 90px;
  top: -50px;
  cursor: pointer;
}

.blackBox .envelopeLightBox #QrcodeIcon img {
  width: 40px;
}

.blackBox .envelopeLightBox #QrcodeIcon div {
  background: #fff;
  position: absolute;
  display: none;
  top: 50px;
  left: 0;
}

.blackBox .envelopeLightBox #QrcodeIcon div p {
  width: 60px;
  padding: 0 10px;
}

.blackBox .envelopeLightBox #QrcodeIcon div p:hover {
  background: #2ee9f0;
  color: yellow;
}

.blackBox .envelopeLightBox #QrcodeIcon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blackBox .envelopeLightBox .flyerArea {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 10px 20px #000;
          box-shadow: 0 10px 20px #000;
}

.blackBox .envelopeLightBox .flyerArea img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.blackBox .envelopeLightBox .flyerArea .envelopeHeader {
  background: #E52264;
  line-height: 2;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  position: absolute;
  bottom: -200%;
  left: -20px;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 10px 20px #000;
          box-shadow: 0 10px 20px #000;
}

.blackBox .envelopeLightBox .flyerArea .envelopeHeader::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: #a51948;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  position: absolute;
  top: -15px;
  left: 7px;
  z-index: -1;
}

.blackBox .envelopeLightBox .flyerArea .envelopeHeader h4 {
  font-size: 24px;
}

.blackBox .envelopeLightBox .envelopeContent {
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 10px 20px #000, 0 5px 5px black inset;
          box-shadow: 0 10px 20px #000, 0 5px 5px black inset;
  position: absolute;
  left: -150%;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  background: #fff;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eed12f;
  line-height: 2;
  color: #222;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: -20px;
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 5px 10px #666;
          box-shadow: 0 5px 10px #666;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeTitle .titleImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeTitle .titleImg img {
  width: 100%;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeTitle .titleName p {
  font-weight: bold;
  padding: 0 10px;
  font-size: 21px;
  line-height: 1.5;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeTitle .titleName span {
  color: #666;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1.5;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeTitle .titleName span mark {
  font-size: 24px;
  background: none;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeDetail {
  margin-top: 70px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeDetail p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 5px;
  line-height: 1;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeDetail span {
  line-height: 1.5;
  padding: 0 5px;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeBar {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blackBox .envelopeLightBox .envelopeContent .envelopeBar button {
  outline: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .blackBox .envelopeLightBox #hiddenEnvelopeLightBox {
    right: -40px;
    top: 10px;
  }
  .blackBox .envelopeLightBox #envelopeIcon {
    right: -50px;
    top: 50px;
  }
  .blackBox .envelopeLightBox #QrcodeIcon {
    right: -50px;
    top: 100px;
  }
}

/* 宣傳單燈箱HTML */
/* 宣傳單燈箱JS */
.firstScreen {
  background: #000 center;
  background-size: cover;
  margin: 0;
  position: relative;
}

.firstScreen .wrap {
  margin: auto;
}

.firstScreen .wrap .titleBgi {
  opacity: 0;
}

.firstScreen #selectOpen {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 50;
}

.firstScreen #selectOpen #selectOpenBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 30px;
  border: 3px solid #69CAF5;
  padding: 20px;
  -webkit-box-shadow: 0 0 50px 50px #e2e2e2 inset;
          box-shadow: 0 0 50px 50px #e2e2e2 inset;
  text-align: center;
}

.firstScreen #selectOpen #selectOpenBox h3 {
  background-blend-mode: screen;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  color: #69CAF5;
  margin-bottom: 15px;
}

.firstScreen #selectOpen #selectOpenBox button {
  position: absolute;
  margin-top: 10px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20px;
}

.firstScreen #selectOpen #selectOpenBox label div {
  margin: auto;
  width: 50px;
  height: 25px;
  background: #555;
  border-radius: 25px;
  display: block;
  position: relative;
  cursor: pointer;
}

.firstScreen #selectOpen #selectOpenBox label div:after {
  content: '';
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: .5px solid #666;
  display: block;
  width: 25px;
  border-radius: 20px;
  height: 25px;
  position: absolute;
}

.firstScreen #selectOpen #selectOpenBox label input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.firstScreen #selectOpen #selectOpenBox label input:checked + div {
  background: #69CAF5;
}

.firstScreen #selectOpen #selectOpenBox label input:checked + div:after {
  right: 0;
}

.firstScreen .stepsBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.firstScreen .stepsBar .stepBox {
  text-align: center;
  cursor: pointer;
  margin-top: 130px;
}

.firstScreen .stepsBar .stepBox:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.firstScreen .stepsBar .stepBox .circle {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  line-height: 25px;
  text-align: center;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 2px 3px #c0d1ff inset, 0 0 3px #01336d, 0 0 3px #2439af, 0 0 3px #1923b3, 0 0 3px #1f2ca7, 0 0 7px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 5px 5px #d4daf7 inset, 0 0 10px 10px #132b6e, 0 0 10px 10px #132b6e inset;
          box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 2px 3px #c0d1ff inset, 0 0 3px #01336d, 0 0 3px #2439af, 0 0 3px #1923b3, 0 0 3px #1f2ca7, 0 0 7px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 5px 5px #d4daf7 inset, 0 0 10px 10px #132b6e, 0 0 10px 10px #132b6e inset;
  border-radius: 50%;
  margin: 10px auto 10px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  position: relative;
  z-index: 1;
}

.firstScreen .stepsBar .stepBox .step {
  font-size: 24px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 35px;
  -webkit-box-shadow: 0 0 30px #fff, 0 0 0 1px #fff;
          box-shadow: 0 0 30px #fff, 0 0 0 1px #fff;
  margin: 5px auto;
  -webkit-box-shadow: 0 0 5px 1px #b0b172, 0 0 5px 1px #626d01 inset, 0 0 2px 3px #fff3c0, 0 0 2px 3px #fbffc0 inset, 0 0 3px #6d6201, 0 0 3px #afad24, 0 0 3px #b3a919, 0 0 3px #a78e1f, 0 0 7px #c4b97b, 0 0 5px 5px #f7f7d4, 0 0 5px 5px #f7f7d4 inset, 0 0 10px 10px #6c6e13, 0 0 10px 10px #6e6c13 inset;
          box-shadow: 0 0 5px 1px #b0b172, 0 0 5px 1px #626d01 inset, 0 0 2px 3px #fff3c0, 0 0 2px 3px #fbffc0 inset, 0 0 3px #6d6201, 0 0 3px #afad24, 0 0 3px #b3a919, 0 0 3px #a78e1f, 0 0 7px #c4b97b, 0 0 5px 5px #f7f7d4, 0 0 5px 5px #f7f7d4 inset, 0 0 10px 10px #6c6e13, 0 0 10px 10px #6e6c13 inset;
}

.firstScreen .stepsBar .stepBox p {
  margin-top: 20px;
  color: #fff;
}

.firstScreen .stepsBar .stepBox .step + p {
  color: #e2d984;
  margin-top: 15px;
}

.firstScreen .doIt {
  margin-top: 20px;
  position: relative;
  padding: 20px;
}

.firstScreen .doIt .clothCurtain {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.firstScreen .doIt .clothCurtain div:nth-of-type(1) {
  width: 100%;
  height: 50%;
  margin: auto;
}

.firstScreen .doIt .clothCurtain div:nth-of-type(1) p {
  width: 100%;
  height: 100%;
  padding: 40px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: auto;
}

.firstScreen .doIt .clothCurtain div:nth-of-type(2) {
  text-align: center;
}

.firstScreen .doIt .clothCurtain div:nth-of-type(2) .commonBtnSmall {
  margin-left: 20px;
  outline: none;
}

.firstScreen .doIt .backBlock {
  border: 3px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 2px 3px #c0d1ff inset, 0 0 5px #01336d, 0 0 5px #2439af, 0 0 5px #1923b3, 0 0 5px #1f2ca7, 0 0 10px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 5px 5px #d4daf7 inset, 0 0 15px 15px #132b6e, 0 0 15px 15px #132b6e inset;
          box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 2px 3px #c0d1ff inset, 0 0 5px #01336d, 0 0 5px #2439af, 0 0 5px #1923b3, 0 0 5px #1f2ca7, 0 0 10px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 5px 5px #d4daf7 inset, 0 0 15px 15px #132b6e, 0 0 15px 15px #132b6e inset;
  margin: auto;
  width: 100%;
  padding-top: 71.3947990543735%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 2px 3px #c0d1ff inset, 0 0 5px #01336d, 0 0 5px #2439af, 0 0 5px #1923b3, 0 0 5px #1f2ca7, 0 0 10px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 5px 5px #d4daf7 inset, 0 0 15px 15px #132b6e, 0 0 15px 15px #132b6e inset;
  width: 100%;
  padding: 20px;
}

.firstScreen .doIt .backBlock #A4page {
  margin: auto;
  width: 150px;
  height: 212.142857142857px;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  position: relative;
  margin-bottom: 10px;
}

.firstScreen .doIt .backBlock #A4page img {
  height: 100%;
}

.firstScreen .doIt .backBlock #A4page h5 {
  position: absolute;
  top: 5px;
  left: 5px;
  text-shadow: 0 0 1px #000;
}

.firstScreen .doIt .backBlock #A4page #A4qrcode {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.firstScreen .doIt .backBlock #A4page #A4qrcode img {
  width: 40px;
  height: 40px;
}

.firstScreen .doIt .backBlock #moveBtn {
  text-align: center;
  padding: 10px;
}

.firstScreen .doIt .backBlock #moveBtn span {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.firstScreen .doIt .backBlock #moveBtn span:hover {
  color: yellow;
}

.firstScreen .doIt .backBlock #tool {
  margin: auto;
  text-align: center;
}

.firstScreen .doIt .backBlock #tool i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.firstScreen .doIt .backBlock #tool i:hover {
  color: yellow;
}

.firstScreen .doIt .backBlock #tool i:last-of-type {
  margin-right: 0px;
}

.firstScreen .doIt .backBlock #tool #colorPicker {
  display: none;
  position: absolute;
  width: 210px;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 20px;
  right: 20px;
  z-index: 50;
}

.firstScreen .doIt .backBlock #tool #colorPicker div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.firstScreen .doIt .backBlock #tool #colorPicker input {
  width: 70%;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #666;
}

.firstScreen .doIt .whiteBlock {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
}

.firstScreen .doIt .whiteBlock div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstScreen .doIt .whiteBlock div:nth-of-type(1) h4 {
  display: inline-block;
  text-align: center;
  border: 2px solid #fff;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color: #fff;
  width: 25%;
  cursor: pointer;
}

.firstScreen .doIt .whiteBlock div:nth-of-type(1) h4:hover {
  border-color: #aaf;
}

.firstScreen .doIt .whiteBlock div:nth-of-type(1) .doNow {
  color: yellow;
  z-index: 0;
  -webkit-box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 3px #01336d, 0 0 3px #2439af, 0 0 3px #1923b3, 0 0 3px #1f2ca7, 0 0 7px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 10px 10px #132b6e inset;
          box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 3px #01336d, 0 0 3px #2439af, 0 0 3px #1923b3, 0 0 3px #1f2ca7, 0 0 7px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 10px 10px #132b6e inset;
}

.firstScreen .doIt .whiteBlock #toolBox {
  background: #fff;
  outline: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 5px #01336d, 0 0 5px #2439af, 0 0 5px #1923b3, 0 0 5px #1f2ca7, 0 0 10px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 15px 15px #132b6e;
          box-shadow: 0 0 5px 1px #728fb1, 0 0 5px 1px #01336d inset, 0 0 2px 3px #c0dbff, 0 0 5px #01336d, 0 0 5px #2439af, 0 0 5px #1923b3, 0 0 5px #1f2ca7, 0 0 10px #7b9bc4, 0 0 5px 5px #d4e6f7, 0 0 15px 15px #132b6e;
}

.firstScreen .doIt .whiteBlock #toolBox #toolinnerBox {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScreen .doIt .whiteBlock #toolBox #toolinnerBox label {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScreen .doIt .whiteBlock #toolBox #toolinnerBox label img {
  height: 50%;
}

.firstScreen .doIt .whiteBlock #toolBox #toolinnerBox label input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.firstScreen .doIt .whiteBlock #toolBox #toolinnerBox img {
  height: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.firstScreen .doIt .whiteBlock #toolBox #selectDay {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.firstScreen .doIt .whiteBlock #toolBox #selectDay label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.firstScreen .doIt .whiteBlock #toolBox #selectDay label img {
  cursor: pointer;
  height: 70%;
}

.firstScreen .doIt .whiteBlock #toolBox #selectDay label input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.firstScreen .doIt .whiteBlock #toolBox #selectDay p {
  font-size: 20px;
}

.firstScreen .doIt .whiteBlock #toolBox #textPlace {
  padding: 0px 20px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.firstScreen .doIt .whiteBlock #toolBox #textPlace p {
  font-size: 14px;
}

.firstScreen .doIt .whiteBlock #toolBox #textPlace input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  line-height: 30px;
  outline: none;
  padding: 0 20px;
  border: 2px solid #728fb1;
}

.firstScreen .doIt .whiteBlock #toolBox #textPlace #QRCODE {
  margin: 0 5px;
}

.firstScreen .doIt .whiteBlock #toolBox #textWord {
  padding: 20px;
  display: none;
}

.firstScreen .doIt .whiteBlock #toolBox #textWord textarea {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.firstScreen .doIt .whiteBlock .btnBar {
  margin: auto;
  text-align: center;
}

.firstScreen .doIt .whiteBlock .btnBar button {
  margin-top: 20px;
  margin-right: 50px;
  outline: none;
}

.firstScreen .doIt .whiteBlock .btnBar button:last-of-type {
  margin-right: 0px;
}

.secScreen {
  background: url(../images/bkground/flyerbg3.jpeg) center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.secScreen .titleBgi {
  opacity: 0;
  display: fixed;
  background-image: url("../images/titleNeonLightBlueNew.gif");
}

.secScreen .wrap {
  max-width: 1200px;
  height: 2600px;
  margin: auto;
  z-index: 0;
  position: relative;
}

.secScreen .wrap .bigCarcouselBox .card .ElongationBox .cardContent {
  padding: 20px;
}

.secScreen .wrap .bigCarcouselBox .card .ElongationBox .cardContent tr th {
  text-align: left;
  width: 30%;
  padding: 10px 0;
}

.secScreen .wrap .bigCarcouselBox .card .ElongationBox .cardContent tr td {
  width: 70%;
  text-align: justify;
  padding: 10px 0;
}

.secScreen .wrap .bigCarcouselBox .card .ElongationBox .cardContent tr td button {
  float: right;
  outline: none;
  height: 30px;
  width: 50px;
  line-height: 30px;
  padding: 5px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.secScreen .wrap .owl-carousel {
  z-index: 0;
  bottom: 0;
  position: absolute;
}

.secScreen .wrap .owl-carousel .item {
  cursor: pointer;
}

.secScreen .wrap .owl-carousel .item:hover {
  width: 110%;
  -webkit-transition: 1s;
  transition: 1s;
}

.thrScreen {
  cursor: url(./cur2.ico), auto;
  background: #000;
  padding-top: 20px;
  padding-bottom: 100px;
}

.thrScreen .titleBgi {
  background-image: url("../images/titleNeonLightDarkBlueNew.gif");
  margin-top: 0;
  margin-bottom: 50px;
  opacity: 0;
}

.thrScreen .wrap {
  max-width: 1200px;
  margin: auto;
}

.thrScreen .wrap ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.thrScreen .wrap li {
  list-style: none;
  padding: 0;
  margin: 0 40px 15px 0;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.thrScreen .wrap li img {
  width: 210px;
  height: 297px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .firstScreen {
    min-height: 100vh;
  }
  .firstScreen .wrap .stepsBar {
    width: 50%;
  }
  .firstScreen .wrap .stepsBar .stepBox .circle {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 21px;
  }
  .firstScreen .wrap .stepsBar .stepBox .step {
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 30px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .firstScreen .wrap .stepsBar .stepBox p {
    margin-top: 30px;
    font-size: 18px;
  }
  .firstScreen .wrap .stepsBar .stepBox .step + p {
    margin-top: 15px;
  }
  .firstScreen .wrap .doIt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 50%;
    margin: auto;
    max-width: 1200px;
    padding: 30px;
  }
  .firstScreen .wrap .doIt .clothCurtain div:nth-of-type(1) p {
    width: 50%;
  }
  .firstScreen .wrap .doIt .backBlock {
    width: 50%;
    margin: 0;
  }
  .firstScreen .wrap .doIt .backBlock #A4page {
    width: 250px;
    height: 353.571428571287px;
  }
  .firstScreen .wrap .doIt .whiteBlock {
    width: 40%;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox {
    height: 295px;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #toolinnerBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-y: auto;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #toolinnerBox label {
    height: 70px;
    display: inline;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #toolinnerBox label img {
    height: 100%;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #toolinnerBox img {
    height: 25%;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #selectDay label {
    height: 30%;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #selectDay p {
    font-size: 24px;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #textPlace {
    padding: 20px;
    display: none;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #textPlace input {
    width: 50%;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #textPlace p {
    font-size: 21px;
    text-align: center;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #textPlace #QRCODE {
    margin-top: 10px;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #textPlace #QRCODE canvas {
    margin: auto;
    width: 150px;
    height: 150px;
  }
  .firstScreen .wrap .doIt .whiteBlock #toolBox #textWord textarea {
    font-size: 16px;
    width: 100%;
    height: 250px;
  }
  .firstScreen .wrap .doIt .whiteBlock .btnBar {
    margin-top: 20px;
  }
  .firstScreen .wrap .doIt .whiteBlock .btnBar button {
    margin-right: 20px;
  }
  .thrScreen .titleBgi {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    margin-top: 80px;
  }
  .thrScreen .wrap ul li img {
    width: 201px;
    height: 284px;
  }
}

@media screen and (min-width: 1200px) {
  .firstScreen .wrap .stepsBar {
    width: 30%;
  }
  .firstScreen .wrap .stepsBar .stepBox .circle {
    width: 50px;
    height: 50px;
    line-height: 45px;
  }
  .firstScreen .wrap .stepsBar .stepBox .step {
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 30px;
  }
  .firstScreen .wrap .doIt {
    max-width: 50%;
    margin: auto;
    max-width: 1200px;
    padding: 30px;
  }
  .firstScreen .wrap .doIt .whiteBlock {
    width: 30%;
  }
}

.bigCarcouselBox {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 0;
  width: 300px;
  height: 423.98px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: absolute;
}

.bigCarcouselBox .card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 423.98px;
  width: 300px;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
  cursor: pointer;
}

.bigCarcouselBox .card .ElongationBox {
  height: 423.98px;
  width: 300px;
  position: relative;
}

.bigCarcouselBox .card .ElongationBox .blockBox {
  height: 423.98px;
  width: 300px;
  background: url(../images/flyer/flyerBoard.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.bigCarcouselBox .card .ElongationBox .blockBox img:nth-of-type(1) {
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.bigCarcouselBox .card .ElongationBox .blockBox img:nth-of-type(2) {
  width: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.bigCarcouselBox .card .ElongationBox .blockBox img:nth-of-type(3) {
  width: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.bigCarcouselBox .card .cardContent {
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 20px #666 inset;
          box-shadow: 0 0 20px #666 inset;
}

.bigCarcouselBox .card.one {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  z-index: 4;
}

.bigCarcouselBox .card.two {
  z-index: 3;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.bigCarcouselBox .card.three {
  z-index: 2;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.bigCarcouselBox:hover .card.two {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
}

.bigCarcouselBox:hover .card.three {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}
/*# sourceMappingURL=flyer.css.map */