@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "wangHangMing","Microsoft JhengHei";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "wangHangMing";
  src: url("../font/WCL-02.ttf");
}

@font-face {
  font-family: "微軟正黑體";
  src: "https://fonts.googleapis.com/css?family=Noto+Sans+TC";
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-icon2 {
  height: 44px;
  cursor: pointer;
}

#bigMember {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #2cffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 0px;
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 6px);
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 0px;
  top: 26px;
  width: 30px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 6px);
  top: 26px;
  width: 30px;
}

#menu_control {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

#menu_control:checked ~ header .mainNav {
  top: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu_control:checked ~ header .mainNav img {
  top: 10px;
}

.menubtn {
  display: block;
  width: 44px;
  position: absolute;
  height: 40px;
  top: 20px;
  right: 10px;
}

.mainNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: calc(-100vh - 80px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
}

.mainNav {
  padding-top: 25px;
  font-size: 24px;
  font-family: "wangHangMing";
}

.mainNav h1 img {
  position: fixed;
  top: 10px;
  left: 10px;
  width: auto;
  height: 60px;
}

.mainNav a {
  text-decoration: none;
  color: #ffffbd;
}

.mainNav li {
  margin: 30px auto;
  left: 0;
  right: 0;
  width: 150px;
  text-align: center;
  display: block;
  border-bottom: 30px solid  transparent;
  border-bottom-width: 30px;
  -o-border-image: url("../images/navTDD.png") 41 round;
     border-image: url("../images/navTDD.png") 41 round;
}

.mainNav .navMemBtn {
  position: fixed;
  top: 18px;
  right: 84px;
  font-size: 44px;
  height: 44px;
  width: 44px;
}

.mainNav .navMemBtn img {
  cursor: pointer;
  position: absolute;
  width: 34px;
}

.mainNav .navMemBtn img:hover {
  animation: jitter 5s linear infinite alternate-reverse;
}

.mainNav .navMemBtn p {
  display: none;
}

header {
  position: fixed;
  background-image: url("../images/navigatorM.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
  top: 0px;
  z-index: 99;
  -webkit-animation: headerNeon 1s infinite;
          animation: headerNeon 1s infinite;
}

footer {
  padding-top: 15px;
  width: 100%;
  height: 115px;
  background-image: url(../images/footerBgi.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

footer p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 0px;
}

footer div {
  text-align: center;
}

footer img {
  border-radius: 100%;
  margin: 4px;
  width: 36px;
}

@media screen and (min-width: 1200px) {
  #bigMember {
    -webkit-transform: translateY(-25%) translateX(-25%);
            transform: translateY(-25%) translateX(-25%);
  }
  .menubtn {
    display: none;
  }
  header {
    background-image: url("../images/navigator.svg");
    background-size: cover;
    background-position: center center;
    height: 130px;
  }
  .mainNav {
    padding: 0;
    background-color: initial;
    top: 0px;
    position: relative;
    max-width: 1200px;
    text-align: center;
    height: 110px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainNav .navMemBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    height: 24px;
    right: 0px;
    margin: 0;
    position: fixed;
    top: 38px;
  }
  .mainNav .navMemBtn img {
    height: 24px;
    width: 24px;
    text-align: center;
    position: initial;
    display: inline-block;
  }
  .mainNav .navMemBtn p {
    font-size: 16px;
    color: #2cffff;
    width: 100%;
    line-height: 16px;
    margin-top: 8px;
    cursor: pointer;
    display: block;
  }
  .mainNav li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 150px;
    vertical-align: top;
    display: inline-block;
    margin-top: 25px;
    border-bottom: initial;
  }
  .mainNav li:nth-child(4) {
    padding-right: 48px;
  }
  .mainNav li:nth-child(5) {
    padding-right: 93px;
  }
  .mainNav li a {
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDD.png") 30 41 round;
       border-image: url("../images/navTDD.png") 30 41 round;
    border-image-outset: 1px;
  }
  .mainNav li a:hover {
    color: #2cffff;
    -webkit-animation: lightShow .3s infinite alternate;
            animation: lightShow .3s infinite alternate;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDL.png") 30 41 round;
       border-image: url("../images/navTDL.png") 30 41 round;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .mainNav h1 {
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 5px;
    padding-top: 8px;
  }
  .mainNav h1 img {
    width: auto;
    position: initial;
    height: 95px;
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav h1 img:hover {
    -webkit-filter: drop-shadow(3px 3px 5px #66f);
            filter: drop-shadow(3px 3px 5px #66f);
    -webkit-animation: headerNeon 1s infinite;
            animation: headerNeon 1s infinite;
    -webkit-transform: scale(1.2) translateY(10px);
            transform: scale(1.2) translateY(10px);
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav i {
    color: #2cffff;
  }
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@-webkit-keyframes lightShow {
  0% {
    border-image: url("../images/navTDD.png") 30 41 round;
  }
  100% {
    border-image: url("../images/navTDL.png") 30 41 round;
  }
}

@keyframes lightShow {
  0% {
    -o-border-image: url("../images/navTDD.png") 30 41 round;
       border-image: url("../images/navTDD.png") 30 41 round;
  }
  100% {
    -o-border-image: url("../images/navTDL.png") 30 41 round;
       border-image: url("../images/navTDL.png") 30 41 round;
  }
}

@-webkit-keyframes jitter {
  0% {
    border-radius: 40% 55% 60% 45%;
  }
  20% {
    border-radius: 50% 40% 50% 60%;
  }
  40% {
    border-radius: 45% 50% 55% 50%;
  }
  60% {
    border-radius: 50% 35% 50% 65%;
  }
  80% {
    border-radius: 40% 45% 60% 55%;
  }
  100% {
    border-radius: 54% 50% 46% 40%;
  }
}

@keyframes jitter {
  0% {
    border-radius: 40% 55% 60% 45%;
  }
  20% {
    border-radius: 50% 40% 50% 60%;
  }
  40% {
    border-radius: 45% 50% 55% 50%;
  }
  60% {
    border-radius: 50% 35% 50% 65%;
  }
  80% {
    border-radius: 40% 45% 60% 55%;
  }
  100% {
    border-radius: 54% 50% 46% 40%;
  }
}

@-webkit-keyframes headerNeon {
  0% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
  }
  25% {
    -webkit-filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
            filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
            filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
  }
}

@keyframes headerNeon {
  0% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
  }
  25% {
    -webkit-filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
            filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
            filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
  }
}

@-webkit-keyframes processIntro {
  from {
    -webkit-transform: o;
            transform: o;
  }
  to {
    opacity: 0;
  }
}

@keyframes processIntro {
  from {
    -webkit-transform: o;
            transform: o;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes truck {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes truck {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@-webkit-keyframes colors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #2c3e50;
  }
  70% {
    background-color: #2c3e50;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@keyframes colors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #2c3e50;
  }
  70% {
    background-color: #2c3e50;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@-webkit-keyframes boxshadows {
  0% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  20% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  30% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  70% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  80% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
}

@keyframes boxshadows {
  0% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  20% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  30% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  70% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  80% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes starscolors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #ffffff;
  }
  70% {
    background-color: #ffffff;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@keyframes starscolors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #ffffff;
  }
  70% {
    background-color: #ffffff;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    display: none;
  }
}

@keyframes blurFadeInOut {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    display: none;
  }
}

@-webkit-keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
            transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
            transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@-webkit-keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
            transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
            transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@-webkit-keyframes reflect {
  0% {
    -webkit-filter: brightness(60%);
    -webkit-filter: hue-rotate(0);
  }
  50% {
    -webkit-filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(90%);
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes reflect {
  0% {
    opacity: 1;
    -webkit-filter: hue-rotate(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes scaleBox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes scaleBox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.commonBtn {
  font-size: 24px;
  font-family: "wangHangMing";
  width: 150px;
  height: 75px;
  background: #323;
  background-size: cover;
  color: #ffffbd;
  border-radius: 20px;
  line-height: 75px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 3px 4px #ffffbd, 0px 0px 15px #ffffbd;
          box-shadow: 0 0 3px 4px #ffffbd, 0px 0px 15px #ffffbd;
  z-index: 2;
  cursor: pointer;
}

.commonBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 2px 2px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 2px 2px #fff;
}

.commonBtnSmall {
  font-size: 16px;
  font-family: "wangHangMing";
  width: 100px;
  height: 60px;
  background: #002a4f;
  background-size: cover;
  color: #ffffbd;
  border-radius: 15px;
  line-height: 60px;
  border: none;
  outline: none;
  z-index: 2;
  -webkit-box-shadow: 0 0 2px 4px #ffffbd;
          box-shadow: 0 0 2px 4px #ffffbd;
  cursor: pointer;
}

.commonBtnSmall:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
}

#lightWrap {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loginBox, .loginbox1 {
  display: none;
  width: 300px;
  height: 350px;
  background: #000;
  border: 5px solid #17F4F0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  border-radius: 10px;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #17F4F0;
          box-shadow: 0 0 10px #17F4F0;
  -webkit-box-shadow: 0 0 10px  #eee inset;
          box-shadow: 0 0 10px  #eee inset;
}

.loginBox .fa-times, .loginbox1 .fa-times {
  color: #17F4F0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.loginBox .fa-times:hover, .loginbox1 .fa-times:hover {
  color: #eee;
}

.loginBox h3, .loginbox1 h3 {
  margin-top: 0px;
  font-size: 30px;
  color: #17F4F0;
}

.loginBox .inputBox, .loginbox1 .inputBox {
  background: #2d3631;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 15px;
}

.loginBox .inputBox i, .loginbox1 .inputBox i {
  color: #eee;
}

.loginBox .inputBox input, .loginbox1 .inputBox input {
  height: 20px;
  margin-left: 10px;
  width: 80%;
  background: #2d3631;
  outline: none;
  border: none;
  color: #eee;
}

.loginBox .commonBtnSmall, .loginbox1 .commonBtnSmall {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
}

.loginBox p, .loginbox1 p {
  margin-top: 20px;
  color: #17F4F0;
}

.loginBox p a, .loginbox1 p a {
  cursor: pointer;
  color: #17F4F0;
  text-decoration: none;
}

.loginBox p a:hover, .loginbox1 p a:hover {
  color: #f3d217;
}

.registeredBox {
  display: none;
  max-width: 450px;
  height: 500px;
  background: #000;
  border: 5px solid #17F4F0;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #17F4F0;
          box-shadow: 0 0 10px #17F4F0;
  -webkit-box-shadow: 0 0 10px  #666 inset;
          box-shadow: 0 0 10px  #666 inset;
  padding: 25px;
  text-align: center;
}

.registeredBox .fa-times {
  color: #17F4F0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.registeredBox .fa-times:hover {
  color: #000;
}

.registeredBox h3 {
  margin: 0;
  font-size: 30px;
  color: #17F4F0;
}

.registeredBox table {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #000;
  color: #eee;
  font-size: 18px;
}

.registeredBox table .prompt {
  font-size: 14px;
  color: #e26f6f;
}

.registeredBox table td, .registeredBox table th {
  padding: 5px;
}

.registeredBox table .commonBtnSmall {
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
}

.registeredBox table label {
  margin-right: 30px;
}

.registeredBox table label input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.registeredBox table label input:checked + i {
  color: #51F3F0;
}

.registeredBox table label i:hover {
  cursor: pointer;
}

.registeredBox div {
  margin-top: 10px;
  color: #17F4F0;
}

.registeredBox div input {
  margin-left: 20px;
}

.registeredBox div a {
  cursor: pointer;
}

.registeredBox div a:hover {
  color: #f3d217;
}

.forgotBox {
  display: none;
  width: 300px;
  height: 370px;
  background: #000;
  border: 5px solid #17F4F0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #17F4F0;
          box-shadow: 0 0 10px #17F4F0;
  -webkit-box-shadow: 0 0 10px  #666 inset;
          box-shadow: 0 0 10px  #666 inset;
  padding: 25px;
  text-align: center;
}

.forgotBox .fa-times {
  color: #17F4F0;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.forgotBox .fa-times:hover {
  color: #f3d217;
}

.forgotBox h3 {
  margin: 0;
  font-size: 30px;
  color: #17F4F0;
}

.forgotBox p {
  margin-top: 10px;
  font-size: 16px;
  color: #eee;
}

.forgotBox div {
  margin-top: 40px;
  color: #17F4F0;
}

.forgotBox div input {
  margin-left: 20px;
}

.forgotBox div a {
  cursor: pointer;
}

.forgotBox div a:hover {
  color: #f3d217;
}

.forgotBox .commonBtnSmall {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
}

#IdStatus {
  display: none;
}

.titleBgi {
  position: relative;
  font-size: 32px;
  font-family: "wangHangMing";
  text-align: center;
  line-height: 80px;
  width: 200px;
  height: 80px;
  background: url(../images/titleNeonLightBlueNew.gif) center no-repeat;
  background-size: cover;
  color: #ffffbd;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 10px auto;
}

@media screen and (min-width: 1200px) {
  .titleBgi {
    margin-top: 20px;
    margin-left: 24vw;
  }
}

* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#canvasScene {
  /* display: block; */
  overflow: hidden;
  /* position: absolute; */
}

.introTime {
  background-image: url(../images/intro/introBg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding-top: 35px;
  margin-top: 75px;
  position: relative;
}

.introTime .introStage {
  background-image: url(../images/intro/introstage.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 600px;
  position: relative;
  top: 0%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 40px;
}

.introTime .introStage .people .peopleFirst, .introTime .introStage .people .peopleSec, .introTime .introStage .people .peopleThree, .introTime .introStage .people .peopleFourth, .introTime .introStage .people .peopleFiv {
  width: 17%;
  position: absolute;
}

.introTime .introStage .people .peopleFirst {
  top: 19%;
  left: 44%;
  z-index: 10;
}

.introTime .introStage .people .peopleFirst:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #dfdfdf);
          filter: drop-shadow(0px 0px 20px #dfdfdf);
}

.introTime .introStage .people .peopleSec {
  z-index: 9;
  top: 19%;
  left: 31%;
}

.introTime .introStage .people .peopleSec:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #dfdfdf);
          filter: drop-shadow(0px 0px 20px #dfdfdf);
}

.introTime .introStage .people .peopleThree {
  top: 19%;
  left: 18%;
}

.introTime .introStage .people .peopleThree:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #dfdfdf);
          filter: drop-shadow(0px 0px 20px #dfdfdf);
}

.introTime .introStage .people .peopleFourth {
  z-index: 9;
  top: 19%;
  left: 57%;
}

.introTime .introStage .people .peopleFourth:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #dfdfdf);
          filter: drop-shadow(0px 0px 20px #dfdfdf);
}

.introTime .introStage .people .peopleFiv {
  top: 19%;
  left: 69%;
}

.introTime .introStage .people .peopleFiv:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #dfdfdf);
          filter: drop-shadow(0px 0px 20px #dfdfdf);
}

.introTime .introStage .led {
  position: absolute;
  left: 34%;
  width: 30%;
  height: 5%;
  border: 5px solid transparent;
}

.introTime .introStage .led marquee {
  color: aqua;
  font-size: 12px;
}

@media all and (min-width: 768px) {
  .introTime .introStage .people .peopleFirst {
    top: 39%;
  }
  .introTime .introStage .people .peopleSec {
    top: 39%;
  }
  .introTime .introStage .people .peopleThree {
    top: 39%;
  }
  .introTime .introStage .people .peopleFourth {
    top: 41%;
  }
  .introTime .introStage .people .peopleFiv {
    top: 39%;
  }
  .introTime .introStage .led {
    top: .5%;
  }
  .introTime .introStage .led marquee {
    font-size: 12px;
  }
}

@media all and (min-width: 992px) {
  .introTime .introStage {
    width: 80%;
  }
  .introTime .introStage .people .peopleFirst {
    top: 43%;
  }
  .introTime .introStage .people .peopleSec {
    top: 43%;
  }
  .introTime .introStage .people .peopleThree {
    top: 43%;
  }
  .introTime .introStage .people .peopleFourth {
    top: 43%;
  }
  .introTime .introStage .people .peopleFiv {
    top: 43%;
  }
  .introTime .introStage .led {
    top: 1%;
  }
  .introTime .introStage .led marquee {
    font-size: 18px;
  }
}

@media all and (min-width: 1200px) {
  .introTime {
    height: 100vh;
    margin-top: 0px;
  }
  .introTime .introTimeTitle {
    margin-right: 10%;
  }
  .introTime .introStage {
    max-width: 1200px;
    background-size: 101%;
    width: 53%;
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 56px;
  }
  .introTime .introStage .people .peopleFirst {
    top: 34%;
  }
  .introTime .introStage .people .peopleSec {
    top: 34%;
  }
  .introTime .introStage .people .peopleThree {
    top: 36%;
  }
  .introTime .introStage .people .peopleFourth {
    top: 36%;
  }
  .introTime .introStage .people .peopleFiv {
    top: 35%;
  }
  .introTime .introStage .led {
    top: 2%;
  }
  .introTime .introStage .led marquee {
    font-size: 21px;
  }
}
/*# sourceMappingURL=intro.css.map */