.loading {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: #3b3a3a;
  background-image: url(../../images/loading/load1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.loading .loadingCar {
  width: 100%;
  height: 100vh;
  background-size: auto 100%;
  margin: auto;
  background-image: url(../images/loading/introstage.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.loading .loadingCar .light {
  display: none;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  border: 5px solid #f00;
}

.loading .loadingCar .light .sec {
  position: absolute;
  top: 37px;
  left: 0%;
}

.loading .loadingCar .light .three {
  position: absolute;
  top: 37px;
  left: 35%;
}

.loading .link {
  display: block;
  left: 0;
  right: 0;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: 1000;
  text-align: center;
  cursor: pointer;
  color: #4b4a4a;
  margin: auto;
  width: 100px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 10px 10px red;
          box-shadow: 0px 0px 10px 10px red;
  background-color: whitesmoke;
}

.loading .link:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  color: yellow;
  -webkit-box-shadow: 0px 0px 10px 5px blue;
          box-shadow: 0px 0px 10px 5px blue;
}

.loading .front {
  top: 33vh;
}

.loading .back {
  top: 53vh;
}

@media all and (min-width: 768px) {
  .loading .loadingCar {
    background-image: url(../images/loading/stage1.png);
  }
  .loading .loadingCar .light {
    width: 300px;
    display: block;
  }
  .loading .loadingCar .light .sec {
    width: 25%;
    top: 59px;
    left: 11%;
  }
  .loading .loadingCar .light .three {
    top: 59px;
    left: 38%;
    width: 25%;
  }
  .loading .loadingCar .light .first {
    position: absolute;
    top: 59px;
    left: 65%;
    width: 25%;
  }
  .loading .lampFirst {
    left: 33%;
    position: absolute;
    width: 15%;
    height: 400vh;
    background-image: radial-gradient(ellipse, rgba(235, 177, 4, 0.8), rgba(246, 205, 81, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
    top: -185vh;
    -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
            transform: perspective(25vh) rotateX(60deg) translateX(0);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    pointer-events: none;
  }
  .loading .lampSec {
    left: 43%;
    position: absolute;
    width: 15%;
    height: 400vh;
    background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7), rgba(245, 132, 27, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
    top: -185vh;
    -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
            transform: perspective(25vh) rotateX(60deg) translateX(0);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    pointer-events: none;
  }
  .loading .lampThree {
    left: 54%;
    position: absolute;
    width: 15%;
    height: 400vh;
    background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7), rgba(245, 132, 27, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
    top: -185vh;
    -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
            transform: perspective(25vh) rotateX(60deg) translateX(0);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    pointer-events: none;
  }
}

@media all and (min-width: 992px) {
  .loading .loadingCar .light .sec {
    top: 84px;
    left: -1%;
    width: 33%;
  }
  .loading .loadingCar .light .three {
    top: 84px;
    left: 34%;
    width: 33%;
  }
  .loading .loadingCar .light .first {
    top: 84px;
    left: 68%;
    width: 33%;
  }
  .loading .link {
    float: left;
  }
  .loading .front {
    top: 59vh;
    left: 19%;
    right: auto;
  }
  .loading .back {
    top: 59vh;
    left: 67%;
    right: auto;
  }
}

@media all and (min-width: 1200px) {
  .loading .loadingCar .light .sec {
    top: 63px;
    left: 8%;
    width: 27%;
  }
  .loading .loadingCar .light .three {
    left: 38%;
    top: 63px;
    width: 27%;
  }
  .loading .loadingCar .light .first {
    top: 63px;
    width: 27%;
  }
  .loading .loadingCar .lampFirst {
    left: 38%;
  }
  .loading .loadingCar .lampSec {
    left: 43%;
  }
  .loading .loadingCar .lampThree {
    left: 48%;
  }
  .loading .link {
    float: left;
  }
  .loading .front {
    top: 59vh;
    left: 31%;
    right: auto;
  }
  .loading .back {
    top: 59vh;
    left: 56%;
    right: auto;
  }
}
/*# sourceMappingURL=loading.css.map */