html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
<<<<<<< HEAD
  font-family: "wangHangMing","Microsoft JhengHei";
=======
>>>>>>> aaa
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "wangHangMing";
  src: url("../font/WCL-02.ttf");
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

#nav-icon2 {
  height: 44px;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #2cffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 0px;
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 6px);
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 0px;
  top: 26px;
  width: 30px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 6px);
  top: 26px;
  width: 30px;
}

#menu_control {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

#menu_control:checked ~ header .mainNav {
  top: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu_control:checked ~ header .mainNav img {
  top: 10px;
}

.menubtn {
  display: block;
  width: 44px;
  position: absolute;
  height: 40px;
<<<<<<< HEAD
  top: 20px;
  right: 10px;
}

.mainNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: calc(-100vh - 80px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
}

.mainNav {
  padding-top: 25px;
  font-size: 24px;
  font-family: "wangHangMing";
}

.mainNav img {
  position: fixed;
  top: 10px;
  left: 10px;
  width: auto;
  height: 60px;
}

.mainNav a {
  text-decoration: none;
  color: #ffffbd;
}

.mainNav li {
  margin: 30px auto;
  left: 0;
  right: 0;
  width: 150px;
  text-align: center;
  display: block;
  border-bottom: 30px solid  transparent;
  border-bottom-width: 30px;
  -o-border-image: url("../images/navTDD.png") 41 round;
     border-image: url("../images/navTDD.png") 41 round;
}

.mainNav .navMemBtn {
  position: fixed;
  top: 18px;
  right: 84px;
  font-size: 44px;
  height: 44px;
  width: 44px;
}

.mainNav .navMemBtn i {
  color: #2cffff;
  position: absolute;
  cursor: pointer;
  width: 44px;
  top: 0;
}

.mainNav .navMemBtn i:hover {
  -webkit-animation: jitter 1.5s linear infinite;
          animation: jitter 1.5s linear infinite;
}

header {
  position: fixed;
  background-image: url("../images/navigatorM.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
  top: 0px;
  z-index: 1;
  -webkit-animation: headerNeon 1s infinite;
          animation: headerNeon 1s infinite;
}

@media screen and (min-width: 1200px) {
  .menubtn {
    display: none;
  }
  header {
    background-image: url("../images/navigator.svg");
    background-size: cover;
    background-position: center center;
    height: 130px;
  }
  .mainNav {
    padding: 0;
    background-color: initial;
    top: 0px;
    position: relative;
    max-width: 1200px;
    text-align: center;
    height: 110px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainNav .navMemBtn {
    width: 44px;
    height: 44px;
    right: 0px;
    margin: 0;
  }
  .mainNav .navMemBtn i {
    top: 0;
    right: 0;
    height: 44px;
    font-size: 44px;
  }
  .mainNav li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 150px;
    vertical-align: top;
    display: inline-block;
    margin-top: 25px;
    border-bottom: initial;
  }
  .mainNav li:nth-child(4) {
    padding-right: 48px;
  }
  .mainNav li:nth-child(5) {
    padding-right: 93px;
  }
  .mainNav li a {
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDD.png") 30 41 round;
       border-image: url("../images/navTDD.png") 30 41 round;
    border-image-outset: 1px;
  }
  .mainNav li:hover {
    color: #2cffff;
  }
  .mainNav li:hover a {
    color: #2cffff;
    -webkit-animation: lightShow .3s infinite alternate;
            animation: lightShow .3s infinite alternate;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDL.png") 30 41 round;
       border-image: url("../images/navTDL.png") 30 41 round;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .mainNav h1 {
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 5px;
    padding-top: 8px;
  }
  .mainNav h1 img {
    width: auto;
    position: initial;
    height: 95px;
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav h1:hover img {
    -webkit-filter: drop-shadow(3px 3px 5px #66f);
            filter: drop-shadow(3px 3px 5px #66f);
    -webkit-animation: headerNeon 1s infinite;
            animation: headerNeon 1s infinite;
    -webkit-transform: scale(1.2) translateY(10px);
            transform: scale(1.2) translateY(10px);
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav i {
    color: #2cffff;
  }
  .mainNav .navMemBtn {
    position: absolute;
    top: 30px;
  }
=======
  background: red;
  line-height: 2;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#memberNav ul {
  display: block;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#memberNav ul li {
  width: 90px;
  background: blue;
  font-size: 18px;
  float: left;
  margin: 0 30px;
  text-align: center;
}

#memberNav ul::after {
  content: '';
  display: block;
  clear: left;
>>>>>>> aaa
}

.commonBtn {
  font-size: 18px;
  font-family: "wangHangMing";
  width: 180px;
  height: 90px;
  background: url(../images/smallBtnNeonLight.gif) center no-repeat;
  background-size: cover;
  color: #ffffbd;
  border-radius: 10px;
  line-height: 90px;
  border: none;
  -webkit-box-shadow: 0 0 4px 3px #ffffbd;
          box-shadow: 0 0 4px 3px #ffffbd;
  z-index: 9999;
  cursor: pointer;
}

.commonBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 2px 2px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 2px 2px #fff;
}

.commonBtnSmall {
  font-size: 16px;
  font-family: "wangHangMing";
  width: 120px;
  height: 70px;
  background: url(../images/smallBtnNeonLightSub.gif) center no-repeat;
  background-size: cover;
  color: #ffffbd;
  border-radius: 10px;
  line-height: 70px;
  border: none;
  z-index: 9999;
  -webkit-box-shadow: 0 0 3px 2px #ffffbd;
          box-shadow: 0 0 3px 2px #ffffbd;
  cursor: pointer;
}

.commonBtnSmall:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
}

.titleBgi {
  position: relative;
  font-size: 32px;
  font-family: "wangHangMing";
  text-align: center;
  line-height: 110px;
  width: 320px;
  height: 120px;
  background: url(../images/titleNeonLightPink.gif) center no-repeat;
  background-size: cover;
  color: #ffffbd;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 10px auto;
}

@media screen and (min-width: 1200px) {
  .titleBgi {
    margin-top: 20px;
    margin-left: 24vw;
  }
}

table, td {
  border: 1px solid black;
  font-size: 18px;
}

table td, td td {
  width: 30px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "wangHangMing";
  src: url("../font/WCL-02.ttf");
}

.registeredBox {
  display: none;
  max-width: 500px;
  height: 500px;
  background: #105229;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  padding: 25px;
  text-align: center;
}

.registeredBox .fa-times {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.registeredBox .fa-times:hover {
  color: #f3d217;
}

.registeredBox h3 {
  margin: 0;
  font-size: 30px;
  color: #fff;
}

.registeredBox table {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #fff;
  color: #fff;
}

.registeredBox table .prompt {
  font-size: 12px;
  color: #e26f6f;
}

.registeredBox table td, .registeredBox table th {
  padding: 5px;
}

.registeredBox table .commonBtn {
  margin: 10px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

.registeredBox table label {
  margin-right: 30px;
}

.registeredBox table label input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.registeredBox table label input:checked + i {
  color: yellow;
}

.registeredBox table label i:hover {
  cursor: pointer;
}

.registeredBox div {
  margin-top: 50px;
  color: #fff;
}

.registeredBox div input {
  margin-left: 20px;
}

.registeredBox div a {
  cursor: pointer;
}

.registeredBox div a:hover {
  color: #f3d217;
}

.loginBox {
  display: none;
  width: 300px;
  height: 350px;
  background: #105229;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.loginBox .fa-times {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.loginBox .fa-times:hover {
  color: #f3d217;
}

.loginBox h3 {
  margin-top: 0px;
  font-size: 30px;
  color: #fff;
}

.loginBox .inputBox {
  background: #2d3631;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 10px;
}

.loginBox .inputBox i {
  color: #fff;
}

.loginBox .inputBox input {
  height: 20px;
  margin-left: 10px;
  background: #2d3631;
  outline: none;
  border: none;
<<<<<<< HEAD
  color: #fff;
}

.loginBox .commonBtn {
  margin-top: 20px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.loginBox p {
  margin-top: 30px;
  color: #fff;
}

.loginBox p a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.loginBox p a:hover {
  color: #f3d217;
}

.forgotBox {
  display: none;
  width: 300px;
  height: 400px;
  background: #105229;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
  padding: 25px;
  text-align: center;
}

.forgotBox .fa-times {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.forgotBox .fa-times:hover {
  color: #f3d217;
}

.forgotBox h3 {
  margin: 0;
  font-size: 30px;
  color: #fff;
}

.forgotBox p {
  margin-top: 10px;
  font-size: 14px;
  color: #d8d87e;
}

.forgotBox div {
  margin-top: 50px;
  color: #fff;
}

.forgotBox div input {
  margin-left: 20px;
}

.forgotBox div a {
  cursor: pointer;
}

.forgotBox div a:hover {
  color: #f3d217;
}

.forgotBox .commonBtn {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@-webkit-keyframes lightShow {
  0% {
    border-image: url("../images/navTDD.png") 36 repeat;
  }
  100% {
    border-image: url("../images/navTDL.png") 36 repeat;
  }
}

@keyframes lightShow {
  0% {
    -o-border-image: url("../images/navTDD.png") 36 repeat;
       border-image: url("../images/navTDD.png") 36 repeat;
  }
  100% {
    -o-border-image: url("../images/navTDL.png") 36 repeat;
       border-image: url("../images/navTDL.png") 36 repeat;
  }
}

.menuandcross {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 20%, 0 40%, 100% 40%, 100% 60%, 0% 60%, 0% 80%, 100% 80%, 100% 100%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 20%, 0 40%, 100% 40%, 100% 60%, 0% 60%, 0% 80%, 100% 80%, 100% 100%, 0 100%);
  -webkit-transition: .3s .2s;
  transition: .3s .2s;
  width: 44px;
  height: 44px;
  background-color: #ccc;
  display: block;
  position: relative;
  z-index: 2;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#menu_control {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

#menu_control:checked ~ header .menuandcross {
  -webkit-clip-path: polygon(20% 0%, 50% 30%, 80% 0%, 100% 20%, 70% 50%, 100% 80%, 80% 100%, 50% 70%, 20% 100%, 0% 80%, 30% 50%, 0% 20%);
  clip-path: polygon(20% 0%, 50% 30%, 80% 0%, 100% 20%, 70% 50%, 100% 80%, 80% 100%, 50% 70%, 20% 100%, 0% 80%, 30% 50%, 0% 20%);
  -webkit-transition: .3s .2s;
  transition: .3s .2s;
}

#menu_control:checked ~ header .mainNav {
  top: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu_control:checked ~ header .mainNav img {
  top: 10px;
}

.menubtn {
  display: block;
  width: 44px;
  position: absolute;
  height: 44px;
  top: 16px;
  right: 20px;
}

.menubtn::after {
  display: block;
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
}

.mainNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: calc(-100vh - 80px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
}

.mainNav {
  padding-top: 25px;
  font-size: 24px;
  font-family: "wangHangMing";
}

.mainNav img {
  position: fixed;
  top: 10px;
  left: 10px;
  width: auto;
  height: 60px;
}

.mainNav a {
  text-decoration: none;
  color: #ffffbd;
}

.mainNav li {
  margin: 30px auto;
  left: 0;
  right: 0;
  width: 150px;
  text-align: center;
  display: block;
  border-bottom: 30px solid  transparent;
  border-bottom-width: 30px;
  -o-border-image: url("../images/navTDD.png") 36 repeat;
     border-image: url("../images/navTDD.png") 36 repeat;
}

.mainNav .navMemBtn {
  position: fixed;
  top: 16px;
  right: 84px;
  font-size: 44px;
}

.mainNav .navMemBtn i {
  color: #2cffff;
}

header {
  position: fixed;
  background-image: url("../images/navigatorM.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
  top: 0px;
  z-index: 100;
}

@media screen and (min-width: 1200px) {
  .menubtn {
    display: none;
  }
  header {
    background-image: url("../images/navigator.png");
    background-size: cover;
    background-position: center center;
    height: 225px;
    top: -20px;
  }
  .mainNav {
    padding: 0;
    background-color: initial;
    top: 20px;
    position: relative;
    max-width: 1200px;
    text-align: center;
    height: 110px;
    margin: auto;
  }
  .mainNav li {
    width: initial;
    vertical-align: top;
    display: inline-block;
    margin: 0 35px;
    margin-top: 25px;
    border-bottom: 30px solid transparent;
    -o-border-image: url("../images/navTDD.png") 36 repeat;
       border-image: url("../images/navTDD.png") 36 repeat;
  }
  .mainNav li a {
    -webkit-transition: .4s;
    transition: .4s;
  }
  .mainNav li:hover {
    color: #2cffff;
    -webkit-animation: lightShow .3s infinite alternate;
            animation: lightShow .3s infinite alternate;
  }
  .mainNav li:hover a {
    color: #2cffff;
    -webkit-filter: drop-shadow(3px -5px 8px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(3px -5px 8px rgba(255, 255, 255, 0.7));
    -webkit-transition: .3s;
    transition: .3s;
  }
  .mainNav h1 {
    display: inline-block;
  }
  .mainNav img {
    width: 225px;
    margin-top: 10px;
    position: initial;
    height: auto;
  }
  .mainNav i {
    color: #2cffff;
  }
  .mainNav .navMemBtn {
    position: absolute;
    top: 30px;
    right: 0px;
    margin: 0px 10px;
    font-size: 24px;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: #3b3a3a;
  background-image: url(../images/loading/load1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.loading .loadingCar {
  width: 100%;
  height: 100vh;
  background-size: auto 100%;
  margin: auto;
  background-image: url(../images/loading/introstage.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.loading .loadingCar .light {
  display: none;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  border: 5px solid #f00;
}

.loading .loadingCar .light .sec {
  position: absolute;
  top: 37px;
  left: 0%;
}

.loading .loadingCar .light .three {
  position: absolute;
  top: 37px;
  left: 35%;
}

.loading .link {
  display: block;
  left: 0;
  right: 0;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: 1000;
  text-align: center;
  cursor: pointer;
  color: #4b4a4a;
  margin: auto;
  width: 100px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 10px 10px red;
          box-shadow: 0px 0px 10px 10px red;
  background-color: whitesmoke;
}

.loading .link:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  color: yellow;
  -webkit-box-shadow: 0px 0px 10px 5px blue;
          box-shadow: 0px 0px 10px 5px blue;
}

.loading .front {
  top: 33vh;
}

.loading .back {
  top: 53vh;
}

@media all and (min-width: 768px) {
  .loading .loadingCar {
    background-image: url(../images/loading/stage1.png);
  }
  .loading .loadingCar .light {
    width: 300px;
    display: block;
  }
  .loading .loadingCar .light .sec {
    width: 25%;
    top: 59px;
    left: 11%;
  }
  .loading .loadingCar .light .three {
    top: 59px;
    left: 38%;
    width: 25%;
  }
  .loading .loadingCar .light .first {
    position: absolute;
    top: 59px;
    left: 65%;
    width: 25%;
  }
  .loading .lampFirst {
    left: 33%;
    position: absolute;
    width: 15%;
    height: 400vh;
    background-image: radial-gradient(ellipse, rgba(235, 177, 4, 0.8), rgba(246, 205, 81, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
    top: -185vh;
    -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
            transform: perspective(25vh) rotateX(60deg) translateX(0);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    pointer-events: none;
  }
  .loading .lampSec {
    left: 43%;
    position: absolute;
    width: 15%;
    height: 400vh;
    background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7), rgba(245, 132, 27, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
    top: -185vh;
    -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
            transform: perspective(25vh) rotateX(60deg) translateX(0);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    pointer-events: none;
  }
  .loading .lampThree {
    left: 54%;
    position: absolute;
    width: 15%;
    height: 400vh;
    background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7), rgba(245, 132, 27, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
    top: -185vh;
    -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
            transform: perspective(25vh) rotateX(60deg) translateX(0);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    pointer-events: none;
  }
}

@media all and (min-width: 992px) {
  .loading .loadingCar .light .sec {
    top: 84px;
    left: -1%;
    width: 33%;
  }
  .loading .loadingCar .light .three {
    top: 84px;
    left: 34%;
    width: 33%;
  }
  .loading .loadingCar .light .first {
    top: 84px;
    left: 68%;
    width: 33%;
  }
  .loading .link {
    float: left;
  }
  .loading .front {
    top: 59vh;
    left: 19%;
    right: auto;
  }
  .loading .back {
    top: 59vh;
    left: 67%;
    right: auto;
  }
}

@media all and (min-width: 1200px) {
  .loading .loadingCar .light .sec {
    top: 63px;
    left: 8%;
    width: 27%;
  }
  .loading .loadingCar .light .three {
    left: 38%;
    top: 63px;
    width: 27%;
  }
  .loading .loadingCar .light .first {
    top: 63px;
    width: 27%;
  }
  .loading .loadingCar .lampFirst {
    left: 38%;
  }
  .loading .loadingCar .lampSec {
    left: 43%;
  }
  .loading .loadingCar .lampThree {
    left: 48%;
  }
  .loading .link {
    float: left;
  }
  .loading .front {
    top: 59vh;
    left: 31%;
    right: auto;
  }
  .loading .back {
    top: 59vh;
    left: 56%;
    right: auto;
  }
=======
  -webkit-box-shadow: 0px 0px 25px #ffffbd;
          box-shadow: 0px 0px 25px #ffffbd;
>>>>>>> aaa
}

table, td {
  border: 1px solid black;
  font-size: 18px;
}

table td, td td {
  width: 30px;
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
}

.loading {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #3b3a3a;
  background-image: url(../images/loadingBgi.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
/*# sourceMappingURL=main.css.map */