html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "wangHangMing","Microsoft JhengHei";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "wangHangMing";
  src: url("../font/WCL-02.ttf");
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

.commonBtn {
  font-size: 18px;
  font-family: "wangHangMing";
  width: 120px;
  height: 60px;
  background: url(../images/smallBtnNeonLight.gif) center no-repeat;
  background-size: cover;
  color: #ffffbd;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  cursor: pointer;
}

.commonBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
}

.min_view {
  display: block;
}

.max_view {
  display: none;
}

#memberNav {
  line-height: 1.5;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

#memberNav .memberImg {
  margin: 50px auto 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#memberNav .memberImg img {
  width: 160px;
}

#memberNav h3 {
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #2cffff;
}

#memberNav ul {
  width: 1050px;
  display: block;
  background: #1A1571;
}

#memberNav ul li {
  width: 120px;
  float: left;
  margin: 0 15px;
  text-align: center;
}

#memberNav ul li a {
  color: #ffffbd;
  font-size: 18px;
  text-decoration: none;
}

#memberNav ul li:hover a {
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
  -webkit-animation: neon 1s ease infinite;
          animation: neon 1s ease infinite;
}

#memberNav ul .here {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#memberNav ul .here a {
  color: #DC2578;
}

#memberNav ul::after {
  content: '';
  display: block;
  clear: left;
}

#memberImgFile {
  opacity: 0;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .min_view {
    display: none;
  }
  .max_view {
    display: block;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
  }
  #memberNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #1A1571;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    height: 100vh;
  }
  #memberNav h3 {
    margin-top: 25px;
    font-size: 30px;
  }
  #memberNav ul {
    width: 100%;
    display: block;
  }
  #memberNav ul li {
    width: 100%;
    font-size: 18px;
    float: none;
    margin: 15px 0;
    text-align: center;
    color: #ffffbd;
  }
  #memberNav ul::after {
    content: '';
    display: block;
    clear: left;
  }
}

.cardGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardGroup .card {
  margin: 20px 50px 20px 0;
  display: block;
  position: relative;
}

.cardGroup .card .font {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 15px;
  background: #fcd31c;
  -webkit-transform: perspective(1200px) rotateY(0deg);
          transform: perspective(1200px) rotateY(0deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  overflow: hidden;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardGroup .card .font .topArea {
  padding: 5PX;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardGroup .card .font .topArea .headImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.cardGroup .card .font .topArea .headImg img {
  width: 100%;
}

.cardGroup .card .font .topArea h3 {
  margin-left: 5px;
  line-height: 50px;
  font-size: 21px;
  color: #ff802b;
}

.cardGroup .card .font .stageImg {
  background: white;
}

.cardGroup .card .font .stageImg img {
  width: 100%;
}

.cardGroup .card .font .toolBar .fa-heart {
  color: #e41414;
  padding: 5px 20px;
}

.cardGroup .card .font .toolBar .fa-share, .cardGroup .card .font .toolBar .fa-ellipsis-h {
  padding: 5px 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.cardGroup .card .font .toolBar .fa-share:hover, .cardGroup .card .font .toolBar .fa-ellipsis-h:hover {
  color: #8a8ae9;
}

.cardGroup .card .back {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #191919;
  -webkit-transform: perspective(1200px) rotateY(180deg);
          transform: perspective(1200px) rotateY(180deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardGroup .card .back .centerBox div {
  margin: 30px;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.cardGroup .card .back .centerBox div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #8a8ae9;
  border: 2px solid #8a8ae9;
}
/*# sourceMappingURL=memberCollection.css.map */