@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "wangHangMing","Microsoft JhengHei";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "wangHangMing";
  src: url("../font/WCL-02.ttf");
}

@font-face {
  font-family: "微軟正黑體";
  src: "https://fonts.googleapis.com/css?family=Noto+Sans+TC";
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav-icon2 {
  height: 44px;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #2cffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 0px;
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 6px);
  top: 10px;
  width: 30px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 0px;
  top: 26px;
  width: 30px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 6px);
  top: 26px;
  width: 30px;
}

#menu_control {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

#menu_control:checked ~ header .mainNav {
  top: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu_control:checked ~ header .mainNav img {
  top: 10px;
}

.menubtn {
  display: block;
  width: 44px;
  position: absolute;
  height: 40px;
  top: 20px;
  right: 10px;
}

.mainNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: calc(-100vh - 80px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
}

.mainNav {
  padding-top: 25px;
  font-size: 24px;
  font-family: "wangHangMing";
}

.mainNav h1 img {
  position: fixed;
  top: 10px;
  left: 10px;
  width: auto;
  height: 60px;
}

.mainNav a {
  text-decoration: none;
  color: #ffffbd;
}

.mainNav li {
  margin: 30px auto;
  left: 0;
  right: 0;
  width: 150px;
  text-align: center;
  display: block;
  border-bottom: 30px solid  transparent;
  border-bottom-width: 30px;
  -o-border-image: url("../images/navTDD.png") 41 round;
     border-image: url("../images/navTDD.png") 41 round;
}

.mainNav .navMemBtn {
  position: fixed;
  top: 18px;
  right: 84px;
  font-size: 44px;
  height: 44px;
  width: 44px;
}

.mainNav .navMemBtn img {
  cursor: pointer;
  position: absolute;
  width: 34px;
  top: 2px;
  right: 0;
}

.mainNav .navMemBtn img:hover {
  -webkit-animation: jitter 1.5s linear infinite;
          animation: jitter 1.5s linear infinite;
}

.mainNav .navMemBtn p {
  display: none;
}

header {
  position: fixed;
  background-image: url("../images/navigatorM.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 100%;
  top: 0px;
  z-index: 99;
  -webkit-animation: headerNeon 1s infinite;
          animation: headerNeon 1s infinite;
}

footer {
  padding-top: 15px;
  width: 100%;
  height: 115px;
  background-image: url(../images/footerBgi.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

footer p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 0px;
}

footer div {
  text-align: center;
}

footer img {
  border-radius: 100%;
  margin: 4px;
  width: 36px;
}

@media screen and (min-width: 1200px) {
  .menubtn {
    display: none;
  }
  header {
    background-image: url("../images/navigator.svg");
    background-size: cover;
    background-position: center center;
    height: 130px;
  }
  .mainNav {
    padding: 0;
    background-color: initial;
    top: 0px;
    position: relative;
    max-width: 1200px;
    text-align: center;
    height: 110px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainNav .navMemBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    height: 24px;
    right: 0px;
    margin: 0;
    position: fixed;
    top: 38px;
  }
  .mainNav .navMemBtn img {
    height: 24px;
    width: 24px;
    text-align: center;
    position: initial;
    display: inline-block;
  }
  .mainNav .navMemBtn p {
    font-size: 16px;
    color: #2cffff;
    width: 100%;
    line-height: 16px;
    margin-top: 8px;
    cursor: pointer;
    display: block;
  }
  .mainNav li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 150px;
    vertical-align: top;
    display: inline-block;
    margin-top: 25px;
    border-bottom: initial;
  }
  .mainNav li:nth-child(4) {
    padding-right: 48px;
  }
  .mainNav li:nth-child(5) {
    padding-right: 93px;
  }
  .mainNav li a {
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDD.png") 30 41 round;
       border-image: url("../images/navTDD.png") 30 41 round;
    border-image-outset: 1px;
  }
  .mainNav li a:hover {
    color: #2cffff;
    -webkit-animation: lightShow .3s infinite alternate;
            animation: lightShow .3s infinite alternate;
    border-bottom: 25px solid transparent;
    -o-border-image: url("../images/navTDL.png") 30 41 round;
       border-image: url("../images/navTDL.png") 30 41 round;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .mainNav h1 {
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 5px;
    padding-top: 8px;
  }
  .mainNav h1 img {
    width: auto;
    position: initial;
    height: 95px;
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav h1 img:hover {
    -webkit-filter: drop-shadow(3px 3px 5px #66f);
            filter: drop-shadow(3px 3px 5px #66f);
    -webkit-animation: headerNeon 1s infinite;
            animation: headerNeon 1s infinite;
    -webkit-transform: scale(1.2) translateY(10px);
            transform: scale(1.2) translateY(10px);
    -webkit-transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .mainNav i {
    color: #2cffff;
  }
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@-webkit-keyframes lightShow {
  0% {
    border-image: url("../images/navTDD.png") 30 41 round;
  }
  100% {
    border-image: url("../images/navTDL.png") 30 41 round;
  }
}

@keyframes lightShow {
  0% {
    -o-border-image: url("../images/navTDD.png") 30 41 round;
       border-image: url("../images/navTDD.png") 30 41 round;
  }
  100% {
    -o-border-image: url("../images/navTDL.png") 30 41 round;
       border-image: url("../images/navTDL.png") 30 41 round;
  }
}

@-webkit-keyframes jitter {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  75% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes jitter {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  75% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes headerNeon {
  0% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
  }
  25% {
    -webkit-filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
            filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
            filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
  }
}

@keyframes headerNeon {
  0% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));
  }
  25% {
    -webkit-filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
            filter: drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));
  }
  50% {
    -webkit-filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
            filter: drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));
  }
  75% {
    -webkit-filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
            filter: drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
            filter: drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));
  }
}

@-webkit-keyframes processIntro {
  from {
    -webkit-transform: o;
            transform: o;
  }
  to {
    opacity: 0;
  }
}

@keyframes processIntro {
  from {
    -webkit-transform: o;
            transform: o;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes truck {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes truck {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@-webkit-keyframes colors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #2c3e50;
  }
  70% {
    background-color: #2c3e50;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@keyframes colors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #2c3e50;
  }
  70% {
    background-color: #2c3e50;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@-webkit-keyframes boxshadows {
  0% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  20% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  30% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  70% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  80% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
}

@keyframes boxshadows {
  0% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  20% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  30% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  70% {
    -webkit-box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
            box-shadow: 0 0 10px #fff, 0 0 10px #fff inset;
  }
  80% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
            box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes starscolors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #ffffff;
  }
  70% {
    background-color: #ffffff;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@keyframes starscolors {
  0% {
    background-color: #3498db;
  }
  20% {
    background-color: #3498db;
  }
  30% {
    background-color: #ffffff;
  }
  70% {
    background-color: #ffffff;
  }
  80% {
    background-color: #3498db;
  }
  100% {
    background-color: #3498db;
  }
}

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    display: none;
  }
}

@keyframes blurFadeInOut {
  0% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    display: none;
  }
}

@-webkit-keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
            transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
            transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@-webkit-keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
            transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
            transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@-webkit-keyframes reflect {
  0% {
    -webkit-filter: brightness(60%);
    -webkit-filter: hue-rotate(0);
  }
  50% {
    -webkit-filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(90%);
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes reflect {
  0% {
    opacity: 1;
    -webkit-filter: hue-rotate(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    -webkit-filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes scaleBox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes scaleBox {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.wrap {
  margin-top: 80px;
}

.min_view {
  display: block;
}

.max_view {
  display: none;
}

#memberNav {
  line-height: 1.5;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  background: #2c3b42;
}

#memberNav .memberImg {
  margin: 50px auto 0;
  width: 150px;
  height: 150px;
  position: relative;
  text-align: center;
  vertical-align: top;
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
          clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

#memberNav .memberImg img {
  height: 100%;
  vertical-align: top;
}

#memberNav h3 {
  margin-top: 25px;
  text-align: center;
  font-size: 32px;
  color: #fff;
}

#memberNav ul {
  width: 1050px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#memberNav ul li {
  width: 120px;
  float: left;
  margin: 0 15px;
  text-align: center;
}

#memberNav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

#memberNav ul li:hover a {
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
  -webkit-animation: neon 1s ease infinite;
          animation: neon 1s ease infinite;
}

#memberNav ul .here {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#memberNav ul .here a {
  color: #2cffff;
}

#memberNav ul::after {
  content: '';
  display: block;
  clear: left;
}

#memberImgFile {
  opacity: 0;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .min_view {
    display: none;
  }
  .max_view {
    display: block;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
  }
  #memberNav {
    width: 35%;
    top: 0;
    background: #2c3b42;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  #memberNav h3 {
    margin: 25px 0px 10px;
    font-size: 30px;
    text-shadow: 0 0 2px black;
    color: #fff6f6;
  }
  #memberNav ul {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #memberNav ul .here {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  #memberNav ul li {
    width: 100%;
    font-size: 18px;
    margin: 15px 0;
    text-align: left;
    color: #ffffbd;
  }
  #memberNav ul li a {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  #memberNav {
    width: 16.666666%;
  }
}

.cardGroup {
  background: url(../images/bkground/member_bg.jpg) center;
  background-size: cover;
  min-height: 100vh;
}

.cardGroup .cardGroupWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 10px;
}

.cardGroup .card {
  width: 300px;
  margin: 20px auto;
  display: block;
  position: relative;
}

.cardGroup .card .font {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 15px;
  background: #fcd31c;
  -webkit-transform: perspective(1200px) rotateY(0deg);
          transform: perspective(1200px) rotateY(0deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 0 50px #6e6e6e;
          box-shadow: 0 0 50px #6e6e6e;
}

.cardGroup .card .font .topArea {
  padding: 5px 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardGroup .card .font .topArea .headImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.cardGroup .card .font .topArea .headImg img {
  width: 100%;
}

.cardGroup .card .font .topArea h3 {
  margin-left: 10px;
  line-height: 50px;
  font-size: 21px;
  color: #ff802b;
}

.cardGroup .card .font .stageImg {
  background: #fff;
}

.cardGroup .card .font .stageImg img {
  width: 100%;
}

.cardGroup .card .font .toolBar {
  font-size: 24px;
}

.cardGroup .card .font .toolBar .fa-heart {
  color: #e41414;
  padding: 5px 20px;
}

.cardGroup .card .font .toolBar .fa-share, .cardGroup .card .font .toolBar .fa-ellipsis-h {
  padding: 5px 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.cardGroup .card .font .toolBar .fa-share:hover, .cardGroup .card .font .toolBar .fa-ellipsis-h:hover {
  color: #8a8ae9;
}

.cardGroup .card .back {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #191919;
  -webkit-transform: perspective(1200px) rotateY(180deg);
          transform: perspective(1200px) rotateY(180deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardGroup .card .back .centerBox div {
  margin: 30px;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.cardGroup .card .back .centerBox div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #8a8ae9;
  border: 2px solid #8a8ae9;
}

@media screen and (min-width: 768px) {
  .col-md-10 {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .cardGroupWidth {
    width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=memberCollection.css.map */