html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "wangHangMing","Microsoft JhengHei";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "wangHangMing";
  src: url("../font/WCL-02.ttf");
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #fff;
  }
}

.commonBtn {
  font-size: 18px;
  font-family: "wangHangMing";
  width: 120px;
  height: 60px;
  background: url(../images/smallBtnNeonLight.gif) center no-repeat;
  background-size: cover;
  color: #ffffbd;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 0 1px #fff;
          box-shadow: 0 0 0 1px #fff;
  cursor: pointer;
}

.commonBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
          box-shadow: 0px 0px 25px #ffffbd, 0 0 0 1px #fff;
}

.min_view {
  display: block;
}

.max_view {
  display: none;
}

#memberNav {
  line-height: 1.5;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

#memberNav .memberImg {
  margin: 50px auto 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#memberNav .memberImg img {
  width: 160px;
}

#memberNav h3 {
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #2cffff;
}

#memberNav ul {
  width: 1050px;
  display: block;
  background: #1A1571;
}

#memberNav ul li {
  width: 120px;
  float: left;
  margin: 0 15px;
  text-align: center;
}

#memberNav ul li a {
  color: #ffffbd;
  font-size: 18px;
  text-decoration: none;
}

#memberNav ul li:hover a {
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
  -webkit-animation: neon 1s ease infinite;
          animation: neon 1s ease infinite;
}

#memberNav ul .here {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#memberNav ul .here a {
  color: #DC2578;
}

#memberNav ul::after {
  content: '';
  display: block;
  clear: left;
}

#memberImgFile {
  opacity: 0;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .min_view {
    display: none;
  }
  .max_view {
    display: block;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
  }
  #memberNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #1A1571;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    height: 100vh;
  }
  #memberNav h3 {
    margin-top: 25px;
    font-size: 30px;
  }
  #memberNav ul {
    width: 100%;
    display: block;
  }
  #memberNav ul li {
    width: 100%;
    font-size: 18px;
    float: none;
    margin: 15px 0;
    text-align: center;
    color: #ffffbd;
  }
  #memberNav ul::after {
    content: '';
    display: block;
    clear: left;
  }
}

#memberOrder .allOrderBox {
  width: 80%;
  background: #178cf6;
  margin: 30px auto;
  border-radius: 15px;
  padding: 20px 10px;
}

#memberOrder .allOrderBox h3 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

#memberOrder .allOrderBox table {
  width: 100%;
  border: 1px solid #000;
  margin: auto;
}

#memberOrder .allOrderBox table th {
  padding: 0 10px;
  font-size: 14px;
  border-bottom: 1px solid #6e6e6e;
}

#memberOrder .allOrderBox table td {
  text-align: center;
  font-size: 14px;
}

#memberOrder .orderDetails {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  -webkit-box-shadow: 0px 0px  3px #666;
          box-shadow: 0px 0px  3px #666;
}

#memberOrder .orderDetails .bckColor {
  padding: 20px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#memberOrder .orderDetails .bckColor h4 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 30px;
}

#memberOrder .orderDetails .bckColor .detailContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px;
  color: #fff;
}

#memberOrder .orderDetails .bckColor .detailContent .big {
  text-shadow: 0 0 1px #000;
  font-size: 21px;
  color: #fff347;
}

#memberOrder .orderDetails .bckColor .detailHost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px;
  color: #fff;
}

#memberOrder .orderDetails .detailStage {
  padding: 20px;
}

#memberOrder .orderDetails .detailStage table {
  width: 100%;
  margin-top: 20px;
}

#memberOrder .orderDetails .detailStage table th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

#memberOrder .orderDetails .detailStage table td {
  padding: 0px 5px;
  border: 1px solid #000;
  text-align: center;
}

#memberOrder .orderDetails .detailStage table td div > img {
  width: 100%;
}

#memberOrder .orderDetails .detailStage .buttonArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#memberOrder .orderDetails .detailStage .buttonArea div > button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fddb92), to(#ecfa25));
  background-image: linear-gradient(to top, #fddb92 0%, #ecfa25 100%);
  -webkit-box-shadow: 0px 2px 2px #888;
          box-shadow: 0px 2px 2px #888;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

#memberOrder .orderDetails .detailStage .buttonArea div:first-child button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d299c2), to(#f15959));
  background-image: linear-gradient(to top, #d299c2 0%, #f15959 100%);
}

#memberOrder .orderDetails .detailStage .buttonArea div:last-child button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#89f7fe), to(#66a6ff));
  background-image: linear-gradient(to top, #89f7fe 0%, #66a6ff 100%);
}
/*# sourceMappingURL=memberOrder.css.map */