.loading {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: #3b3a3a;
  background-image: url(../images/loadingBhi-1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.loading .lampFirst {
  display: none;
  position: absolute;
  width: 15%;
  height: 400vh;
  background-image: radial-gradient(ellipse, rgba(235, 177, 4, 0.8), rgba(246, 205, 81, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
  top: -185vh;
  -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
          transform: perspective(25vh) rotateX(60deg) translateX(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  pointer-events: none;
}

.loading .lampSec {
  display: none;
  position: absolute;
  width: 15%;
  height: 400vh;
  background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7), rgba(245, 132, 27, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
  top: -185vh;
  -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
          transform: perspective(25vh) rotateX(60deg) translateX(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  pointer-events: none;
}

.loading .lampThree {
  display: none;
  position: absolute;
  width: 15%;
  height: 400vh;
  background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7), rgba(245, 132, 27, 0.2) 25%, rgba(255, 255, 255, 0) 50%);
  top: -185vh;
  -webkit-transform: perspective(25vh) rotateX(60deg) translateX(0);
          transform: perspective(25vh) rotateX(60deg) translateX(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  pointer-events: none;
}

.loading .light {
  position: absolute;
  top: 7.5%;
  left: 27%;
  width: 199px;
}

.loading .light .first {
  position: absolute;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: perspective(25vh) rotateX(0deg) translateX(0);
          transform: perspective(25vh) rotateX(0deg) translateX(0);
}

.loading .light .sec {
  position: absolute;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: perspective(25vh) rotateX(0deg) translateX(0);
          transform: perspective(25vh) rotateX(0deg) translateX(0);
}

.loading .light .three {
  display: none;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: perspective(25vh) rotateX(0deg) translateX(0);
          transform: perspective(25vh) rotateX(0deg) translateX(0);
}

.loading .link {
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: 1000;
  text-align: center;
  cursor: pointer;
  color: #4b4a4a;
  margin: auto;
  width: 100px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 10px red;
          box-shadow: 0px 0px 10px 10px red;
  background-color: whitesmoke;
}

.loading .link:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  color: yellow;
  -webkit-box-shadow: 0px 0px 10px 5px blue;
          box-shadow: 0px 0px 10px 5px blue;
}

.loading .front {
  top: 43vh;
}

.loading .back {
  top: 53vh;
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff4e22, 0 0 35px #ff5202, 0 0 40px #ff5202, 0 0 50px #ff5202 F, 0 0 75px #ff5202;
  }
}

@media all and (min-width: 768px) {
  .loading {
    background-image: url(../images/loadingBgi-2.png);
  }
  .loading .lampFirst, .loading .lampSec, .loading .lampThree {
    width: 15%;
    height: 435vh;
  }
  .loading .light {
    top: 21.5%;
    left: 37%;
  }
  .loading .light .first {
    left: 4.8%;
    display: block;
  }
  .loading .light .sec {
    left: 36.5%;
    display: block;
  }
  .loading .light .three {
    left: 67%;
    display: block;
  }
  .loading .lampFirst {
    left: 43.5%;
    display: block;
  }
  .loading .lampSec {
    left: 35%;
    display: block;
  }
  .loading .lampThree {
    left: 51.5%;
    display: block;
  }
  .loading .link {
    float: left;
    top: 60vh;
  }
  .loading .front {
    left: 20%;
  }
  .loading .back {
    left: 60%;
  }
}

@media all and (min-width: 1200px) {
  .loading .lampSec {
    left: 39%;
  }
  .loading .lampThree {
    left: 47%;
  }
  .loading .light {
    width: 220px;
    top: 21%;
    left: 45%;
  }
  .loading .light .first {
    left: -5%;
    width: 34%;
  }
  .loading .light .sec {
    left: 33%;
    width: 34%;
  }
  .loading .light .three {
    left: 67%;
    width: 34%;
  }
  .loading .front {
    left: 32%;
  }
  .loading .back {
    left: 58%;
  }
}
/*# sourceMappingURL=test.css.map */