@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #fff;
    }
  }

@keyframes lightShow 
{
    0% { border-image:url("../images/navTDD.png")36 repeat;}
  100% { border-image:url("../images/navTDL.png")36 repeat;}
}
@keyframes jitter{
  0%{transform: rotateZ(0deg)}
  25% {transform: rotateZ(-15deg)}
  75%{transform: rotateZ(15deg)}
  100% { transform: rotateZ(0deg)}
}