@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 2vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #fff;
    }
  }

@keyframes lightShow 
{
    0% { border-image:url("../images/navTDD.png")30 41 round;}
  100% { border-image:url("../images/navTDL.png")30 41 round;}
}
@keyframes jitter{
  0%{border-radius: 40% 55% 60% 45%}
  20%{border-radius: 50% 40% 50% 60%}
  40%{border-radius: 45% 50% 55% 50%}
  60%{border-radius: 50% 35% 50% 65%}
  80%{border-radius: 40% 45% 60% 55%}
  100%{border-radius: 54% 50% 46% 40%}
}
@keyframes headerNeon 
{
    0% {filter:drop-shadow(3px 2px 8px rgba(245, 132, 132, 0.7));}
    25%{filter:drop-shadow(3px -2px 8px rgba(248, 202, 74, 0.7));}
    50%{filter:drop-shadow(-3px -2px 8px rgba(177, 255, 132, 0.7));}
    75%{filter:drop-shadow(-3px 2px 8px rgba(255, 255, 255, 0.7));}
  100% {filter:drop-shadow(3px 2px 8px rgba(59, 78, 250, 0.7));}
}


@keyframes processIntro{
  from {transform:o}
  to   {opacity: 0;}
}


@keyframes truck {
  0%{transform: translateY(10px);}
  50%{transform: translateY(16px);}
  100%{transform: translateY(10px);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to   {transform: rotate(-359deg);}
}

@keyframes colors {
  0%   {background-color: #3498db;}
  20%  {background-color: #3498db;}
  30%  {background-color: #2c3e50;}
  70%  {background-color: #2c3e50;}
  80%  {background-color: #3498db;}
  100% {background-color: #3498db;}
}
@keyframes boxshadows {
  0%   {box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset}
  20%  {box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset}
  30%  {box-shadow: 0 0 10px #fff, 0 0 10px #fff inset}
  70%  {box-shadow: 0 0 10px #fff, 0 0 10px #fff inset}
  80%  {box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset}
  100% {box-shadow: 0 0 10px #3498db, 0 0 10px #3498db inset}
}

@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

@keyframes starscolors {
  0%   {background-color: #3498db;}
  20%  {background-color: #3498db;}
  30%  {background-color: #ffffff;}
  70%  {background-color: #ffffff;}
  80%  {background-color: #3498db;}
  100% {background-color: #3498db;}
}

// fade in
@keyframes blurFadeInOut {
	0% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
    display: none;
	}
}

@-webkit-keyframes rotateDiscoBall {
  0% {-webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg); }
  100% {-webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg); }
}

@keyframes rotateDiscoBall {
  0% {transform: rotateX(90deg) rotateZ(0deg) rotate(0deg); }
  100% {transform: rotateX(90deg) rotateZ(360deg) rotate(0deg); }
}

@-webkit-keyframes rotateDiscoBallMiddle {
  0% {-webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg); }
  100% {-webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg); }
}

@keyframes rotateDiscoBallMiddle {
  0% {transform: rotateX(90deg) rotateY(0deg) rotate(0deg); }
  100% {transform: rotateX(90deg) rotateY(-360deg) rotate(0deg); }
}

@-webkit-keyframes reflect {
  0% {-webkit-filter: brightness(60%); -webkit-filter: hue-rotate(0);}
  50% {-webkit-filter: brightness(120%);}  
  100% {-webkit-filter: brightness(90%); -webkit-filter: hue-rotate(360deg);}  
}

@keyframes reflect {
  0% {opacity: 1; -webkit-filter: hue-rotate(0);}
  50% {opacity: 0.4;}  
  100% {opacity: 1; -webkit-filter: hue-rotate(360deg);}  
}
@keyframes scaleBox{
  0%{transform: scale(1)}
  100%{transform: scale(1.02)}
}