@mixin outline($outline-width: 2px,
               $outline-color: rgba(tomato, 0.2),
               $outline-style: dashed,
               $outline-offset: 2px,
               $background-color: $outline-color) {

  outline: $outline-width $outline-color $outline-style;
  outline-offset: (-1 * ($outline-width + $outline-offset));
  background-color: $background-color;
}

@mixin fontStyle {

  color:$fontColor;
  font-family: $fontFamily;
  span{
      font-size: $subTitleWord;
  }
  p{
      font-size: $contentWord;
  }
  
}