*{
    // outline:1px solid #f00;
    margin: 0;
    padding: 0;
}
@import "base/_var";
@import "base/color";
@import "components/Registered";
@import"components/login";
@import"components/forgotPSW";
@import "layout/grid";
@keyframes lightShow 
{
    0% { border-image:url("../images/navTDD.png")35 repeat;}
  100% { border-image:url("../images/navTDL.png")35 repeat;}
}

@media screen and (min-width:992px){
    header{
        position: fixed;
        background-image: url("../images/navigator.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0px -10px;
        height: 225px;
        width: 100%;
    }
    .mainNav{
        position: relative;
        max-width:1200px;
        text-align: center;
        height: 110px;
        a{text-decoration: none;
        color: $fontColor;}
        font-family: "wangHangMing"; 
        font-size: 24px;
        margin: auto;
        li{
        vertical-align:top;
        display: inline-block;
        margin: 0 30px;
        margin-top: 25px;
        border-bottom: 30px solid transparent;
        border-image:url("../images/navTDD.png")35 repeat;
        }
        li:hover{
            // border-image:url("../images/navTDL.png")34 repeat;
            color:$logoColor;
            animation: lightShow .3s infinite alternate;
            a{color:$logoColor;}
        }
        h1{display: inline-block;}
        img{width: 250px;
        margin-top: 15px;}
        i{color:$logoColor;}
    }
    .navMemCarBtn{
        color: $logoColor;  
        position: absolute;
        top: 30px;
        right: 0px;
        margin:0px 10px;
    }
    // html{background-image: url("../images/navigator.png");
    // background-repeat: no-repeat;}
}
