* { 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
  
}

//星星

.loading {
  vertical-align: middle;
  position: fixed;
  background: #010915;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  outline: blue 5px solid;
  z-index: 9999999;
}

.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:rgb(4, 1, 16) url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  animation: shinning 3s ease-out alternate infinite; 
}
@keyframes shinning{
  0%{ opacity: 1; }
 
  40%{ opacity: .7; }

  60% { opacity: 1; }
  70%{ opacity: .6; }

  80%{ opacity: 1; }

  100%{ opacity: .7; }
}
//迷霧



#fog {
  position: absolute;
  top: 0; left: 0;
  width: 200vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 800%;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    opacity: .85;
  }
  &:before {
    background-image: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png');
    animation: drift 90s linear 0s infinite;
  }
  &:after {
    background-image: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png');
    animation: drift 50s linear 0s infinite;
  }
  @keyframes drift {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-120vw, 0, 0); }
  }
}
//粉紅車車

.readyLoadingCar{
    width: 100vw;
    max-width: 700px;
    animation: carShinning 1.2s ease; 
    animation-fill-mode : forwards;
  }
  @keyframes carShinning{
    0%{ opacity: 1; }
   
    40%{ opacity: .7; }
  
    60% { opacity: 1; }
    70%{ opacity: .3; }
  
    80%{ opacity: .6; }
  
    100%{ opacity: 0; }
  }

.loadingCar{
  position: absolute;
<<<<<<< HEAD
  background-image: url(../images/loadingSceneCar.png) ;
=======
  background-image: url(loadingSceneCar.png) ;
>>>>>>> 8e0bb60beb40f7304e0952b73a20ab9954ec6ba6
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  bottom: 30px;
  right: -100px;
  width: 400px;
  height: 350px;
  outline: #ff006c 5px solid;
  z-index: 10;
  img{
    width:100%;
  }
  animation: loadingCar 3.9s ease forwards;

}
@keyframes loadingCar{
  0%{  transform: translate(0px,0px) scale(0.02); opacity: 0.1;}
  70%{  transform: translate(-44vw,-20vh)  scale(0.4);opacity: 0.8;}
  97%{  transform: translate(0px,0px,20px) scale(0.6);opacity: 1;}
  100%{  transform: translate(-130vw,-30vh) scale(1);opacity: 1;}
}


//LOGO文字放大

.wrapper{
  position: absolute;
  margin-top:25vh;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 3.5vw;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  h2,h3,h4 { 
    margin: auto;
    line-height: 1; 
  }  
  h2 { font-size: 12vw; }
  h3 { font-size: 9vw; }
  animation: bigger 5.8s 1.5s cubic-bezier(0.175, 0.985, 0.32, 1.675);
  
}

.bent {
  transform: rotate(-5deg) translate(0,10px);

}

.neon {
  //@neon-color: #ff006c;
  position: relative;
  display: block;
  font-weight: 100;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  text-shadow: 0 0 0 10px #ff006c;
  white-space: nowrap;
  
  &:before, &:after {
    content: attr(data-value);
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
  }
  
  &:before {
    color: #ff006c;
    z-index: -1;
  }
  
  &:after {
    text-shadow: 0 0 10px  #ff006c, 
                 0 0 20px  #ff006c, 
                 0 0 30px  #ff006c, 
                 0 0 40px  #ff006c, 
                 0 0 70px  #ff006c, 
                 0 0 80px  #ff006c, 
                 0 0 100px #ff006c, 
                 0 0 150px #ff006c;
  }
  
  &.pulse {
    &:before { 
      animation: blink-shadow 1.8s ease-out alternate infinite; 
    }
    &:after {
      animation: blinks 1.8s ease-out alternate infinite; 
    }
  }
}
  @keyframes blinks{
    0%{ opacity: 1; }
    30%{ opacity: .5; }
    40%{ opacity: 0; }
    50%{ opacity: .8; }
    60% { opacity: 1; }
    70%{ opacity: 0; }
    75%{ opacity: .5; }
    80%{ opacity: .9; }
    90%{ opacity: .1; }
    100%{ opacity: 1; }
  }
  
  @keyframes blink-shadow {
    0%{ text-shadow: 12px 12px 12px rgba(0,0,0,.8); }
    40%{ text-shadow: 6px 6px 8px rgba(0,0,0,.8); }
    50%{ text-shadow: 12px 12px 12px rgba(0,0,0,.8); }
    60%{ text-shadow: 0 0 4px rgba(0,0,0,.8); }
    70%{ text-shadow: 12px 12px 12px rgba(0,0,0,.8); }
    100%{ text-shadow: 12px 12px 12px rgba(0,0,0,.8); }
  }
  

  @keyframes bigger{
    0%{transform: scale(0.1); opacity: 0.1;}
    20%{transform: scale(0.6);opacity: 0.4;}
    30%{transform: scale(1); opacity: 1;}
    41%{transform: translate(3px,3px);}
    42%{transform: translate(-3px,-3px);}
    43%{transform: translate(3px,3px);}
    44%{transform: translate(-3px,-3px);}
    45%{transform: translate(3px,3px);}
    66%{transform: translate(-3px,-3px);}
    67%{transform: translate(3px,3px);}
    68%{transform: translate(-3px,-3px);}
    69%{transform: translate(3px,3px);}
    
    78%{transform: translate(3px,3px);}
    79%{transform: translate(-3px,-3px);}
    80%{transform: translate(3px,3px);}
    81%{transform: translate(-3px,-3px);}
    82%{transform: translate(3px,3px);}
    83%{transform: translate(-3px,-3px);}
    88%{transform: scale(5);}
    93%{transform: scale(3);}
    100%{transform: scale(1);}

  }