@import "base/_reset.scss";
@import "base/_var.scss";
@import "base/_color.scss";
@import "layout/grid.scss";
@import "abstracts/_mixins.scss";
@import "abstracts/_mixins.scss";
@import "layout/_header.scss";
@import "components/_buttons.scss";
<<<<<<< HEAD
@import "components/_titlebackground.scss";
@import "layout/_container.scss";


#flyerFeature1,#flyerFeature1,#flyerFeature1{
    color:$fontColor;
    font-family: $fontFamily;
    span{
        font-size: $subTitleWord;
    }
    p{
        font-size: $contentWord;
    }   
}
=======
@import "pages/_api.scss";
@import "pages/_game.scss";
@import "pages/_loading.scss";
@import "headerNav.scss";
>>>>>>> 570d2c8ab15fc9848afbd20f248db16e0dfdb108
