#gameHub{
    opacity:0.85;
    position: fixed;
    left: -385px;
    bottom: 100px;
    width: 80px;
    height: 65px;
    text-align: center;
    ////outline: 5px red solid;
    color: #ffffa3;
    vertical-align: middle;
    z-index: 3;
    img{
      width: 120%;
      margin:5px auto auto auto;
    }
    animation:gameCar 10s ease infinite;
  }
  #customerServiceGirl{
    position:fixed;
    vertical-align: middle;
    ////outline: 5px red solid：
    width:100px;
    right: -10px;
    bottom: -400px;
    z-index:3;
    img{
      width:100%; 
    }
    animation:serviceGirl 12s  ease infinite; 
  }
  //使用者客服問答區
#gameAndService{
    position: fixed;
    width: 100%;
    height: 100%;
    //  //outline: #007bff 5px solid;
   
  }
  #customerTextArea{
    position: fixed;
    border-radius: 10px;
    width: 300px;
    height: 420px;
    background-color: #222222;
    color: $fontColor;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30px;
    z-index: 2;
    img{
      width:5%
    }
  }
  //客服背景圖筐
  .chatrobot {
    position: fixed;
    border: $fontColor 8px groove;
    border-radius: 10px;
    width: 300px;
    height: 420px;
    background-color: #222222;
    color: $fontColor;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30px;
    z-index: 2;
    box-shadow: 0 0 10px 12px rgba(230, 230, 230, 0.3);
    display: none; 
  }
  .chatrobot::after{
    content:'';
    background: url("../images/custormerService.png") no-repeat;
    background-size:contain;
    width:100px;
    height:150px;
    top:100px;
    right: -55px;
    position: absolute;
    animation:serviceGirl 12s  linear infinite;
  }
  //客服文字圖筐
  .chatrobot .chatbox {
    width: 250px;
    height: 280px;
    background-color: #444;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: "微軟正黑體";
    overflow: auto; 
  }
  .chatrobot .chatbox::-webkit-scrollbar {
    display: none; }
    //客服使用者文字輸入區塊
  .chatrobot .chatbox .customMessage {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: $fontColor;
    color: #222;
    text-align: left;
    position: relative; }
  .chatrobot .chatbox .chatline span {
    margin-left: 20px; }
  
    .chatrobot .closebtn {
      position: absolute;
      top: 2px;
      right: 2px;
      font-size: 30px;
      color: #e5dccb;
      cursor: pointer; }
    .chatrobot .chattext {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: space-around; }
      .chatrobot .chattext .messagebox {
        width: 190px;
        height: 50px;
        box-sizing: border-box;
        padding: 5px;
        margin: 0px;
        border: 0px;
        border-radius: 10px;
        font-size: 16px;
        font-family: "Microsoft JhengHei"; }
      .chatrobot .chattext .chatbtn {
        height: 50px;
        width: 50px;
        border: 0;
        font-size: 20px;
        font-family: "kangxi";
        color: #e5dccb;
        border-radius: 10px;
        background-color: #d53e23;
        text-align: center;
        line-height: 50px;
        cursor: pointer; 
      }
      .popOutBgiBlack{
        background-color: rgba(0, 0, 0, 0.6);
      }
  
  
  
  @keyframes gameCar{
    0%{transform:translateX(10px);}
    20%{transform:translateX(-20px);}
    40%{transform:translateX(-90px);}
    60%{transform:translateX(-90px);}
    80%{transform:translateX(-10px);}
    100%{transform:translateX(10px);}
  }
  @keyframes serviceGirl{
    0%{transform:translateY(0px);}
    25%{transform:translateY(20px);}
    50%{transform:translateY(0px);}
    75%{transform:translateY(-20px);}
    100%{transform:translateY(0px);}
  }

  @media screen and (min-width:992px) {
    #customerServiceGirl{
        position:fixed;
        vertical-align: middle;
        ////outline: 5px red solid：
        width:140px;
        right: 80px;
        z-index:3;
        img{
          width:100%; 
        }
        animation:serviceGirl 12s 1s ease infinite;
        
      }
      #gameHub{
        padding:10px;
        opacity:0.9;
        font-size:20px;
        width: 120px;
        height: 140px;
        ////outline: 5px red solid;
        img{
          margin: 10px auto;
        }
      }
  }