.commonBtn{
    font-size: $buttonWord;
    font-family: $fontFamily;
    width: 150px;
    height: 75px;
    background: #323;
    background-size: cover;
    color: $fontColor;
    border-radius: 20px; 
    line-height:75px; 
    border:none;
    box-shadow: 0 0 3px 4px $fontColor,0px 0px 15px $fontColor;
    z-index:2;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 25px $fontColor,
                    0 0 2px 2px #fff;
    }
}
.commonBtnSmall{
    font-size: $smallButtonWord;
    font-family: $fontFamily;
    width: 100px;
    height: 60px;
    background: rgb(0, 42, 79);
    background-size: cover;
    color: $fontColor;
    border-radius: 15px; 
    line-height:70px; 
    border:none;
    z-index:2;
    box-shadow: 0 0 2px 4px $fontColor;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 25px $fontColor,
                    0 0 0 1px #fff;
    }
}