.forgotBox{
    display: none;
    width: 300px;
    height: 400px;
    background: #fff;
    border:5px solid $loginBackColor;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px $loginBackColor;
    box-shadow:0 0 10px  #666 inset;
    padding:25px;
    text-align: center;

    .fa-times{
        color:$loginBackColor;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        &:hover{
            color:rgb(243, 210, 23);
        }
    }
    h3{
        margin: 0;
        font-size: $thrTitleWord;
        color:$loginBackColor;
    }
    p{
        margin-top: 10px;
        font-size: 14px;
        color:rgb(216, 216, 126);
        
    }
    div{
        margin-top: 50px;
        color: $loginBackColor;
        input{
            margin-left: 20px;
        }
        a{
            cursor: pointer;
            &:hover{
                color:rgb(243, 210, 23);
            }
        }
    }
    .commonBtnSmall{
        margin-top: 30px;
        width: 100px;
        height: 50px;
        border-radius: 5px;
        line-height: 50px;
    }
}






// <!-- 忘記密碼燈箱 -->
//     <div class="forgotBox">
//         <i class="fas fa-times"></i>
//         <h3>忘記密碼</h3>
//         <p>請輸入您註冊時的會員信箱，我們會將新的密碼寄至您的信箱。</p>
//         <div>會員信箱<input type="email"></div>
//         <input type="submit" value="寄送密碼" class="commonBtn">
//         <div><a class="backLogin">回到登入</a></div>
//     </div>






// /* 忘記密碼燈箱 JS*/
//         // 點擊關閉----------------------------
//         document.querySelector('.forgotBox .fa-times').addEventListener('click',function(){
//             let forgotBox = document.querySelector('.forgotBox');
//             let style = window.getComputedStyle(forgotBox, null).getPropertyValue('display');
//             if(style=="block"){
//                 forgotBox.style.setProperty('display',"none");
//             }
//         })
//         // 點擊回到登入----------------------------
//         document.querySelector('.forgotBox .backLogin').addEventListener('click',function(){
//             // 隱藏忘記密碼燈箱
//             let forgotBox = document.querySelector('.forgotBox');
//             forgotBox.style.setProperty('display',"none");
//             // 顯示登入燈箱
//             let loginBox = document.querySelector('.loginBox');
//             let style = window.getComputedStyle(loginBox, null).getPropertyValue('display');
//             if(style=="none"){
//                 loginBox.style.setProperty('display',"block");
//             }
//         })