.loginBox{
    display: none;
    width: 300px;
    height: 350px;
    background: #fff;
    border:5px solid $loginBackColor;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 10px $loginBackColor;
    box-shadow:0 0 10px  #666 inset;
    .fa-times{
        color:$loginBackColor;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        &:hover{
            color:#000;
        }
    }
    h3{
        margin-top:0px;
        font-size: $thrTitleWord;
        color:$loginBackColor;
    }
    .inputBox{
        background: $loginInputBackColor;
        border-radius: 10px;
        margin-top: 10px;
        padding: 5px 10px;
        i{
            color:#fff;
        }
        input{
            height:20px;
            margin-left: 10px;
            background: $loginInputBackColor;
            outline: none;
            border: none;
            color:#fff;
        }
    }

    .commonBtnSmall{
        margin-top: 40px;
        width: 80px;
        height: 40px;
        border-radius: 5px;
        line-height: 40px;
    }

    p{
        margin-top:30px;
        color:$loginBackColor;
        a{
            cursor: pointer;
            color:$loginBackColor;
            text-decoration: none;
            &:hover{
                color:rgb(243, 210, 23);
            }
        }
    }
}



// <!-- 登入燈箱 -->
//     <div class="loginBox">
//         <i class="fas fa-times"></i>
//         <h3>登入</h3>
//         <div class="inputBox">
//                 <i class="fas fa-user fa-1x"></i><input type="text" id="username" placeholder="User">
//         </div>
//         <div class="inputBox">
//                 <i class="fas fa-key fa-1x"></i><input type="password" id="password" placeholder="Password">
//         </div>
//         <button class="commonBtn">Login</button>
//         <p><a class="showRegistered">註冊</a> / <a class="showForgotPSW">忘記密碼</a></p>
//     </div>







// /* 登入燈箱 JS*/
//         // 點擊關閉----------------------------
//         document.querySelector('.loginBox .fa-times').addEventListener('click', function () {
//             let loginBox = document.querySelector('.loginBox');
//             let style = window.getComputedStyle(loginBox, null).getPropertyValue('display');
//             if(style=="block"){
//                 loginBox.style.setProperty('display',"none");
//             }
//         })
//         // 點擊註冊------------------------------
//         document.querySelector('.loginBox .showRegistered').addEventListener('click', function () {
//             // 隱藏登入燈箱
//             let loginBox = document.querySelector('.loginBox');
//             loginBox.style.setProperty('display',"none");
//             // 顯示註冊燈箱
//             let registeredBox = document.querySelector('.registeredBox');
//             let style = window.getComputedStyle(registeredBox, null).getPropertyValue('display');
//             if(style=="none"){
//                 registeredBox.style.setProperty('display',"block");
//             }
//         })
//         // 點擊忘記密碼------------------------------
//         document.querySelector('.loginBox .showForgotPSW').addEventListener('click', function () {
//             // 隱藏登入燈箱
//             let loginBox = document.querySelector('.loginBox');
//             loginBox.style.setProperty('display',"none");
//             // 顯示忘記密碼燈箱
//             let forgotBox = document.querySelector('.forgotBox');
//             let style = window.getComputedStyle(forgotBox, null).getPropertyValue('display');
//             if(style=="none"){
//                 forgotBox.style.setProperty('display',"block");
//             }
//         })