.min_view{
  display: block;
}
.max_view{
    display: none;
}
#memberNav{
    line-height: $lineHeight;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;

    .memberImg{
        margin: 50px auto 0;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        position: relative;
        text-align: center;
        img{
            width: 160px;
        }
    }
    h3{
        margin-top:25px;
        font-weight: bold;
        text-align: center;
        font-size: $thrTitleWord;
        color:$logoColor;
    }
    ul{
        width: 1050px;
        display: block;
        background: $memberBackColor;

        li{
            width:120px;
            float: left;
            margin:0 15px;
            text-align: center;
            
            a{
                color:$fontColor;
                font-size: 18px;
                text-decoration: none;
            }
            &:hover a{
                color: #FB4264;
                text-shadow: 0 0 3vw #F40A35;
                animation: neon 1s ease infinite;
            }
        }
        .here{
            transform: scale(1.1);
            a{
                color: #DC2578;
            }
        }
    }

    ul::after{
        content: '';
        display: block;
        clear: left;
    }
}
#memberImgFile{
    opacity: 0;
    position: absolute;
}
@media screen and (min-width:768px) {
    .min_view{display: none}
    .max_view{display: block;}
    .wrap{
        display: flex;
        flex-wrap: nowrap;
    }
    #memberNav{
        background: $memberBackColor;
        line-height: $lineHeight;
        box-sizing: border-box;
        padding: 0;
        height: 100vh;
        h3{
            margin-top:25px;
            font-size: $thrTitleWord;
        }
        ul{
            width: 100%;
            display: block;
            
            li{
                width: 100%;
                font-size: 18px;
                float: none;
                margin:15px 0;
                text-align: center;
                color:$fontColor;
            }
        }
    
        ul::after{
            content: '';
            display: block;
            clear: left;
        }
    }
}



// <!-- 會員中心側邊攔 -->
//     <div class="wrap">
//         <div id="memberNav" class="col-md-3">
//             <div class="memberImg max_view">
//                 <label for="memberImgFile">
//                     <img src="images/member2.jpg" alt="">
//                 </label>
//             </div>
//             <h3 class="max_view">李三十四</h3>
//             <ul>
//                 <li class="here"><a href="">帳號管理</a></li>
//                 <li><a href="">訂單管理</a></li>
//                 <li><a href="">我的發表</a></li>
//                 <li><a href="">我的收藏</a></li>
//                 <li><a href="">宣傳單管理</a></li>
//                 <li><a href="">我的優惠券</a></li>
//                 <li><a href="">登出</a></li>
//             </ul>
//         </div>