.titleBgi{
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> ed355754c7b3d088eaf3758d82d9cd1111b6cc61
    font-size: $titleWord;
    font-family: $fontFamily;
    text-align: center;
    line-height: 110px;
    width: 320px;
    height: 120px;
    background: url(../images/titleNeonLightPink.gif) center no-repeat;
    background-size: cover;
    color: $fontColor;
    border-radius: 10px;  
    outline: none;
    border:none;
<<<<<<< HEAD
    margin: 10px auto;

=======
    margin: auto;
>>>>>>> ed355754c7b3d088eaf3758d82d9cd1111b6cc61
}