/* @charset "UTF-8"; */
div, h1, h2, h3, h4, h5, h6, p, span {
  font-family: '微軟正黑體';
  letter-spacing: 1.5;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

.clearfix {
  clear: both;
}

p {
  line-height: 1.5;
  padding-bottom: 5px;
}

th {
  font-weight: 700;
}

.navbar-brand img {
  margin-left: 25px;
  margin-bottom: 10px;
  width: 50px;
}

#event img {
  margin-bottom: 10px;
  width: 50px;
}

table {
  border: 1px solid rgba(200, 200, 200, 0.5);
}

main {
  margin-top: 100px;
}

main h2 {
  font-family: '微軟正黑體';
  font-size: 34px;
  color: #232323;
  font-weight: bold;
  letter-spacing: 1.5;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(200, 200, 200, 0.5);
}

.gamephoto {
  width: 200px;
}

.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.show{
  display: block;
  
}
.backlogin{
  margin-top: 30px;
}

@media (min-width: 768px) {
  main {
    margin-top: 50px;
  }
  .navbar.fixed-left {
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar.fixed-left .navbar-collapse {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5%;
    width: 100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.pagination,
.searchbar {
  margin-bottom: 15px;
}

#qrcode {
  text-align: center;
}

#qrcode .scranqrcode {
  width: 220px;
  height: 220px;
  margin: 100px auto 40px;
  border: 1px solid black;
}

#qrcode .scranqrcode .fa-camera {
  font-size: 200px;
}

#qrcode h2 {
  text-align: left;
}
.tdimg{
  width: 20%;
}
/* #member,
#order,
#ticket,
#event,
#keyword,
#qrcode,
#game,
#eventEvalReport,
#gamePhotoReport,
#noteCommReport {
  display: none;
} */
/*# sourceMappingURL=admin.css.map */