
//共用的部分

$buttonWord:18px; //按鈕
$contentWord:16px; //內文
$titleWord:42px;  //大標題
$subTitleWord:36px; //次標題
$lineHeight:1.5; //行距
$fontFamily:"wangHangMing"; //字體
$fontColor:rgb(255, 255, 189);  //字體顏色
$memberBackColor:#a82eb6; //會員中心的nav背景
@font-face{
    font-family: "wangHangMing";
    src: url("../font/WCL-02.ttf");
  }
