*{
    outline: 1px solid #f00;
}
body {
  background: #9C9C9C;
}
.beautyRankingbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity .9s linear;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  #beautyRankingbg1 {
    background: url(http://i3.tietuku.com/6c65325bbf87eb84.jpg) no-repeat;
    background-size: cover;
  }
  
  #beautyRankingbg2 {
    background: url(http://i3.tietuku.com/a72ff6249b76a87e.jpg) no-repeat;
    background-size: cover;
  }
  
  #beautyRankingbg3 {
    background: url(http://i3.tietuku.com/eba2fb18598fa5ca.jpg) no-repeat;
    background-size: cover;
  }
  
  .fadeIn {
    opacity: 100;
    filter: alpha(opacity=100);
  }
  
  .pagination {
    width: auto;
    display: table;
    margin: 0 auto
  }
  
  .paginationPanel {
    width: 100%;
    position: fixed;
    bottom: 50px;
    z-index: 0;
    height: auto
  }
  
  .pagination li {
    border-radius: 15px;
    height: 15px;
    width: 50px;
    background: $fontColor;
    float: left;
    margin-right: 10px;
    list-style-type: none
  }
  
  .pagination li.active {
    background: $logoColor;
  }
  
  .pagination li:last-child {
    margin-right: 0
  }
@media screen and (min-width:1200px){
    
    .beautyPageantWrap{
        background-image: url("../../images/beautyPageant/bPBg1.png");
        background-size: cover;
        height: 960px;
        width: 100%;

    }
}