#musicContent{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 960px;
  width: 100%;
}
#thefile {
  // position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  }

  #canvasMusic {
  // position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  }

  #audioMusic {
  // position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  }
.titleBgi{
  margin: 0;
}
li{
  list-style: none;
}
.beautyPageantWrap{
    background-image: linear-gradient(180deg, transparent, transparent 85%, #000 100%);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;   
}
.beautyRankingContainer{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin:auto;
    height: auto;
    .beautyRankingHeader{
      #beautyRankingimgsMonthBtn{
        transition: .5s;
        color: #999;
        &:focus{
          outline: none;
        }
      }
      #beautyRankingimgsBtn{
        transform: scale(1);
        transition: .5s;
        &:focus{
          outline: none;
        }
      }
      .discoBallContainer{
        display: none;
      }
    }
}
.beautyRankingbg {
    position: absolute;
    transform: scale(1);
    left: 0;
    top: 0;
    width: 100%;
    height: 580px;
    transition: opacity .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    filter: alpha(opacity=0);
    h3{
        font-size: $subTitleWord;
        color:$fontColor;
        text-align: center;
        filter: drop-shadow(0px 3px 10px rgba(228, 252, 162, 0.7));
        
    }
     img{
         width: 100%;  
         height: auto;
         max-height: 277px;
         margin-top: 150px;
         filter:drop-shadow(3px 2px 20px rgba(245, 132, 132, 0.7));
     }
     p{
      text-align: center;
      color: white;
      opacity: 0.7;;
     }
  }
  .beautyRankingSocialBtns{
      display: flex;
      text-align: center;
      justify-content:center;
      padding: 0px 30px;
      max-width: 87%;
      margin-left: 6.5%;
      .fa-heart,.fa-heart{
        color:#eee ;}
    p{
        color:white;
        // flex-grow: 1;
        height: 44px;
        width:50%;
        line-height: 44px;
        text-align: center;
    }
      i{
        justify-content:space-between;
        width:44px;
        height: 44px;
        font-size: 28px;
        flex-grow: 1;
        align-content: center;
        color:#eee;
        line-height: 44px;
        text-align: left;
        &:nth-child(4){
          flex-grow: 3;
          text-align: right;
        }
      }
      .fa-bookmark::before,.fa-external-link-alt::before,.fa-comment::before,.fa-heart::before{
        cursor: pointer;
      }
  }
  
  .fadeIn {
    opacity: 100;
    filter: alpha(opacity=100);
  }
  
  .pagination {
    width: auto;
    display: table;
    margin: 0 auto
  }
  
  .paginationPanel {
    width: 100%;
    position: relative;
    margin-top: 510px;
    z-index: 1;
    height: auto;
  }
  
  .pagination li {
    border-radius: 15px;
    height: 15px;
    width: 50px;
    background: $fontColor;
    float: left;
    margin-right: 10px;
    list-style-type: none
  }
  
  .pagination li.active {
    background: $logoColor;
  }
  
  .pagination li:last-child {
    margin-right: 0
  }
  .dotflip{
    text-align:right;
    position: relative;
    width: 100%;
    z-index: 0;
    margin-right: 5px; 
    i{
      line-height: 44px;
    }
  }
  .dotpanel{
    position: absolute;
    height:auto;;
    width: 76px;
    right: -14px;
    top: 10px;
    text-align: left;
    // border: 1px solid #f00;
    background-image: linear-gradient(270deg, transparent, #fff 90%, #fff 100%);
    z-index: 2;
    border-radius:3px 0px 0px 3px;
    li{
      z-index: 1;
      cursor: pointer;
      display: inline-block;
      &:hover{
        color: $logoColor;
      }
    }
  }
  .beautyDiscWrap{ 
    background-color: #111;
    width: 100%;
    height: auto;
    .beautyDiscContainer{
      margin: auto;
      padding: 10px;
      padding-top: 20px;
    }
    .beautyDiscStageContainer{
      .beautyDiscIg{
        height:auto;
        max-height: 650px;
        width: 100%;
        background-color: #fff700c2;
        border-radius: 10px;
        padding: 26px;
        margin: 50px 0;
        filter: drop-shadow(0 0 8px #fff);
        .likeCount{
          margin-left: 5px;
          letter-spacing:0.1em;
        }
        .beautyRankingSocialBtns {
          display: flex;
          text-align: center;
          justify-content:center;
          // padding: 0px 30px;
          max-width: 100%;
          margin-left: 5px;
          padding: 0px;
          margin-top: 0px;
          i{
            color: #111;
          }
          p{
            color: #111;
          }
        }
        .beautyDiscIgMem{
        display: flex;
        padding: 0 0 10px 0;
          .beautyDiscIgTopic{
            height: 50px;
            width: 200%;
            margin-left: 5px;
            .beautyDiscIgMName{
              font-size: 18px;
              width: 100%;
              line-height: 25px;
              height: 25px;
              max-width: 100%;
            }
            .beautyDiscIgMNameCar{
              font-size: 18px;
              width: 100%;
              line-height: 25px;
              height: 25px;
              max-width: 100%;
              color:#555;
            }
          }
          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 5px;
          }
          p{
            max-width: calc(100% - 50px );
            line-height: 50PX;
            font-size: $buttonWord;
            letter-spacing:0.1em;
            font-weight: 900;
            margin-left: 5px;
          }
        }
        .beautyDiscIgMemTextContainerWrap{
          margin: 20px 0px;
          font-family: '微軟正黑';
          overflow-y:hidden;
          .beautyDiscIgMemTextContainer{
            display: flex;
            width: 100%;
            margin-top: 8px;
            img{
              width: 28px;
              height: 28px;
              border-radius: 50%;
              margin-left: 5px;
            }
            .beautyDiscIgMName{
              line-height: 28PX;
              font-size: contentWord;
              letter-spacing:0.1em;
              font-weight: 900;
              padding-left: 5px;
            }
            .beautyDiscIgNameText{
              margin-left: 20px;
              line-height: 28PX;
              font-size: $contentWord;
              color: #444;
            }
          }
        }
        .beautyDiscIgMemStage{
          img{
            width: 100%;
            filter: drop-shadow(2px 2px 4px #444);
          }
        }
        .beautyDiscForm{
          display: flex;
          width: 100%;
          img{
          width: 28px;
          height: 28px;
          border-radius: 50%;
          line-height: 28px;
          margin-left:5px; 
          }
          form{
            width: 100%;
            height: 44px;
            .DiscTextArea{
              line-height: 28px;
              width: calc(100% - 10px);
              margin: 0;
              margin-left: 5px;
              border-radius: 5px;
              border: 2px solid rgb(0, 195, 137);
              &:focus{
                outline: none;
                border-radius: 5px;
                border: 2px solid rgb(255, 121, 81);
                &+.DiscSent{
                  background-color: rgb(0, 195, 137);
                }
              }
            }
            .DiscSent{
              position: absolute;
              right: 34px;
              width: 44px;
              font-size: 14px;
              height: 28px;
              margin: 0;
              border-radius: 5px;
              color: #fff;
              background-color: rgb(255, 121, 81);
              margin-top: -30px;
              cursor: pointer;     
            }
          }
        }
      }
    }
  }
@media screen and (min-width:1200px){
    .beautyDiscWrap{
      .beautyDiscContainer{
        max-width: 1200px;
        height: auto;
        .beautyDiscFilter{
          margin-top: 50px;
          max-width: 1200px;
          height: 50px;
          margin-left: 19px;
          margin-right: 19px;
          display: flex;
          justify-content:space-between;
          i{
            color: #F2EB50;
            font-size: 44px;
            padding: 3px;
            cursor: pointer;
          }
          .beautyDiscFilterBox{
            width: 160px;
            display: inline-block;
            height: 50px;
            border-radius: 10px;
            background-color: #F2EB50;
            padding: 7px; 
            select{
              margin: auto;
               /*移除箭頭樣式*/
              appearance:none;
              -moz-appearance:none;
              -webkit-appearance:none;
              margin-left: 13px;
              /*改變右邊箭頭樣式*/
              background: url(../images/beautyPageant/caret-square-down-solid.svg) no-repeat right center transparent;
              
              border:0px;
              // width:100%;
              height:34px;
              padding-left:2px;
              padding-right:40px;
              background-color:#F6F7F7;
              color:gray;
            }
          }
        }
        .beautyDiscStageContainer{
          display: flex;
          flex-wrap: wrap;
            .beautyDiscIg{
              width: 30%;
              margin: 50px 19px;
              margin-top: 20px;
          }
        }
      }
    }
    .paginationPanel{
        display: none;
    }

    .beautyPageantWrap{
        // background-image: url("../images/beautyPageant/bPBg1.png");
        background-size: cover;
        height: 960px;
        width: 100%;
        .beautyRankingContainer{
          height: 960px;
          .beautyRanking{
            margin-top: 100px;
          }
          .beautyRankingHeader{
            display: flex;
            margin-top: 0px;
            padding-bottom: 0px;
            #beautyRankingimgsBtn{
              background-color: #F2EB50;
            }
            .beautyRankingSlogan{
              &:nth-child(2){
                filter: drop-shadow(-8px 8px 12px $logoColor);
              }
              &:nth-child(5){
                filter: drop-shadow(8px 8px 12px $logoColor);
              }
            }
            .beautyRankingBtn{
              margin-top: 220px;
              margin-left: 20px;
              margin-right: 20px;
              padding: 0;
              background-color: #ffffffe6;
              border-radius: 10px;
              border-color: transparent;
              width: 150px;
              height: 80px;
              font-size: $titleWord;
              z-index: 0;
              cursor: pointer;
              font-family: 'wangHangMing';
              box-shadow: 0px 4px 5px $fontColor;
              &:hover{
                box-shadow:0px 4px 5px $logoColor;
              }
            }
            .discoBallContainer{
              display: initial;
              transform: scale(1.5);
              position: absolute;
              top: 180px;
              left: 50%;
              margin-left: -50px;
              #discoBall {
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                width: 100px;
                height: 100px;
                -webkit-animation: rotateDiscoBall 18s linear infinite;
                animation: rotateDiscoBall 18s linear infinite;
                color: #fff;
                
              }
  
              #discoBallLight {
                width: 100px;
                height: 100px;
                position: absolute;
                top: 0px;
                left: 50%;
                margin-left: -50px; 
                border-radius: 100%;
                background-color: #feffb2; 
                opacity: 0.6;
                // -webkit-filter: blur(40px);
              }
  
              .square {
                transform-style: preserve-3d;	
                position: absolute;
                top: 50px;
                left: 50px;
                width: 6px;
                height: 6px;
                position: absolute;
                transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
              }
  
              #discoBallMiddle { 
                height: 100%;
                border-radius: 100%;
                background-color: #111;
                position: absolute;
                background: -webkit-linear-gradient(top, #111, #333);
                background: -moz-linear-gradient(top, #111, #333);
                background: linear-gradient(top, #111, #333);
                -webkit-animation: rotateDiscoBallMiddle 18s linear infinite;
                animation: rotateDiscoBallMiddle 18s linear infinite;
              }
  
              .light {
                display: none;
                width: 10px;
                height: 10px;
                color: #ebf2dd;
                background-color: currentColor;
                border-radius: 50%;
                box-shadow: 0 0 5px currentColor, 0 0 10px currentColor, 0 0 15px currentColor, 0 0 25px currentColor, 0 0 35px currentColor, 0 0 65px currentColor;
              }
            }
           
            .beautyRankingSlogan{
                padding-top:264px;
                padding-bottom: 16px;
                color: $logoColor;
                flex-grow:1;
                text-align: center;
                font-size: $titleWord;
                letter-spacing: 0.8em;
                ;
            } 
        }
        }

    }
    #beautyRankingimgs{
        display: flex;
        transition: .5s;
        flex-wrap: nowrap;
        .beautyRankingbg{
            width: calc(100% - 60px);
            opacity: 1;
            position: initial;
            flex-grow: 1;
            height: auto;
            transition: 1s;
            box-sizing: border-box ;
            text-align: center;
            p{
              text-align: left;
              color: white;
              opacity: 0.7;
              margin-left:calc(6.5% + 30px);
              font-family: '微軟正黑';
              font-size: 12px;
             }
            img{
                margin: 0px;
                width: calc(100% - 60px);
                height: auto;
                padding: 0px;
                padding-bottom: 0px;
            }
            h3{
              padding-bottom: 15px;
              margin-top: -15px;
            }
        }
    }
    #beautyRankingimgsMonth{
      display: none;
      transition: .5s;
      .beautyRankingbg{
        width: 33%;
        opacity: 1;
        position: initial;
        flex-grow: 1;
        height: auto;
        transition: 1s;
        box-sizing: border-box ;
        text-align: center;
        p{
          text-align: left;
          color: white;
          opacity: 0.7;
          margin-left:calc(6.5% + 30px);
          font-family: '微軟正黑';
          font-size: 12px;
         }
        img{
            margin: 0px;
            width: calc(100% - 60px);
            height: auto;
            padding: 0px;
            padding-bottom: 0px;
        }
        h3{
          padding-bottom: 15px;
          margin-top: -15px;
        }
    }
  }
}
