.titleBgi{
  margin: 0;
}
.beautyPageantWrap{
    background-image: url("../images/beautyPageant/bPBg1.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;   
}
.beautyRankingContainer{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin:auto;
    height: auto;
}
.beautyRankingbg {
    position: absolute;
    transform: scale(1);
    left: 0;
    top: 0;
    width: 100%;
    height: 580px;
    transition: opacity .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    filter: alpha(opacity=0);
    h3{
        font-size: $subTitleWord;
        color:$fontColor;
        text-align: center;
        filter: drop-shadow(0px 3px 10px rgba(228, 252, 162, 0.7));
        
    }
     img{
         width: 100%;  
         height: auto;
         max-height: 277px;
         margin-top: 150px;
         filter:drop-shadow(3px 2px 20px rgba(245, 132, 132, 0.7));
     }
  }
  .beautyRankingSocialBtns{
      display: flex;
      text-align: center;
      .fa-heart,.fa-heart{
        color:red;}
    p{
        color:white;
        flex-grow: 1;
        height: 44px;
        width:50%;
        line-height: 44px;
        text-align: center;
    }
      i{
        justify-content:space-between;
        width:50%;
        height: 44px;
        font-size: 28px;
        flex-grow: 1;
        align-content: center;
        color:white;
        line-height: 44px;
      }
  }
  
  .fadeIn {
    opacity: 100;
    filter: alpha(opacity=100);
  }
  
  .pagination {
    width: auto;
    display: table;
    margin: 0 auto
  }
  
  .paginationPanel {
    width: 100%;
    position: relative;
    margin-top: 510px;
    z-index: 1;
    height: auto;
  }
  
  .pagination li {
    border-radius: 15px;
    height: 15px;
    width: 50px;
    background: $fontColor;
    float: left;
    margin-right: 10px;
    list-style-type: none
  }
  
  .pagination li.active {
    background: $logoColor;
  }
  
  .pagination li:last-child {
    margin-right: 0
  }
  .dotflip{
    text-align:center;
    position: relative;
  }
  .dotpanel{
    position: absolute;
    height:auto;;
    width:100px;
    right: -15px;
    display:none;
    p{
    font-size: $contentWord;
    }
  }
  .beautyDiscWrap{ 
    background-color: #111;
    width: 100%;
    height: auto;
    .beautyDiscContainer{
      margin: auto;
      padding: 10px;
    }
    .beautyDiscStageContainer{
      .beautyDiscIg{
        height:auto;
        max-height: 650px;
        width: 100%;
        background-color: rgb(248, 252, 5);
        border-radius: 10px;
        padding: 10px;
        margin: 50px 0;
        filter: drop-shadow(0 0 8px #fff);
        .beautyRankingSocialBtns {
          i{
            color: #111;
          }
          p{
            color: #111;
          }
        }
        .beautyDiscIgMem{
        display: flex;
          img{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin: 0 15px;
          }
          p{
            max-width: calc(100% - 44px );
            line-height: 44PX;
            font-size: $buttonWord;
            letter-spacing:0.1em;
            font-weight: 900;
          }
        }
        .beautyDiscIgMemTextContainer{
          display: flex;
          width: 100%;
          img{
            width: 44px;
            height: 44px;
            margin: 0 15px;
            border-radius: 50%;
          }
          .beautyDiscIgMName{
            line-height: 44PX;
            font-size: $buttonWord;
            letter-spacing:0.1em;
            font-weight: 900;
          }
          .beautyDiscIgNameText{
            margin-left: 20px;
            line-height: 44PX;
            font-size: $contentWord;
          }
        }
        .beautyDiscIgMemStage{
          img{
            width: 100%;
            background-color: #fff;
          }
        }
        .beautyDiscForm{
          display: flex;
          width: 100%;
          img{
          margin: 0 15px;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          }
          form{
            width: 100%;
            height: 44px;
            .DiscTextArea{
              line-height: 34px;
              width: calc(100% - 10px);
              margin: 5px 0;
              position: relative;
              border-radius: 5px 0px 0px 5px;
            }
            .DiscSent{
              position: absolute;
              right: 24px;
              width: 44px;
              font-size: $buttonWord;
              line-height: 31px;
              height: 32px;
              margin: 8px 0;
              border-radius: 5px;
              color: #fff;
              background-color: #666;
            }
          }
        }
      }
    }
  }
@media screen and (min-width:1200px){
    .beautyDiscWrap{
      .beautyDiscContainer{
        max-width: 1200px;
        height: auto;
        .beautyDiscStageContainer{
          display: flex;
          flex-wrap: wrap;
            .beautyDiscIg{
              width: 30%;
              margin: 50px 19px;
          }
        }
      }
    }
    .paginationPanel{
        display: none;
    }
    .beautyRankingContainer{
      height: 960px;
    }
    .beautyPageantWrap{
        background-image: url("../images/beautyPageant/bPBg1.png");
        background-size: cover;
        height: 960px;
        width: 100%;
        .beautyRankingHeader{
            display: flex;
            .beautyRankingSlogan{
                padding-top:250px;
                padding-bottom: 50px;
                color: $fontColor;
                flex-grow:1;
                text-align: center;
                font-size: $titleWord;
                ;
            } 
        }
    }
    #beautyRankingimgs{
        display: flex;
        .beautyRankingbg{
            width: 33%;
            opacity: 1;
            position: initial;
            flex-grow: 1;
            height: auto;
            transition: 1s;
            p{
                color: $fontColor;
                font-size: $contentWord;
                letter-spacing: .1em;
            }
            img{
                margin: 0px;
                width: 100%;
                height: auto;
                padding: 30px;
                box-sizing: border-box ;
            }
        }
    }
}