// mobile
// bg
.custBg{
    padding-top: 100px;
    background-image: url(../images/customized/customized_bg_02.jpg);
    background-position: center;
    min-height: 100vh;
    .titleBgi{
        background-image: url(../images/titleNeonLightRedNew.gif);
    }
}

//title
// replace with titleBgi
// .custTitle{
//     background-image:url(../images/customized/title_bg.png);
//     background-size: 100%;
//     background-repeat: no-repeat;
//     margin: auto;
//     width: 300px;
//     text-align: center;
//     h3{
//         font-size: $subTitleWord;
//         color: $fontColor;
//         line-height: 85px;
//     }
// }

// 客製步驟
.custStep{
    width: 95%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnCustStep{
    cursor: pointer;
    font-size:14px;
    width: 85px;
    background: url(../images/customized/customized_step.svg) center no-repeat;
    background-size: 100%;
    color: $fontColor;
    text-align: center;
    h4{
        line-height: 60px;
    }
    &:hover{
        filter: drop-shadow(2px 2px 8px $logoColor);
    }
}
.custSelected{
    width: 110px;
    filter: drop-shadow(2px 2px 8px $logoColor);
    h4{
        font-size:18px;
    }
    &:hover{
        filter: drop-shadow(2px 2px 8px $logoColor);
    }
}
// 舞台
.perspective{
    margin: auto;
    max-width: 500px;
    height: 400px;
    position: relative;
    perspective: 900px;
}
@keyframes turn{
    0%{transform:translateY(100px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)}
    100%{transform:translateY(100px) rotateX(0deg) rotateY(-30deg) rotateZ(0deg)}
}
@keyframes turn2{
    0%{transform: translateY(-80px) translateX(-100px) translateZ(75px) rotateX(0deg) rotateY(-30deg) rotateZ(0deg)}
    100%{transform:translateY(-80px) translateX(-100px) translateZ(75px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)}
}
@keyframes turn3{
    0%{transform: translateY(-80px) translateX(100px) translateZ(75px) rotateX(0deg) rotateY(-30deg) rotateZ(0deg)}
    100%{transform:translateY(-80px) translateX(100px) translateZ(75px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)}
}
// 整個舞台
.groupA{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 40px;
    // outline: 2px solid #f00;
    transform-style: preserve-3d;
    transform: translateY(100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    // animation: turn 6s alternate infinite;
    animation: none;
    div{
        box-sizing: border-box;
        width: 300px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        // outline: 1px solid #00f;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    // 下舞台
    .front{ 
        width: 300px; 
        transform: translateX(0px) translateZ(75px);
        // background: #fff center no-repeat;
        background: url(../images/customized/cust_stage_innerPattern/pattern_test_02.jpg) center no-repeat;
        background-size:cover;
        &:hover{
            border: #f00 dashed 2px;
            box-shadow: 0px 0px 8px $fontColor;
        }
    }
    // .front1{  width: 40px; transform:  translateZ(75px);background: #faf}
    // .front2{  width: 130px; transform: translateX(85px) translateZ(75px);background: url(../images/5.png)center no-repeat;background-size:cover;}
     .back{transform:  translateZ(-75px);background: url(../images/3.png)center no-repeat;background-size:cover;}
       .up{ 
           transform: rotateX(90deg)  translateZ(20px); 
           height: 150px;
           background: url(../images/stage_floor.jpg) center no-repeat;
           background-size:cover;
        }
     .down{ transform: rotateX(270deg)  translateZ(20px); height: 150px;background: url(../images/3.png)center no-repeat;background-size:cover;}
     .left{ transform: rotateY(270deg) translateZ(150px); width: 150px;background: url(../images/3.png)center no-repeat;background-size:cover;}
    .right{ transform: rotateY(90deg) translateZ(150px);  width: 150px;background: url(../images/3.png)center no-repeat;background-size:cover;}
    .stairsA{ }
    .stairsB{ width: 30px;height:40px;transform:rotateX(270deg) translateY(-85px)  translateZ(20px)}
    // 壁屏
    // .stairsC{ width: 250px;height: 95px;transform:  translateZ(-75px) translateY(-65px);border:#000 solid 1px;background: url(../images/stage/5.png)center no-repeat;background-size:cover;}
    .stairsC1{
        width: 250px;
        height: 95px;
        transform:  translateZ(-69px) translateY(-65px);
        border:#000 solid 1px;
        background: #fff center no-repeat;
        background: url(../images/customized/cust_stage_innerPattern/pattern_test_03.jpg) center no-repeat;
        background-size:cover;
        &:hover{
            border: #f00 dashed 2px;
            box-shadow: 0px 0px 8px $fontColor;
        }
    }
    .stairsC2{width: 6px; height: 95px;transform: translateY(-65px) translatez(-73px) translateX(126px) rotateY(90deg);background: #646464;}
    .stairsC3{width: 6px; height: 95px;transform: translateY(-65px) translatez(-73px) translateX(-126px) rotateY(90deg);background: #646464;}
    .stairsC4{width: 250px; height: 6px;transform: translateZ(-73px)translateY(-112px) rotateX(90deg);background: #646464;}
    // 上壁屏
    // .stairsD{ width: 50px; height: 205px;transform: translateZ(20px)translateX(-95px)translateY(-160px) rotateX(-60deg);background: url(../images/6.png)center no-repeat;background-size:cover;}
    // .stairsE{ width: 50px; height: 205px;transform: translateZ(20px)translateX(95px)translateY(-160px) rotateX(-60deg);background: url(../images/7.png)center no-repeat;background-size:cover;}
    .stairsF{ 
        width: 240px;
        height: 205px;
        transform: translateZ(20px)translateY(-160px) rotateX(-60deg);
        // background: #fff center no-repeat;
        background: url(../images/customized/cust_stage_innerPattern/pattern_test_01.jpg) center no-repeat;
        background-size:cover;
        &:hover{
            border: #f00 dashed 2px;
            box-shadow: 0px 0px 8px $fontColor;
        }
        
    }
    // .stairsF1{width: 240px; height: 205px;transform: translateZ(20px)translateY(-162px) rotateX(-60deg);background: #fff center no-repeat;background-size:cover;}
    .stairsF2{width:2px; height: 208px;transform: translateZ(18px) translateY(-160px) translateX(-120px) rotateY(-90deg) rotateZ(60deg);background: #646464;}
    .stairsF3{width:2px; height: 208px;transform: translateZ(18px) translateY(-160px) translateX(120px) rotateY(-90deg) rotateZ(60deg);background: #646464;}
    .stairsF4{width:240px; height: 2px;transform: translateZ(108px) translateY(-212px) ;background: #646464;}
    // 跑馬燈
    .subtitles{ 
        width: 200px;
        height: 20px;
        padding: 0px 5px;
        transform: translateY(-100px) translateZ(-67px);
        font-size: 18px;
        line-height: 1;
        white-space: nowrap;
        background: #000;
        color:#fff;
        overflow: hidden;
    }
    p{
        animation: marquee 7s linear infinite;
    }
    @keyframes marquee{
        0% {
         left: 100%;
         transform: translateX(100%);
        }
        
        100% {
         left: 0;
         transform: translateX(-100%);
        }
    }
    .subtitles1{width:2px ;height:20px;transform: translateY(-100px) translateZ(-67px)translateX(100px)rotateY(90deg);background: #646464;}
    .subtitles2{width:2px ;height:20px;transform: translateY(-100px) translateZ(-67px)translateX(-100px)rotateY(90deg);background: #646464;}

    // 樓梯三角形 位置調整translateZ(75px)
    .triangleA{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(-20px) rotateY(-90deg);
    }
    .triangleB{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(-30px) rotateY(-90deg);
    }
    .triangleC{
        width: 10px;
        height: 75px;
        // background: rgba(30,30,30,.9);
        background: url(../images/stairs_side.jpg) center no-repeat;
        background-size: 100%;
        transform:translateZ(75px)  translateX(-25px) translateZ(30px) rotateX(53deg)
    }
    .triangleD{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(20px) rotateY(-90deg);
    }
    .triangleE{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(30px) rotateY(-90deg);
    }
    .triangleF{
        width: 10px;
        height: 75px;
        // background: rgba(30,30,30,.9);
        background: url(../images/stairs_side.jpg) center no-repeat;
        background-size: 100%;
        transform:translateZ(75px)  translateX(25px) translateZ(30px) rotateX(53deg)
    }
    
    // 樓梯 位置調整translateZ(75px)
    .ladder{
        width: 40px;
        // border: 1px solid #6e6e6e;
        height: 10px;
        // background: url(../images/customized/cust_stage_light/stage_light_control.gif) center no-repeat;
        // background-size: 100%;
        background: #333;
    }
    .ladderB, .ladderD, .ladderF, .ladderH{
        background: url(../images/stairs.jpg) center no-repeat;
        background-size: 100%;
    }
    .ladderA{
        transform:translateZ(75px)  translateY(-20px) translateZ(0px) rotateX(90deg);
    }
    .ladderB{
        transform:translateZ(75px)  translateY(-15px) translateZ(5px);
    }
    .ladderC{
        transform:translateZ(75px)  translateY(-10px) translateZ(10px) rotateX(90deg);
    }
    .ladderD{
        transform:translateZ(75px)  translateY(-5px) translateZ(15px) ;
    }
    .ladderE{
        transform:translateZ(75px)  translateY(0px) translateZ(20px) rotateX(90deg);
    }
    .ladderF{
        transform:translateZ(75px)  translateY(5px) translateZ(25px) ;
    }
    .ladderG{
        transform:translateZ(75px)  translateY(10px) translateZ(30px) rotateX(90deg);
    }
    .ladderH{
        transform:translateZ(75px)  translateY(15px) translateZ(35px) ;
    }
        /* 燈柱 位置調整 translateY(-210px) translateZ(115px) */
    .headlightbox{
        width: 150px;
        height: 10px;
        background: #333;
        box-shadow: 1px 1px 5px $logoColor;
        box-shadow: 1px 1px 8px $logoColor;
    }
    .headlightbox0{    
        transform:translateY(-210px) translateZ(115px) translateY(5px)rotateX(90deg);
    }
    .headlightbox1{
        transform:translateY(-210px) translateZ(115px) translateY(5px) rotateX(90deg) ;
    }
    .headlightbox2{
        transform:translateY(-210px) translateZ(115px) translateZ(5px) ;
    }
    .headlightbox3{
        transform:translateY(-210px) translateZ(115px) translateZ(-5px) ;
    }
    .headlightbox4{
        width: 10px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateX(75px) rotateY(90deg);
    }
    .headlightbox5{
        width: 10px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateX(-75px) rotateY(90deg);
    }
    /* 中間投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #333 transparent;
        background: none;
    }
    .headlight0{
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateZ(5px)rotateX(30deg);
    }
    .headlight1{
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateZ(-5px) rotateX(-30deg);
    }
    .headlight2{
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg);
    }
    .headlight3{
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg);
    }
    
    /* 左邊投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight4{
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateZ(5px)rotateX(30deg);
    }
    .headlight5{
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateZ(-5px) rotateX(-30deg);
    }
    .headlight6{
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg);
    }
    .headlight7{
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg);
    }
    
    /* 右邊投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight8{
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateZ(5px)rotateX(30deg);
    }
    .headlight9{
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateZ(-5px) rotateX(-30deg);
    }
    .headlight10{
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg);
    }
    .headlight11{
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg);
    }
    .audioItem01, .audioItem02, .audioItem03{
        display: none;
    }
    /* 左音箱 位置調整前三個 translateZ(40px)translateX(-120px) translateY(-50px)*/
    .audioItem01{
            .audioBox0{
            width: 30px;
            height: 60px;
            z-index: 1;
            background: url(../images/audio1.png)center no-repeat;
            background-size:cover;
            transform:translateZ(40px)translateX(-120px) translateY(-50px)  rotateY(-30deg) translateZ(10px);
        }
        .audioBox1{
            width: 30px;
            height: 60px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateZ(-10px)
        }
        .audioBox2{
            width: 20px;
            height: 60px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateX(-15px) rotateY(90deg)
        }
        .audioBox3{
            width: 20px;
            height: 60px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateX(15px) rotateY(90deg)
        }
        .audioBox4{
            width: 30px;
            height: 20px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-50px)  translateY(-30px) rotateY(-30deg) rotateX(90deg)
        }
        /* 右音箱 位置調整前三個 translateZ(40px)translateX(120px) translateY(-50px)*/
        .audioBox5{
            width: 30px;
            height: 60px;
            z-index: 1;
            background: url(../images/audio1.png)center no-repeat;background-size:cover;
            transform:translateZ(40px)translateX(120px) translateY(-50px)  rotateY(30deg) translateZ(10px)
        }
        .audioBox6{
            width: 30px;
            height: 60px;
            background: #000;
            transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateZ(-10px)
        }
        .audioBox7{
            width: 20px;
            height: 60px;
            background: #000;
            transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateX(-15px) rotateY(90deg)
        }
        .audioBox8{
            width: 20px;
            height: 60px;
            background: #000;
            transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateX(15px) rotateY(90deg)
        }
        .audioBox9{
            width: 30px;
            height: 20px;
            background: #000;
            transform:translateZ(40px)translateX(120px) translateY(-50px)  translateY(-30px) rotateY(30deg) rotateX(90deg);
        }
    }
    .audioItem02{
        .audioBox0{
            width: 20px;
            height: 100px;
            z-index: 1;
            background: url(../images/audio2.png)center no-repeat;
            background-size:cover;
            transform:translateZ(40px)translateX(-115px) translateY(-70px)  rotateY(-30deg) translateZ(10px);
        }
        .audioBox1{
            width: 20px;
            height: 100px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-70px) rotateY(-30deg) translateZ(-10px)
        }
        .audioBox2{
            width: 20px;
            height: 100px;
            background: #000;
            transform:translateZ(10px)translateX(-115px) translateY(-70px) rotateY(-30deg) translateX(-15px) rotateY(90deg)
        }
        .audioBox3{
            width: 20px;
            height: 100px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-70px) rotateY(-30deg) translateX(15px) rotateY(90deg)
        }
        .audioBox4{
            width: 30px;
            height: 20px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-70px)  translateY(-30px) rotateY(-30deg) rotateX(90deg)
        }
        /* 右音箱 位置調整前三個 translateZ(40px)translateX(120px) translateY(-50px)*/
        .audioBox5{
            width: 20px;
            height: 100px;
            z-index: 1;
            background: url(../images/audio2.png)center no-repeat;background-size:cover;
            transform:translateZ(40px)translateX(120px) translateY(-70px)  rotateY(30deg) translateZ(10px)
        }
        .audioBox6{
            width: 20px;
            height: 100px;
            background: #000;
            transform:translateZ(40px)translateX(120px) translateY(-70px) rotateY(30deg) translateZ(-10px)
        }
        .audioBox7{
            width: 20px;
            height: 100px;
            background: #000;
            transform:translateZ(40px)translateX(125px) translateY(-70px) rotateY(30deg) translateX(-15px) rotateY(90deg)
        }
        .audioBox8{
            width: 20px;
            height: 100px;
            background: #000;
            transform:translateZ(40px)translateX(110px) translateY(-70px) rotateY(30deg) translateX(15px) rotateY(90deg)
        }
        .audioBox9{
            width: 30px;
            height: 20px;
            background: #000;
            transform:translateZ(40px)translateX(120px) translateY(-70px)  translateY(-30px) rotateY(30deg) rotateX(90deg);
        }
    }
    .audioItem03{
        .audioBox0{
            width: 40px;
            height: 70px;
            z-index: 1;
            background: url(../images/audio3.png)center no-repeat;
            background-size:cover;
            transform:translateZ(40px)translateX(-115px) translateY(-55px)  rotateY(-30deg) translateZ(10px);
        }
        .audioBox1{
            width: 40px;
            height: 70px;
            background: #000;
            transform:translateZ(-10px)translateX(-120px) translateY(-55px) rotateY(-30deg) translateZ(-10px)
        }
        .audioBox2{
            width: 40px;
            height: 70px;
            background: #000;
            transform:translateZ(10px)translateX(-115px) translateY(-55px) rotateY(-30deg) translateX(-15px) rotateY(90deg)
        }
        .audioBox3{
            width: 40px;
            height: 70px;
            background: #000;
            transform:translateZ(30px)translateX(-110px) translateY(-55px) rotateY(-30deg) translateX(15px) rotateY(90deg)
        }
        .audioBox4{
            width: 40px;
            height: 40px;
            background: #000;
            transform:translateZ(40px)translateX(-120px) translateY(-70px)  translateY(-30px) rotateY(-30deg) rotateX(90deg)
        }
        /* 右音箱 位置調整前三個 translateZ(40px)translateX(120px) translateY(-50px)*/
        .audioBox5{
            width: 40px;
            height: 70px;
            z-index: 1;
            background: url(../images/audio3.png)center no-repeat;background-size:cover;
            transform:translateZ(40px)translateX(120px) translateY(-55px)  rotateY(30deg) translateZ(10px)
        }
        .audioBox6{
            width: 40px;
            height: 70px;
            background: #000;
            transform:translateZ(10px)translateX(120px) translateY(-55px) rotateY(30deg) translateZ(-10px)
        }
        .audioBox7{
            width: 40px;
            height: 70px;
            background: #000;
            transform:translateZ(40px)translateX(110px) translateY(-55px) rotateY(30deg) translateX(-15px) rotateY(90deg)
        }
        .audioBox8{
            width: 40px;
            height: 70px;
            background: #000;
            transform:translateZ(30px)translateX(120px) translateY(-55px) rotateY(30deg) translateX(15px) rotateY(90deg)
        }
        .audioBox9{
            width: 40px;
            height: 40px;
            background: #000;
            transform:translateZ(40px)translateX(120px) translateY(-70px)  translateY(-30px) rotateY(30deg) rotateX(90deg);
        }
    }
    
    .poleItem{
        width: 15px;
        height: 150px;
        background: url(../images/customized/cust_stage_audioAndPole/pole_select.png)center no-repeat;background-size:cover;
        transform: translateZ(0px)translateX(0px) translateY(-90px)  rotateY(0deg);
    }
    // 鋼管
    .pole1, .pole2, .pole3{
        display: none;
    }
    .pole2{
        & :first-child{
            transform: translateX(50px) translateY(-90px);
        }
        & :last-child{
            transform: translateX(-50px) translateY(-90px);
        }
    }
    .pole3{
        & :first-child{
            transform: translateX(100px) translateY(-90px);
        }
        & :nth-child(2){
            transform: translateX(50px) translateY(-90px);
        }
        & :nth-last-child(2){
            transform: translateX(-50px) translateY(-90px);
        }
        & :last-child{
            transform: translateX(-100px) translateY(-90px);
        }
    }
    // 特效
    .fireEffect01, .fireEffect02, .fireEffect03{
        display: none;
    }
    .fireEffect01{
        img{
            padding: 0px 30px;
            width: 60px;
            transform: translateZ(0px)translateX(0px) translateY(-85px)  rotateY(0deg);
        }
    }
    .fireEffect02{
        img{
            padding: 0px 30px;
            width: 30px;
            transform: translateZ(0px)translateX(0px) translateY(-55px)  rotateY(0deg);
        }
    }
    .fireEffect03{
        img{
            padding: 0;
            width: 120px;
            transform: translateZ(0px)translateX(0px) translateY(-80px)  rotateY(0deg);
        }
    }
    .fireworkEffect01, .fireworkEffect02, .fireworkEffect03{
        display: none;
        img{
            position: absolute;
            width: 200px;
            z-index: -1;
        }
    }
    .fireworkEffect01{
        & :first-child{
            transform: translateZ(0px)translateX(50px) translateY(-235px)  rotateY(0deg);
        }
        & :nth-child(2){
            transform: translateZ(0px)translateX(-210px) translateY(-260px)  rotateY(0deg);
        }
        & :last-child{
            transform: translateZ(0px)translateX(-230px) translateY(-155px)  rotateY(0deg);
        }
    }
    .fireworkEffect02{
        & :first-child{
            transform: translateZ(0px)translateX(50px) translateY(-255px)  rotateY(0deg);
        }
        & :nth-child(2){
            transform: translateZ(0px)translateX(-220px) translateY(-265px)  rotateY(0deg);
        }
        & :nth-child(3){
            transform: translateZ(0px)translateX(60px) translateY(-105px)  rotateY(0deg);
        }
        & :nth-child(4){
            transform: translateZ(0px)translateX(90px) translateY(-205px)  rotateY(0deg);
        }
        & :nth-child(5){
            transform: translateZ(0px)translateX(-200px) translateY(-245px)  rotateY(0deg);
        }
        & :last-child{
            transform: translateZ(0px)translateX(-230px) translateY(-155px)  rotateY(0deg);
        }
    }
    .fireworkEffect03{
        & :first-child{
            transform: translateZ(0px)translateX(30px) translateY(-245px)  rotateY(0deg);
        }
        & :nth-child(2){
            transform: translateZ(0px)translateX(-190px) translateY(-265px)  rotateY(0deg);
        }
        & :nth-child(3){
            transform: translateZ(0px)translateX(0px) translateY(-205px)  rotateY(0deg);
        }
        & :last-child{
            transform: translateZ(0px)translateX(-210px) translateY(-155px)  rotateY(0deg);
        }
    }
}

// 客製舞台步驟
.custStageStep{
    margin: auto;
    width: 335px;
    display: flex;
    justify-content: flex-start;
    color: #e47071;
    li{
        display: flex;
    }
    .btnCustStageStep{
        background: url(../images/customized/new_cust/customized_step_stage.svg) center no-repeat;
        width: 50px;
        position: relative;
        top: 20px;
        cursor: pointer;
        opacity: .5;
        .stageInfoRotate{
            width: 100%;
            // margin: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img{
                width: 30px;
            }
        }
        p{
            font-size: 20px;
        }
        &:hover{
            opacity: 1;
            filter: drop-shadow(0px 0px 10px #c82a2a);
        }
    }
    .custStageSelected{
        background: url(../images/customized/new_cust/customized_step_stage_selected.svg) center no-repeat;
        width: 125px;
        height: 75px;
        z-index: 2;
        opacity: 1;
        // left: 2px;
        &:hover{
            opacity: 1;
            filter: drop-shadow(0px 0px 0px);
        }
    }
}
// 全部客製舞台內容
.custItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.custItemContent{
    background: url(../images/customized/new_cust/stage_item_content_wc.svg) center no-repeat;
    width: 335px;
    height: 325px;
    padding: 20px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    filter: drop-shadow(0px 0px 8px #c82a2a);
    // overflow: scroll;
    label{
        cursor: pointer;
        background-image: url(../images/customized/cust_stage_innerPattern/pattern_upload.svg);
        width: 90px;
        height: 90px;
        margin: 5px;
        border-radius: 5px; 
    }
    input[type="file"]{
        display: none;
    }
    img{
        cursor: pointer;
        width: 90px;
        height: 90px;
        margin: 5px;
        border-radius: 5px; 
    }
}
//舞團客製內容
.danceItem, .audioPoleItem{
    .custItemContent{
        background: url(../images/customized/new_cust/stage_item_content_woc-02.svg) center no-repeat;
        width: 335px;
        height: 392px;
        padding: 30px 0px 0px;
    }
    
}
.custItemContentInfo{
    text-align: center;
    & p:first-of-type{
        margin-top: -8px;
    }
    img{
        background-color: #08c19e;
        border-radius: 5px; 
    }
    p{
        color: $fontColor;
        font-size: $contentWord;
    }
}
.subtitleItem{
    .custItemContentInfo{
        textarea{
            width: 250px;
            margin: 50px 0px 10px;
            font-size: $buttonWord;
            border-radius: 8px;
        }
    }
}
// 全部客製舞台控制
.custItemControl{
    background: url(../images/customized/new_cust/stage_item_control.svg) center no-repeat;
    width: 340px;
    height: 67px;
    position: relative;
    bottom: 20px;
    // bottom: -40px;
    // left: 0;
    // right: 0;
    display: flex;
    justify-content: space-around;
    img{
        cursor: pointer;
        margin-top: 20px;
        width: 20px;
        &:hover{
            filter: drop-shadow(0px 0px 8px #c82a2a);
        }
    }
}
// 客製特效控制
.sizePicker{
    margin: auto;
    position: absolute;
    height: 8px;
    width: 70%;
    border-radius: 20px;
    top: 28px;
    right: 25px;
    background: linear-gradient(to right, $fontColor, #dfad09 );
    &:before{
        content: "大小";
        position: absolute;
        color: #fff;
        left: -43px;
        bottom: -7px;
    }
}
// 客製顏色控制
.colorPicker{
    margin: auto;
    position: absolute;
    height: 8px;
    width: 70%;
    border-radius: 20px;
    top: 30px;
    left: 65px;
    background: linear-gradient(to right,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
    &:before{
        content: "彩度";
        position: absolute;
        color: #fff;
        left: -43px;
        bottom: -7px;
    }
}
//tablet
@media screen and (min-width:768px) {
    // mobile
    //title
    .custStep{
        width: 90%;
    }
    // 客製步驟
    .btnCustStep{
        font-size: 22px;
        width: 140px;
        height: 70px;
        h4{
            line-height: 70px;
        }
        &:hover{
            filter: drop-shadow(2px 2px 15px $logoColor);
        }
    }
    .custSelected{
        width: 180px;
        filter: drop-shadow(2px 2px 15px $logoColor);
        h4{
            font-size: 28px;
        }
        &:hover{
            filter: drop-shadow(2px 2px 15px $logoColor);
        }
    }
    //舞台
    .stage{
        display: flex;
        align-items: center;
        margin: 20px auto;
    }
}
@media screen and (min-width:992px) {
    //title
    .custStep{
        width: 810px;
    }
    .perspective{
        width: 500px;
    }
}
@media screen and (min-width:1200px) {
    .btnCustStep{
        width: 180px;
        height: 75px;
        font-size: 24px;
        h4{
            line-height: 75px;
        }
    }
    .custSelected{
        width: 210px;
        height: 80px;
        h4{
            font-size: 32px;
            line-height: 80px;;
        }
    }
    // 客製舞台步驟
    .stage{
        width: 1200px;
    }
    .perspective{
        transform: scale(1.4);
    }
    .custStageStep{
        width: 380px;
        .btnCustStageStep{
            width: 55px;
            top: 12px;
            .stageInfoRotate{
                justify-content: center;
                p{
                    padding-left: 10px;
                }
                img{
                    width: 40px;
                }
            }
            p{
                font-size: 22px;
            }
        }
        #stageaudioNPole p{
            width: 40%;
        }
        .custStageSelected{
            width: 142px;
            height: 85px;
        }
    }
    // 全部客製舞台內容
    .custItemContent{
        width: 380px;
        height: 350px;
        label{
            width: 100px;
            height: 100px;
        }
        img{
            width: 100px;
            height: 100px;
        }
    }
    //舞團客製內容
    .danceItem, .audioPoleItem{
        .custItemContent{
            // background-image: url(../images/customized/new_cust/stage_item_content_woc.svg);
            width: 380px;
            height: 425px;
            // padding: 30px 0px 0px;
        }
    }
    .custItemContentInfo{
        p{
            font-size: 22px;
        }
    }
    .subtitleItem{
        .custItemContentInfo{
            textarea{
                width: 300px;
                font-size: 22px;
            }
        }
    }
    // 全部客製舞台控制
    .custItemControl{
        width: 380px;
        height: 75px;
        img{
            width: 30px;
        }
    }
    // 客製特效控制
    .sizePicker{
        height: 10px;
        width: 70%;
        top: 35px;
        &:before{
            font-size: 22px;
            left: -60px;
            bottom: -10px;
        }
    }
    // 客製顏色控制
    .colorPicker{
        height: 10px;
        width: 70%;
        top: 35px;
        right: 10px;
        &:before{
            font-size: 22px;
            left: -60px;
            bottom: -10px;
        }
    }
}

// custmoized_02
// calendar
.calendar{
	width:350px;
    height:350px;
    margin: 0 auto;
	box-shadow: 1px 2px 10px #000;
    background-color: #403a60;
    border-radius: 8px;
}
.caleHeader{
    position: relative;
    text-align: center;
    h3{
        padding-top: 10px;
        color: $logoColor;
        font-size: $buttonWord;
    }
    h4{
        padding-top: 5px;
        font-size: 20px;
        color: #fff;
    }
    #prevMon, #nextMon{
        cursor: pointer;
        font-size: 22px;
        color: #fff;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
    }
    #prevMon{
        left: 10%;
    }
    #nextMon{
        right: 10%;
    }
}
.caleList ul{
    width:100%;
    font-size:18px;
    display: flex;
    flex-wrap: wrap;
    li{
        width: calc(100%/7);
        height:40px;
        line-height:40px;
        display:block;
        box-sizing:border-box;
        // float:left;
        text-align:center;
    }
}
.weekdate{
    color: #fff;
}
.dayBefore{
	color:#a8a8a8;
}
.available{
    color:#fff;
    li{
        cursor: pointer;
    }
    
}
.choice{
    border-radius: 8px;
	background-color: #f7539c;
}

.infoNLoc{
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    p{
        padding-top: 10px;
    }
}
.dateChoose{
    font-size: 20px;
    color: #fff;
}
.loc{
    margin: auto;
    .locInput{
        display: flex;
        justify-content: space-between;
    }
    input{
        margin-top: 20px;
        vertical-align: middle;
    }
    input[type="text"]{
        padding-top: 10px;
        width: 50%;
        height: 40px;
        border-radius: 5px;
        font-size: 18px;
        font-family: "wangHangMing";
    }
}
.map{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 1px 2px 10px #000;
    iframe{
        width: 100%;
        height: 200px;
    }
}
//tablet
@media screen and (min-width:768px) {
    .dateNLoc{
        padding: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .date{
        width: 360px;
        height: 380px;
    }
    .infoNLoc{
        padding-top: 0;
        width: 45%;
    }
    .dateChoose :first-child{
        padding-top: 0;
    }
    .loc{
        input[type="text"]{
            width: 210px;
        }
    }
    .map{
        height: 210px;
        iframe{
            height: 210px;
        }
    }
}
@media screen and (min-width:992px){
    // calendar
    .calendar{
        width:450px;
        height:490px;
    }
    .caleHeader{
        padding-bottom: 10px;
        h3{
            padding-top: 20px;
            font-size: $thrTitleWord;
        }
        h4{
            padding-top: 10px;
            font-size: 22px;
        }
        #prevMon, #nextMon{
            font-size: $subTitleWord;
        }
    }
    .caleList ul{
        font-size: 26px;
        li{
            height: 60px;
            line-height: 60px;
        }
    }

    .infoNLoc{
        width: 45%;
        margin: 0 auto;
        p{
            padding-top: 10px;
        }
    }
    .dateChoose{
        font-size: $thrTitleWord;
    }
    .loc{
        margin: auto;
        input{
            margin-top: 20px;
            vertical-align: middle;
        }
        input[type="text"]{
            padding-top: 10px;
            width: 70%;
            height: 40px;
            font-size: 24px;
        }
    }
    .map{
        width: 100%;
        height: 350px;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 20px;
        box-shadow: 1px 2px 10px #000;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (min-width:1200px){
    .dateNLoc{
        width: 1200px;
        padding: 30px 0px 25px; 
        margin: auto;
    }  
}
//customized_03
//host bg
.host{
    background-image: url(../images/customized/host/host_bg.jpg);
}
.sliderBox{
    width: 350px;
    margin: auto;
    height: 560px;
    position: relative;
}
.hostInfoDetail{
    top: 48%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background-image: url(../images/customized/host/host_info_02.jpg);
    background-position: center;
    width: 260px;
    height: 510px;
    margin: auto;
    text-align: center;
    img{
        padding-top: 30px;
    }
    ul, h6{
        padding-left: 32px;
        text-align-last: left;
    }
    h6{
        font-size: 20px;
    }
    &:hover{
        box-shadow: 0px 0px 10px $logoColor;
        box-shadow: 0px 0px 15px $logoColor;
        box-shadow: 0px 0px 20px $logoColor;
        box-shadow: 0px 0px 25px $logoColor;
    }
}
.hostInfo0{
    z-index: 3;
}
.hostInfo1{
    z-index: 2;
    transform: translateX(-50%) translateY(-50%) scale(0.7);
}
.hostInfo2{
    z-index: 1;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
}
.hostInfo3{
    z-index: 1;
    transform: translateX(-50%) translateY(-50%) scale(0.4);
}
.hostInfo4{
    z-index: 1;
    transform: translateX(-50%) translateY(-50%) scale(0.4);
}
.hostInfo5{
    z-index: 1;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
}
.hostInfo6{
    z-index: 2;
    transform: translateX(-50%) translateY(-50%) scale(0.7);
}
// codepen radar chart start
.card {
    // position: absolute;
    top: 335px;
    left: 0px;
  }
  .tooltip-placeholder {
    color: #aaa;
    font-size: 14px;
    position: fixed;
    padding: 4px 0;
    display: none;
    z-index: 2;
  }
// codepen radar chart end
@media screen and (min-width:768px){
    .hostInfo{
        padding-top: 20px;
    }
    .sliderBox{
        width: 700px;
    }
}
@media screen and (min-width:992px){
    .sliderBox{
        width: 900px;
    }
}
@media screen and (min-width:1200px){
    .hostInfo{
        height: 530px;
    }
    .sliderBox{
        width: 1200px;
    }
}
// 訂單資訊
.orderDateNloc{
    margin: auto;
    width: 80%;
    font-size: 18px;
    color: #fff;
    &>p:last-of-type{
        padding-top: 10px;
    }
}
.orderDetail{
    margin: auto;
    width: 80%;
    h5{
        text-align: center;
        font-size: $thrTitleWord;
        color: #fff;
    }
}
.orderDetailCust{
    font-size: 18px;
    color: #fff;
    h6{
        font-size: 24px;
        padding: 10px 0px;
    }
    table{
        width: 100%;
    }
    &::after{
        content: "";
        display: block;
        height: 1px;
        background-color: #fff;
        margin: 10px 0px;
    }
}
.orderDetailHost{
    font-size: 18px;
    color: #fff;
    h6{
        font-size: 24px;
        padding-bottom: 10px;
    }
}
.orderDetailHostInfo{
    display: flex;
    align-items: center;
    img{
        width:35%;
    }
    ul{
        padding-left: 15px;
    }
}
.btnStep{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0px 30px;
}
@media screen and (min-width:768px){
    .orderInfo{
        padding-top: 20px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .orderDateNloc, .orderDetail{
        width: 40%;
    }
    .orderDetail{
        padding-top: 0;
    }
}
@media screen and (min-width:1200px){
    .custTitleWrap{
        width: 1200px;
        margin: 80px auto 0px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .titleBgi{
            position: static;
            margin-top: 0;
            margin-left: 0;
        }
        .custTitle{
            float: left;
            top: 50px;
            margin-right: 50px;
        }
        .custStep{
            padding-top: 0;
            margin: 0;
        }
    }
    .orderInfo{
        width: 1200px;
    }
    .orderStage{
        transform: scale(0.75);
    }
    .btnStep{
        width: 1200px;
        margin: auto;
        // justify-content: space-around;
    }
}




// 被選擇
.custItemSelect{
    opacity: .5;
}

//隱藏
.disN{
    // display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}