// mobile
// bg
.custBg{
    padding-top: 100px;
    background-image: url(../../images/customized/customized_bg.jpg);
    background-position: center;
}
//title
// replace with titleBgi
// .custTitle{
//     background-image:url(../../images/customized/title_bg.png);
//     background-size: 100%;
//     background-repeat: no-repeat;
//     margin: auto;
//     width: 300px;
//     text-align: center;
//     h3{
//         font-size: $subTitleWord;
//         color: $fontColor;
//         line-height: 85px;
//     }
// }

// 客製步驟
.custStep{
    width: 95%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnCustStep{
    cursor: pointer;
    font-size:14px;
    width: 85px;
    background: url(../../images/customized/customized_step.svg) center no-repeat;
    background-size: 100%;
    color: $fontColor;
    text-align: center;
    h4{
        line-height: 60px;
    }
    &:hover{
        filter: drop-shadow(2px 2px 8px $logoColor);
    }
}
.custSelected{
    width: 110px;
    filter: drop-shadow(2px 2px 8px $logoColor);
    h4{
        font-size:18px;
    }
    &:hover{
        filter: drop-shadow(2px 2px 8px $logoColor);
    }
}
// 客製舞台步驟
.custStageStep{
    width: 80%;
    margin: auto;
    padding: 10px 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnCustStageStep{
    cursor: pointer;
    text-align: center;
    color: #c82a2a;
    opacity: 0.5;
    h5{
        margin: auto;
        font-size:14px;
        width: 28px;
        // height: 28px;
        background: url(../../images/customized/cust_stage_innerPattern/customized_step_stage_selected.svg) center no-repeat;
        // background-size: cover;
        line-height: 28px;
    }
    p{
        padding-top: 5px;
        font-size: 12px;
    }
    &:hover{
        opacity: 1;
    }
    &:hover h5, &:hover p{
        filter: drop-shadow(0px 0px 10px #c82a2a);
        color: #ddd;
    }
}
.custStageSelected{
    color: #ddd;
    opacity: 1;
    filter: drop-shadow(0px 0px 10px #c82a2a);
    h5, p{
        filter: drop-shadow(0px 0px 10px #c82a2a);
    }
}
// 舞台
.perspective{
    max-width: 500px;
    height: 400px;
    position: relative;
    perspective: 900px;
}
@keyframes turn{
    0%{transform:translateY(100px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)}
    100%{transform:translateY(100px) rotateX(0deg) rotateY(-30deg) rotateZ(0deg)}
}
@keyframes turn2{
    0%{transform: translateY(-80px) translateX(-100px) translateZ(75px) rotateX(0deg) rotateY(-30deg) rotateZ(0deg)}
    100%{transform:translateY(-80px) translateX(-100px) translateZ(75px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)}
}
@keyframes turn3{
    0%{transform: translateY(-80px) translateX(100px) translateZ(75px) rotateX(0deg) rotateY(-30deg) rotateZ(0deg)}
    100%{transform:translateY(-80px) translateX(100px) translateZ(75px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)}
}
// 整個舞台
.groupA{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 40px;
    // outline: 2px solid #f00;
    transform-style: preserve-3d;
    transform: translateY(100px) rotateX(-30deg) rotateY(20deg) rotateZ(0deg);
    animation: turn 6s alternate infinite;

    div{
        box-sizing: border-box;
        width: 300px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        // outline: 1px solid #00f;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    // 下舞台
    .front{ width: 130px; transform: translateX(-85px) translateZ(75px);background: url(../../images/2.png)center no-repeat;background-size:cover;}
    .front1{  width: 40px; transform:  translateZ(75px);background: #faf}
    .front2{  width: 130px; transform: translateX(85px) translateZ(75px);background: url(../../images/5.png)center no-repeat;background-size:cover;}
     .back{transform:  translateZ(-75px);background: url(../images/3.png)center no-repeat;background-size:cover;}
       .up{ 
           transform: rotateX(90deg)  translateZ(20px); 
           height: 150px;
           background: #fff center no-repeat;
           background-size:cover;
           &:hover{
                border: #f00 dashed 3px;
                box-shadow: 0px 0px 8px 8px $fontColor;
            }
        }
     .down{ transform: rotateX(270deg)  translateZ(20px); height: 150px;background: url(../../images/3.png)center no-repeat;background-size:cover;}
     .left{ transform: rotateY(270deg) translateZ(150px); width: 150px;background: url(../../images/3.png)center no-repeat;background-size:cover;}
    .right{ transform: rotateY(90deg) translateZ(150px);  width: 150px;background: url(../../images/3.png)center no-repeat;background-size:cover;}
    .stairsA{ }
    .stairsB{ width: 30px;height:40px;transform:rotateX(270deg) translateY(-85px)  translateZ(20px)}
    // 壁屏
    // .stairsC{ width: 250px;height: 95px;transform:  translateZ(-75px) translateY(-65px);border:#000 solid 1px;background: url(../../images/stage/5.png)center no-repeat;background-size:cover;}
    .stairsC1{
        width: 250px;
        height: 95px;
        transform:  translateZ(-69px) translateY(-65px);
        border:#000 solid 1px;
        background: #fff center no-repeat;
        background-size:cover;
        &:hover{
            border: #f00 dashed 3px;
            box-shadow: 0px 0px 8px 8px $fontColor;
        }
    }
    .stairsC2{width: 6px; height: 95px;transform: translateY(-65px) translatez(-73px) translateX(126px) rotateY(90deg);background: #646464;}
    .stairsC3{width: 6px; height: 95px;transform: translateY(-65px) translatez(-73px) translateX(-126px) rotateY(90deg);background: #646464;}
    .stairsC4{width: 250px; height: 6px;transform: translateZ(-73px)translateY(-112px) rotateX(90deg);background: #646464;}
    // 上壁屏
    .stairsD{ width: 50px; height: 205px;transform: translateZ(20px)translateX(-95px)translateY(-160px) rotateX(-60deg);background: url(../../images/6.png)center no-repeat;background-size:cover;}
    .stairsE{ width: 50px; height: 205px;transform: translateZ(20px)translateX(95px)translateY(-160px) rotateX(-60deg);background: url(../../images/7.png)center no-repeat;background-size:cover;}
    .stairsF{ 
        width: 140px;
        height: 205px;
        transform: translateZ(20px)translateY(-160px) rotateX(-60deg);
        background: #fff center no-repeat;
        background-size:cover;
        &:hover{
            border: #f00 dashed 3px;
            box-shadow: 0px 0px 8px 8px $fontColor;
        }
        
    }
    // .stairsF1{width: 240px; height: 205px;transform: translateZ(20px)translateY(-162px) rotateX(-60deg);background: #fff center no-repeat;background-size:cover;}
    .stairsF2{width:2px; height: 208px;transform: translateZ(18px) translateY(-160px) translateX(-120px) rotateY(-90deg) rotateZ(60deg);background: #646464;}
    .stairsF3{width:2px; height: 208px;transform: translateZ(18px) translateY(-160px) translateX(120px) rotateY(-90deg) rotateZ(60deg);background: #646464;}
    .stairsF4{width:240px; height: 2px;transform: translateZ(108px) translateY(-212px) ;background: #646464;}
    // 跑馬燈
    .subtitles{ width:200px ;height:20px;transform: translateY(-100px) translateZ(-67px);font-size: 18px;line-height: 1;text-align: center;background: #000;color:#fff;}
    .subtitles1{width:2px ;height:20px;transform: translateY(-100px) translateZ(-67px)translateX(100px)rotateY(90deg);background: #646464;}
    .subtitles2{width:2px ;height:20px;transform: translateY(-100px) translateZ(-67px)translateX(-100px)rotateY(90deg);background: #646464;}

    // 樓梯三角形 位置調整translateZ(75px)
    .triangleA{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(-20px) rotateY(-90deg);
    }
    .triangleB{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(-30px) rotateY(-90deg);
    }
    .triangleC{
        width: 10px;
        height: 75px;
        background: rgba(30,30,30,.9);
        transform:translateZ(75px)  translateX(-25px) translateZ(30px) rotateX(53deg)
    }
    .triangleD{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(20px) rotateY(-90deg);
    }
    .triangleE{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(30px) rotateY(-90deg);
    }
    .triangleF{
        width: 10px;
        height: 75px;
        background: rgba(30,30,30,.9);
        transform:translateZ(75px)  translateX(25px) translateZ(30px) rotateX(53deg)
    }
    
    // 樓梯 位置調整translateZ(75px)
    .ladderA{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: #faf;
        transform:translateZ(75px)  translateY(-10px) translateZ(10px) rotateX(90deg);
    }
    .ladderB{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: #faf;
        transform:translateZ(75px)  translateY(-5px) translateZ(15px) ;
    }
    .ladderC{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: #faf;
        transform:translateZ(75px)  translateY(0px) translateZ(20px) rotateX(90deg);
    }
    .ladderD{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: #faf;
        transform:translateZ(75px)  translateY(5px) translateZ(25px) ;
    }
    .ladderE{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: #faf;
        transform:translateZ(75px)  translateY(10px) translateZ(30px) rotateX(90deg);
    }
    .ladderF{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: #faf;
        transform:translateZ(75px)  translateY(15px) translateZ(35px) ;
    }
        /* 燈柱 位置調整 translateY(-210px) translateZ(115px) */
    .headlightbox{    
        width: 150px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateY(5px)rotateX(90deg);
    }
    .headlightbox1{
        
        width: 150px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateY(5px) rotateX(90deg) ;
    }
    .headlightbox2{
        width: 150px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateZ(5px) ;
    }
    .headlightbox3{
        width: 150px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateZ(-5px) ;
    }
    .headlightbox4{
        width: 10px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateX(75px) rotateY(90deg);
    }
    .headlightbox5{
        width: 10px;
        height: 10px;
        background: #00f;
        transform:translateY(-210px) translateZ(115px) translateX(-75px) rotateY(90deg);
    }
    /* 中間投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateZ(5px)rotateX(30deg)
    }
    .headlight1{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateZ(-5px) rotateX(-30deg)
    }
    .headlight2{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg)
    }
    .headlight3{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg)
    }
    
    /* 左邊投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight4{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateZ(5px)rotateX(30deg)
    }
    .headlight5{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateZ(-5px) rotateX(-30deg)
    }
    .headlight6{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg)
    }
    .headlight7{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg)
    }
    
    /* 右邊投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight8{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateZ(5px)rotateX(30deg)
    }
    .headlight9{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateZ(-5px) rotateX(-30deg)
    }
    .headlight10{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg)
    }
    .headlight11{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent #007bff transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg)
    }
    /* 左音箱 位置調整前三個 translateZ(40px)translateX(-120px) translateY(-50px)*/
    .audioBox{
        width: 30px;
        height: 60px;
        background: url(../../images/audio1.png)center no-repeat;background-size:cover;
        transform:translateZ(40px)translateX(-120px) translateY(-50px)  rotateY(-30deg) translateZ(10px)
    }
    .audioBox1{
        width: 30px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateZ(-10px)
    }
    .audioBox2{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateX(-15px) rotateY(90deg)
    }
    .audioBox3{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateX(15px) rotateY(90deg)
    }
    .audioBox4{
        width: 30px;
        height: 20px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px)  translateY(-30px) rotateY(-30deg) rotateX(90deg)
    }
    /* 右音箱 位置調整前三個 translateZ(40px)translateX(120px) translateY(-50px)*/
    .audioBox5{
        width: 30px;
        height: 60px;
        background: url(../../images/audio1.png)center no-repeat;background-size:cover;
        transform:translateZ(40px)translateX(120px) translateY(-50px)  rotateY(30deg) translateZ(10px)
    }
    .audioBox6{
        width: 30px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateZ(-10px)
    }
    .audioBox7{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateX(-15px) rotateY(90deg)
    }
    .audioBox8{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateX(15px) rotateY(90deg)
    }
    .audioBox9{
        width: 30px;
        height: 20px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px)  translateY(-30px) rotateY(30deg) rotateX(90deg)
    }
    img{
        width: 80px;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: turn2 6s alternate infinite;
    }
    .img2{
        width: 80px;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: turn3 6s alternate infinite;
    }
}
// 客製舞台物件
.custItemTitle{
    position: relative;
    z-index: 3;
    background-image: url(../../images/customized/stage_item_title.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 300px;
    height: 50px;
    h5{
        color: $fontColor;
        font-size: 22px;
        text-align: center;
        line-height: 50px;
        position: relative;
    }
    h5::before, h5::after{
        content: "";
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        top: 15px;
        border-left: 3px solid $fontColor;
        border-bottom: 3px solid $fontColor;
        vertical-align: middle;
        cursor: pointer;
    }
    h5::before{
        left: 25px;
        transform: rotate(45deg);
    }
    h5::after{
        right: 25px;
        transform: rotate(-135deg);
    }
}
// 全部客製舞台內容
.custItemContent{
    position: relative;
    z-index: 1;
    background-image: url(../../images/customized/stage_item_content.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: -10px auto;
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    padding: 17px 12px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    label{
        cursor: pointer;
        background-image: url(../../images/customized/cust_stage_innerPattern/pattern_upload.svg);
        width: 80px;
        height: 80px;
        margin: 5px;
    }
    input[type="file"]{
        display: none;
    }
    img{
        cursor: pointer;
        width: 80px;
        height: 80px;
        margin: 5px;
        border-radius: 5px; 
    }
}
// 音響與鋼管客製舞台內容
.audioPoleItem{
    .custItemContent{
        align-content: center;
    }
}
.lightItem{
    .custItemContent{
        align-content: center;
    }
}
.custItemContentInfo{
    text-align: center;
    & p:first-of-type{
        margin-top: -8px;
    }
    img{
        background-color: #08c19e;
        border-radius: 5px; 
    }
    p{
        color: $fontColor;
        font-size: $contentWord;
    }
}

// 全部客製舞台控制
.custItemControl{
    position: relative;
    z-index: 2;
    background-image: url(../../images/customized/stage_item_control.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    img{
        cursor: pointer;
        margin-top: 20px;
        width: 20px;
        &:hover{
            filter: drop-shadow(0px 0px 5px #ef1da8);
        }
    }
}
// 客製燈光控制
.lightControl{
    position: relative;
    bottom: 50px;
    z-index: 2;
    background-image: url(../../images/customized/cust_stage_light/stage_light_control.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 300px;
    height: 110px;
}

.btnStep{
    display: flex;
    padding: 30px 0px;
}
.previousStep, .nextStep, .resetStep, .checkout{
    text-align: center;
    margin: 0 auto;
    line-height: 55px;
}

//tablet
@media screen and (min-width:768px) {
    // mobile
    // bg
    .custBg{}
    //title
    .custTitle{
        width: 50%;
        height: 120px;
        h3{
            line-height: 105px;
        }
    }
    // 客製步驟
    .custStep{}
    .btnCustStep{
        font-size: 22px;
        width: 140px;
        height: 70px;
        h4{
            line-height: 70px;
        }
        &:hover{
            filter: drop-shadow(2px 2px 15px $logoColor);
        }
    }
    .custSelected{
        width: 180px;
        filter: drop-shadow(2px 2px 15px $logoColor);
        h4{
            font-size: 28px;
        }
        &:hover{
            filter: drop-shadow(2px 2px 15px $logoColor);
        }
    }
    // 客製舞台步驟
    .custStageStep{
        width: 70%;
        margin: auto;
        padding: 30px 30px 0px;
    }
    .btnCustStageStep{
        h5{
            width: 50px;
            height: 50px;
            font-size: 20px;
            line-height: 50px;
        }
        p{
            font-size: $contentWord;
        }
        &:hover{
            opacity: 1;
            filter: drop-shadow(2px 2px 10px #dc6364);
        }
    }
    .custStageSelected{
        opacity: 1;
        filter: drop-shadow(2px 2px 10px #dc6364);
    }
    //舞台
    .perspective{
        margin: 40px auto;
        perspective: 300px;
    }
    // 客製舞台物件
    .custItem{
        margin: 80px auto 0px;
    }
}
@media screen and (min-width:992px) {
    //title
    .custTitle{
        width: 40%;
        height: 125px;
        h3{
            line-height: 115px;
        }
    }
    .stage{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .perspective{
        width: 500px;
    }
    .custItem{
        margin: 80px 50px 60px 0px;
    }
}
@media screen and (min-width:1200px) {
    .custTitle{
        width: 475px;
        height: 155px;
        margin-left: 5%;
        h3{
            font-size: $titleWord;
            line-height: 135px;
        }
    }
    .btnCustStep{
        width: 180px;
        height: 75px;
        font-size: 24px;
        h4{
            line-height: 75px;
        }
    }
    .custSelected{
        width: 265px;
        height: 100px;
        h4{
            font-size: $subTitleWord;
            line-height: 100px;;
        }
    }
    // 客製舞台步驟
    .custStageStep{
        width: 60%;
        h5{
            font-size: 24px;
        }
        p{
            font-size: $buttonWord;
        }
    }
    .custItemTitle, .custItemContent, .custItemControl{
        width: 360px;
    }
    .custItemTitle{
        height: 60px;
        h5{
            font-size: $thrTitleWord;
            line-height: 60px;
        }
    }
    .stage{
        align-items: center;
    }
    .perspective{
        transform: scale(1.3);
    }
    .custItemContent{
        height: 345px;
        label, img{
            width: 100px;
            height: 100px;
        }
    }
    .custItemControl{
        height: 75px;
        img{
            width: 30px;
        }
    }
    .lightControl{
        width: 360px;
        height: 130px;
    }
}
// custmoized_02
// calendar
.date{
    box-shadow: 1px 2px 10px #000;
    background-color: #403a60;
    width: 330px;
    height: 360px;
    margin: 10px auto;
    border-radius: 10px;
}
.selectDate{
    padding-top: 20px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    select{
        background-color: #fff;
        border-radius: 4px;
        font-family: wangHangMing;
        color: #403a60;
        font-size: 16px;
    }
}
.caleHeader{
    padding-top: 10px;
    text-align: center;
    color: #fff;
    h5{
        font-size: $buttonWord; 
        &::before, &::after{
            content: "";
            display: inline-block;
            position: relative;
            width: 10px;
            height: 10px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            vertical-align: middle;
            cursor: pointer;
        }
        &::before{
            right: 90px;
            transform: rotate(45deg);
        }
        &::after{
            left: 90px;
            transform: rotate(-135deg);
        }
    }
}
.calendar{
    color: #fff;
    table{
        margin: 20px auto;
        width: 280px;
        height: 250px;
        text-align: center;
        font-size: 16px;
        td{
            cursor: pointer;
        }
    }
}
// .weekday{
//     position: relative;
// }
// .weekday::after{
//     content: "";
//     display: block;
//     width: 260px;
//     height: 1px;
//     background-color: #6e688e;
//     position: absolute;
// }
.fullApply{
    color: #6e688e;
}
.choice{
    position: relative;
    z-index: 2;
    &::before{
        content: "";
        position: absolute;
        bottom:13px;
        left: 3px;
        z-index: -1;
        display: block;
        background-color: #f7539c;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}
.infoNLoc{
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    p{
        padding-top: 10px;
    }
}
.dateChoose{
    font-size: 20px;
    color: #fff;
}
.loc{
    margin: auto;
    input{
        margin-top: 20px;
        vertical-align: middle;
    }
    input[type="text"]{
        padding-top: 10px;
        width: 165px;
        height: 40px;
        border-radius: 5px;
        font-size: 18px;
        font-family: "wangHangMing";
    }
}
.map{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 1px 2px 10px #000;
    iframe{
        width: 100%;
        height: 200px;
    }
}
//tablet
@media screen and (min-width:768px) {
    .dateNLoc{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .date{
        height: 380px;
    }
    .infoNLoc{
        padding-top: 0;
        width: 45%;
    }
    .dateChoose :first-child{
        padding-top: 0;
    }
    .loc{
        input[type="text"]{
            width: 210px;
        }
    }
    .map{
        height: 210px;
        iframe{
            height: 210px;
        }
    }
}
@media screen and (min-width:992px){
    .date{
        padding-top: 30px;
        width: 530px;
        height: 530px;
    }
    .selectDate{
        font-size: $thrTitleWord;
        select{
            font-size: $thrTitleWord;
        }
    }
    .caleHeader{
        h5{
            font-size: $thrTitleWord; 
            &::before, &::after{
                width: 20px;
                height: 20px;
                border-left: 3px solid #fff;
                border-bottom: 3px solid #fff;
            }
        }
    }
    .calendar{
        color: #fff;
        table{
            width: 400px;
            height: 360px;
            font-size: 24px;
        }
    }
    .choice{
        &::before{
            bottom:17px;
            left: 5px;
            width: 50px;
            height: 50px;
        }
    }
    .infoNLoc{

        width: 45%;
        margin: 0 auto;
        p{
            padding-top: 10px;
        }
    }
    .dateChoose{
        font-size: $thrTitleWord;
    }
    .loc{
        margin: auto;
        input{
            margin-top: 20px;
            vertical-align: middle;
        }
        input[type="text"]{
            padding-top: 10px;
            width: 70%;
            height: 40px;
            font-size: 24px;
        }
    }
    .map{
        width: 100%;
        height: 350px;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 20px;
        box-shadow: 1px 2px 10px #000;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (min-width:1200px){
    .dateNLoc{
        width: 1200px;
        margin: auto;
    }  
}
//customized_03
//host bg
.host{
    background-image: url(../../images/customized/host/host_bg.jpg);
}
.hostInfoDetail{
    position: relative;
    background-image: url(../../images/customized/host/host_info.jpg);
    width: 278px;
    height: 546px;
    margin: auto;
    text-align: center;
    img{
        padding-top: 40px;
    }
    ul, h6{
        padding-left: 32px;
        text-align-last: left;
    }
    h6{
        font-size: 20px;
    }
}
// codepen radar chart start
.card {
    // position: absolute;
    top: 335px;
    left: 0px;
  }
  .tooltip-placeholder {
    color: #aaa;
    font-size: 14px;
    position: fixed;
    padding: 4px 0;
    display: none;
    z-index: 2;
  }
// codepen radar chart end
@media screen and (min-width:768px){
    .hostInfo{
        padding-top: 40px;
    }
}
// 訂單資訊
.orderDateNloc{
    margin: auto;
    padding-top: 20px;
    width: 80%;
    font-size: 18px;
    color: #fff;
    &>p:last-of-type{
        padding-top: 10px;
    }
}
.orderDetail{
    margin: auto;
    width: 80%;
    h5{
        text-align: center;
        font-size: $thrTitleWord;
        color: #fff;
    }
}
.orderDetailCust{
    font-size: 18px;
    color: #fff;
    h6{
        font-size: 24px;
        padding: 10px 0px;
    }
    table{
        width: 100%;
    }
    &::after{
        content: "";
        display: block;
        height: 1px;
        background-color: #fff;
        margin: 10px 0px;
    }
}
.orderDetailHost{
    font-size: 18px;
    color: #fff;
    h6{
        font-size: 24px;
        padding-bottom: 10px;
    }
}
.orderDetailHostInfo{
    display: flex;
    align-items: center;
    img{
        width:40%;
        height: 40%;
    }
    ul{
        padding-left: 15px;
    }
}
@media screen and (min-width:768px){
    .orderInfo{
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .orderDateNloc, .orderDetail{
        width: 40%;
    }
    .orderDetail{
        padding-top: 0;
    }
}
@media screen and (min-width:1200px){
    .orderInfo{
        width: 1200px;
        padding-top: 20px;
    }
    .orderStage{
        transform: scale(0.75);
    }
}






//顯示與不顯示
.disN{
    display: none;
}