.firstScreen {
  background: #000 center no-repeat;
  background-size: cover;
  margin: 0;

  .wrap {
    margin: auto;
  }
  #selectOpen {
    display:none;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100vh;
    z-index: 50;
    #selectOpenBox {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 300px;
      height: 300px;
      background: #fff;
      border-radius: 30px;
      border:3px solid #69CAF5;
      padding: 20px;
      box-shadow: 0 0 50px 50px rgb(226, 226, 226) inset;
      text-align: center;
      h3 {
        background-blend-mode: screen;
        font-size: 24px;
        border-radius: 5px;
        text-align: center;
        margin: auto;
        color: #69CAF5;
        margin-bottom: 15px;
      }
      button{
        position: absolute;
        margin-top: 10px;
        margin:auto;
        left:0;
        right:0;
        bottom:20px;
      }
      label{
        
        div{
          margin:auto;
          width:50px;
          height:25px;
          background: #555;
          border-radius: 25px;
          display: block;
          position: relative;
          cursor: pointer;
          &:after{
            content:'';
            background:#fff;
            box-sizing: border-box;
            border :.5px solid #666;
            display:block;
            width:25px;
            border-radius: 20px;
            height:25px;
            position: absolute;
          }
        }
         input{
          opacity: 0;
          position: absolute;
          z-index: -1;
        }
        input:checked+div{
          background: #69CAF5;
        }
        input:checked+div:after{
          right:0;
        }
      }
    }
  }

  

  .stepsBar {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-content: center;

    .stepBox {
      text-align: center;
      cursor: pointer;
      margin-top: 130px;

      &:hover {
        transform: scale(1.05);
      }

      .circle {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        line-height: 25px;
        text-align: center;
        border: 2px solid #fff;
        box-shadow:
          0 0 5px 1px rgb(114, 143, 177),
          0 0 5px 1px rgb(1, 51, 109) inset,
          0 0 2px 3px rgb(192, 219, 255),
          0 0 2px 3px rgb(192, 209, 255) inset,
          0 0 3px rgb(1, 51, 109),
          0 0 3px rgb(36, 57, 175),
          0 0 3px rgb(25, 35, 179),
          0 0 3px rgb(31, 44, 167),
          0 0 7px rgb(123, 155, 196),
          0 0 5px 5px rgb(212, 230, 247),
          0 0 5px 5px rgb(212, 218, 247) inset,
          0 0 10px 10px rgb(19, 43, 110),
          0 0 10px 10px rgb(19, 43, 110) inset;
        border-radius: 50%;
        margin: 10px auto 10px;
        color: #fff;
        text-shadow: 0 0 2px #000;
      }

      .step {

        font-size: $buttonWord;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        line-height: 35px;
        box-shadow: 0 0 30px #fff, 0 0 0 1px #fff;
        margin: 5px auto;
        box-shadow:
          0 0 5px 1px rgb(176, 177, 114),
          0 0 5px 1px rgb(98, 109, 1) inset,
          0 0 2px 3px rgb(255, 243, 192),
          0 0 2px 3px rgb(251, 255, 192) inset,
          0 0 3px rgb(109, 98, 1),
          0 0 3px rgb(175, 173, 36),
          0 0 3px rgb(179, 169, 25),
          0 0 3px rgb(167, 142, 31),
          0 0 7px rgb(196, 185, 123),
          0 0 5px 5px rgb(247, 247, 212),
          0 0 5px 5px rgb(247, 247, 212) inset,
          0 0 10px 10px rgb(108, 110, 19),
          0 0 10px 10px rgb(110, 108, 19) inset;
      }

      p {
        margin-top: 20px;
        color: #fff;
      }

      .step+p {
        color: rgb(226, 217, 132);
        margin-top: 15px;
      }
    }
  }
  
  .doIt {
    margin-top: 20px;
    position: relative;
    padding: 20px;
    
    .clothCurtain {
      display: none;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      div:nth-of-type(1) {
        width: 100%;
        height: 50%;
        margin: auto;

        p {
          width: 100%;
          height: 100%;
          padding: 40px;
          font-size: 18px;
          text-align: center;
          color: #fff;
          margin: auto;
        }
      }

      div:nth-of-type(2) {
        text-align: center;

        .commonBtnSmall {
          margin-left: 20px;
        }
      }
    }

    .backBlock {
      position: relative;
      box-sizing: border-box;
      border: 3px solid rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow:
        0 0 5px 1px rgb(114, 143, 177),
        0 0 5px 1px rgb(1, 51, 109) inset,
        0 0 2px 3px rgb(192, 219, 255),
        0 0 2px 3px rgb(192, 209, 255) inset,
        0 0 5px rgb(1, 51, 109),
        0 0 5px rgb(36, 57, 175),
        0 0 5px rgb(25, 35, 179),
        0 0 5px rgb(31, 44, 167),
        0 0 10px rgb(123, 155, 196),
        0 0 5px 5px rgb(212, 230, 247),
        0 0 5px 5px rgb(212, 218, 247) inset,
        0 0 15px 15px rgb(19, 43, 110),
        0 0 15px 15px rgb(19, 43, 110) inset;
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;

      #A4page {
        margin: auto;
        width: 150px;
        height: 212.142857142857px;
        background: #fff;
        overflow: hidden;
        box-shadow: 0 0 10px #000;
        margin-bottom: 20px;
        position: relative;

        img {
          height: 100%;
        }

        h5 {
          position: absolute;
          top: 5px;
          left: 5px;
        }
        #A4qrcode{
          position: absolute;
          right: 5px;
          bottom: 5px;

        }
      }

      #tool {
        margin: auto;
        text-align: center;

        i {
          color: #fff;
          font-size: 30px;
          cursor: pointer;
          margin-right: 10px;

          &:hover {
            color: yellow;
          }
        }

        i:last-of-type {
          margin-right: 0px;
        }
        #colorPicker{
          display: none;
          position: absolute;
          width: 210px;
          background: rgb(248, 248, 248);
          padding: 20px;
          border-radius: 20px;
          right: 20px;
          z-index: 50;
          div{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            cursor: pointer;
          }
          input{
            width: 70%;
            padding: 5px 5px 5px 5px;
            border-radius: 5px;
            outline: none;
            border: 2px solid #666;
          }
        }
      }
    }

    .whiteBlock {
      height: 100%;
      box-sizing: border-box;
      margin: auto;
      margin-top: 10px;

      div:nth-of-type(1) {
        display: flex;

        h4 {
          display: inline-block;
          text-align: center;
          border: 2px solid #fff;
          border-bottom: none;
          border-radius: 5px 5px 0 0;
          padding: 10px;
          color: #fff;
          width: 25%;
          cursor: pointer;
          &:hover{
            border-color: #aaf;
          }
        }

        .doNow {
          color: yellow;
          z-index: 0;
          box-shadow:
            0 0 5px 1px rgb(114, 143, 177),
            0 0 5px 1px rgb(1, 51, 109) inset,
            0 0 2px 3px rgb(192, 219, 255),
            0 0 3px rgb(1, 51, 109),
            0 0 3px rgb(36, 57, 175),
            0 0 3px rgb(25, 35, 179),
            0 0 3px rgb(31, 44, 167),
            0 0 7px rgb(123, 155, 196),
            0 0 5px 5px rgb(212, 230, 247),
            // 0 0 5px 5px rgb(212, 218, 247) inset,
            0 0 10px 10px rgb(19, 43, 110) inset;
        }
      }

      #toolBox {
        background: #fff;
        outline: 2px solid #fff;
        box-sizing: border-box;
        height: 100px;
        border-radius: 0 0 5px 5px;
        box-shadow:
        0 0 5px 1px rgb(114, 143, 177),
        0 0 5px 1px rgb(1, 51, 109) inset,
        0 0 2px 3px rgb(192, 219, 255),
        0 0 5px rgb(1, 51, 109),
        0 0 5px rgb(36, 57, 175),
        0 0 5px rgb(25, 35, 179),
        0 0 5px rgb(31, 44, 167),
        0 0 10px rgb(123, 155, 196),
        0 0 5px 5px rgb(212, 230, 247),
        0 0 15px 15px rgb(19, 43, 110);


        #toolinnerBox {
          overflow-x: auto;
          overflow-y: auto;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          // display: none;

          label {
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
            display: flex;
            align-items: center;

            img {
              height: 50%;
            }

            input {
              opacity: 0;
              z-index: -1;
              position: absolute;
            }
          }

          img {
            height: 50%;
            margin-left: 5px;
            cursor: pointer;

          }
        }

        #selectDay {
          height: 100%;
          // display: flex;
          align-items: center;
          display: none;

          label {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;

            img {
              cursor: pointer;
              height: 70%;
            }

            input {
              opacity: 0;
              z-index: -1;
              position: absolute;
            }
          }
          p {
            font-size: 20px;
          }
        }

        #textPlace {
          padding: 20px 20px;
          height: 100%;
          // display: flex;
          align-items: center;
          display: none;

          p {
            font-size: 14px;
          }

          input {
            box-sizing: border-box;
            width: 100%;
            line-height: 30px;
            outline: none;
            padding: 0 20px;
            border: 2px solid rgb(114, 143, 177);
          }

          #QRCODE {
            margin: 0 5px;
          }
        }

        #textWord {
          padding: 20px;
          display: none;
          textarea {
            font-size: 16px;
            width: 100%;
            height: 100%;
          }
        }
      }
      .btnBar {
        
        margin: auto;
        text-align: center;
  
        button {
          margin-top: 20px;
          margin-right: 50px;
          outline: none;
        }
  
        button:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}

.secScreen {
  background: url(../images/bkground/flyerbg3.jpeg) center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
  box-sizing: border-box;
  padding-top: 20px;
  .titleBgi {
    opacity: 0;
    display: fixed;
    background-image: url("../images/titleNeonLightBlueNew.gif");
}
  .wrap {
    max-width: 1200px;
    height: 2600px;
    margin: auto;
    z-index: 0;
    position: relative;  

    .owl-carousel {
      z-index: 0;
      bottom: 0;
      position: absolute;

      .item {
        cursor: pointer;

        &:hover {
          width: 110%;
          transition: 1s;
        }
      }
    }
  }
}

.thrScreen {
  background: #000 center fixed;
  background-size: cover;
  padding-top: 20px;

  .titleBgi {
    background-image: url("../images/titleNeonLightDarkBlueNew.gif");
    margin-top: 0;
    margin-bottom: 50px;
  }

  .wrap {
    max-width: 1200px;
    margin: auto;

    ul {
      margin:0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      column-count: 2;
      column-gap: 15px;
    }

    li {
      list-style: none;
      padding: 0;
      margin: 0 40px 15px 0;
      display: inline-block;
    }

    li img {
      max-width: 100%;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .firstScreen {
    min-height: 100vh;
    .wrap{
      .stepsBar{
        width: 50%;
        .stepBox{
          .circle {
            width: 50px;
            height: 50px;
            line-height: 45px;
            font-size: 21px;
          }
          .step {
            width: 70px;
            height: 70px;
            line-height: 65px;
            font-size: 30px;
            transform: translateY(-5px);
          }
          p{
            margin-top: 30px;
            font-size: 18px;
          }
          .step+p {
            margin-top: 15px;
            
          }
        }
      }
      .doIt{
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
        margin: auto;
        max-width: 1200px;
        padding: 30px;
        .clothCurtain {
          // display: none;
          div:nth-of-type(1) {
            p{width: 50%;}
          }
        }
        .backBlock {
          width: 50%;
          margin: 0;
          #A4page {
            width: 250px;
            height: 353.571428571287px;
          }
        }
        .whiteBlock{
          width: 40%;
          #toolBox {
            height: 295px;
            #toolinnerBox {
              flex-wrap: wrap;
              overflow-y: auto;
              align-content: space-around;
              label {
                height: 70px;
                display: inline;
                img{height: 100%}
              }
              img {
                height: 25%;
              }
            }
            #selectDay {
              label {
                height: 30%;
              }
              p {
                font-size: 24px;
              }
            }
            #textPlace {
              // display: block;
              display: none;
              input {width: 50%;}
              p{font-size: 21px;text-align: center;}
              #QRCODE {
                margin-top: 10px;
                canvas{
                  margin: auto;
                  width: 150px;
                  height: 150px;
                }
              }
            }
            #textWord {
              textarea {
                font-size: 16px;
                width: 100%;
                height: 250px;
              }
            }
          }
          .btnBar{
            margin-top: 20px;
            button {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .firstScreen {
    .wrap{
      .stepsBar{
        width: 30%;
        .stepBox{
          .circle {
            width: 50px;
            height: 50px;
            line-height: 45px;
          }
          .step {
            width: 70px;
            height: 70px;
            line-height: 65px;
            font-size: 30px;
          }
        }
      }
      .doIt{
        max-width: 50%;
        margin: auto;
        max-width: 1200px;
        padding: 30px; 

        .whiteBlock{
          width: 30%;
        }
      }
    }
  }
}


.bigCarcouselBox {
  transition: 2s;
  opacity: 0;
  width: 300px;
  height: 423.98px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  transform: scale(.8);
  position: absolute;

  .card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 423.98px;
    width: 300px;
    box-shadow: 0 0 20px #000;
    cursor: pointer;

    .ElongationBox {
      height: 423.98px;
      width: 300px;
      position: relative;

      .blockBox {
        height: 423.98px;
        width: 300px;
        background: url(../images/flyer/flyerBoard.jpg) center center no-repeat;
        background-size: cover;
        position: relative;

        img:nth-of-type(1) {
          width: 280px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }

        img:nth-of-type(2) {
          width: 30px;
          position: absolute;
          left: 0px;
          top: 0px;
        }

        img:nth-of-type(3) {
          width: 30px;
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
    }

    .cardContent {
      transition: 1s;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 0 20px #666 inset;
    }
  }

  .card.one {
    transition: 1.5s;
    z-index: 4;
  }

  .card.two {
    z-index: 3;
    transition: 1.5s;
    transform: rotateZ(0deg);
  }

  .card.three {
    z-index: 2;
    transition: 1.5s;
    transform: rotateZ(0deg);
  }

  &:hover .card.two {
    transition: 1s;
    transform: rotateZ(-10deg);
  }

  &:hover .card.three {
    transition: 1s;
    transform: rotateZ(10deg);
  }
}