//客服機器人＆遊戲
/*.noscroll{
  position: fixed;
  width: 100%;
}
.scrollLightBox{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow-y: scroll;
}*/
a{
  text-decoration: none;
}
#gameHub{
  opacity:0.85;
  position: fixed;
  left: -370px;
  bottom: 100px;
  width: 80px;
  height: 65px;
  text-align: center;
  ////outline: 5px red solid;
  color: #ffffa3;
  vertical-align: middle;
  z-index: 3;
  img{
    width: 120%;
    margin:5px auto auto auto;
  }
  animation:gameCar 10s ease infinite;
}
#customerServiceGirl{
  position:fixed;
  vertical-align: middle;
  ////outline: 5px red solid：
  width:100px;
  right: -10px;
  bottom: -400px;
  z-index:3;
  img{
    width:100%; 
  }
  animation:serviceGirl 12s  ease infinite;
  
}
.showUpHints{
  width: 200px;
  padding: 20px;
  height: 140px;
  background: #eee;
  position: absolute;
  opacity: .1;
  right: 20px;
  bottom: -200px;
  border-radius:20px;
  z-index: 3;
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  p{
    color:#121;
    width:160px;
  }
}
.showUpHints:after {
  position:absolute;
  content:"";
  bottom:-30px;
  left:70%;
  transform:translateX(-50%);
  width: 0;
  height: 0;
  border-width:15px;
  border-style:solid;
  border-top-color: #eee;
  border-right-color: transparent ;
  border-bottom-color: transparent;
  border-left-color: transparent ;
}

//使用者客服問答區
#gameAndService{
  position: fixed;
  width: 100%;
  height: 100%;
  //  //outline: #007bff 5px solid;
 
}
#customerTextArea{
  position: fixed;
  border-radius: 10px;
  width: 300px;
  height: 420px;
  background-color: #222222;
  color: $fontColor;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 30px;
  z-index: 2;
  img{
    width:5%
  }
}
//客服背景圖筐
.chatrobot {
  position: fixed;
  border: $fontColor 8px groove;
  border-radius: 10px;
  width: 300px;
  height: 420px;
  background-color: #222222;
  color: $fontColor;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 30px;
  z-index: 2;
  box-shadow: 0 0 10px 12px rgba(230, 230, 230, 0.3);
  display: none; 
}
.chatrobot::after{
  content:'';
  background: url("../images/custormerService.png") no-repeat;
  background-size:contain;
  width:100px;
  height:150px;
  top:100px;
  right: -55px;
  position: absolute;
  animation:serviceGirl 12s  linear infinite;
}
//客服文字圖筐
.chatrobot .chatbox {
  width: 250px;
  height: 280px;
  background-color: #444;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "微軟正黑體";
  overflow: auto; 
}
.chatrobot .chatbox::-webkit-scrollbar {
  display: none; }
  //客服使用者文字輸入區塊
.chatrobot .chatbox .customMessage {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: $fontColor;
  color: #222;
  text-align: left;
  position: relative; }
.chatrobot .chatbox .chatline span {
  margin-left: 20px; }

  .chatrobot .closebtn {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 30px;
    color: #e5dccb;
    cursor: pointer; }
  .chatrobot .chattext {
    width: 250px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around; }
    .chatrobot .chattext .messagebox {
      width: 190px;
      height: 50px;
      box-sizing: border-box;
      padding: 5px;
      margin: 0px;
      border: 0px;
      border-radius: 10px;
      font-size: 16px;
      font-family: "Microsoft JhengHei"; }
    .chatrobot .chattext .chatbtn {
      height: 50px;
      width: 50px;
      border: 0;
      font-size: 20px;
      font-family: "kangxi";
      color: #e5dccb;
      border-radius: 10px;
      background-color: #d53e23;
      text-align: center;
      line-height: 50px;
      cursor: pointer; 
    }
    .popOutBgiBlack{
      background-color: rgba(0, 0, 0, 0.6);
    }



@keyframes gameCar{
  0%{transform:translateX(10px);}
  20%{transform:translateX(-20px);}
  40%{transform:translateX(-100px);}
  60%{transform:translateX(-100px);}
  80%{transform:translateX(-10px);}
  100%{transform:translateX(10px);}
}
@keyframes serviceGirl{
  0%{transform:translateY(0px);}
  25%{transform:translateY(20px);}
  50%{transform:translateY(0px);}
  75%{transform:translateY(-20px);}
  100%{transform:translateY(0px);}
}

//首頁第一屏 wrapper
.dcontainer{   
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    width: 80vw;
    max-width: 1200px;
}
#carIntroWrap{
    padding-top:80px; 
    position: relative;
    background-image: url(../images/carIntroWrapBgi.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    z-index: 0;
    height: 100vh;
    min-height: 600px;
    ////outline: 5px red solid;
  }
  
  //首頁第一屏 背景圖們
  #bgiArea{
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 80vw;
    margin-top: -150px;
    height: 100vh;
    min-height: 600px;
    z-index: -2;
    opacity:.8;
    //outline: 7px green solid;
  }
  //首頁第一屏 背景圖們 條狀
  #bgiAreaBar{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 900px;
    ////outline: 5px red solid;
  }
 //首頁第一屏 背景圖們 旋轉發光圓圈
  #bgiAreaCircle{
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 900px;
    animation: shinging 14s linear infinite ;
  }
  
  @keyframes shinging{
    0%{ opacity:1; transform: rotate(0deg); }
    25%{ opacity:0.1; transform: rotate(90deg); }
    50%{ opacity:1; transform: rotate(180deg); }
    75%{ opacity:0.1; transform: rotate(270deg); }
    100%{opacity:1; transform: rotate(360deg); }
  }
#introCarStageOne{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 0;
  margin-top: -120px;
  height: 100vh;
  min-height: 600px;
  width: 80%;
  //outline: 5px red solid;
  transition: 1.6s cubic-bezier(.25,-0.98,.69,1.58);
}

  //////////
.perspectiveIntro{
  position:absolute;
  margin:auto;
  margin-top:8.5vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //outline: 5px blue solid;
  height:100vh;
  width: 100%;
  position: relative;
  perspective: 900px;
}
#introWords{
  //outline: 5px pink solid;
  position: absolute;
  transform:scale(.2);
  width: 80%;
  margin:auto;
  margin-top:52vh;
  font-family: "wangHangMing";
  font-size: 32px;
  color: #ffffbd;
  font-weight: bolder;
  h2{
      font-weight: 300;
      text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
  }
  h3{
      margin-top: 18px;
      font-size: 20px;
      font-weight: 200;
      text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
  }
  .commonBtn{
      margin:20px auto;
  }
  transition: 1s cubic-bezier(.25,-1.04,.69,1.58);
}
@keyframes turn{
    0%{transform:translateY(100px) rotateX(0deg) rotateY(180deg) rotateZ(0deg)}
    100%{transform:translateY(100px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg)}
}
@keyframes turn2{
    0%{transform: translateY(-80px) translateX(-100px) translateZ(75px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg)}
    100%{transform:translateY(-80px) translateX(-100px) translateZ(75px) rotateX(0deg) rotateY(180deg) rotateZ(0deg)}
}
@keyframes turn3{
    0%{transform: translateY(-80px) translateX(100px) translateZ(75px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg)}
    100%{transform:translateY(-80px) translateX(100px) translateZ(75px) rotateX(0deg) rotateY(180deg) rotateZ(0deg)}
}
@media screen and (min-width:992px) {
  #bgiArea{
    margin-top: auto;
  }
  #introCarStageOne{
    margin-top: auto;
    width: 50%;
    margin-left: 180px;
  }
  .perspectiveIntro{
    perspective: 900px;
    transform: scale(1.5);
    left: -100px;
  }
}
@media screen and (min-width:1200px) {
  #introCarStageOne{
    margin-left: 260px;
  }
}
// 整個舞台
.groupIntro{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 40px;
    // //outline: 2px solid #f00;
    transform-style: preserve-3d;
    transform: translateY(100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    //animation: turn 10s alternate infinite;

    div{
        box-sizing: border-box;
        width: 300px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        // //outline: 1px solid #00f;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    // 下舞台
    .front{ width: 130px; transform: translateX(-85px) translateZ(75px);background: url(../images/17.jpg)center no-repeat;background-size:cover;}
    .front1{  width: 40px; transform:  translateZ(75px);background: rgb(0, 187, 208);}
    .front2{  width: 130px; transform: translateX(85px) translateZ(75px);background: url(../images/17.jpg)center no-repeat;background-size:cover;}
     .back{transform:  translateZ(-75px);background: url(../images/3.png)center no-repeat;background-size:cover;}
       .up{ transform: rotateX(90deg)  translateZ(20px); height: 150px;background: url(../images/3.png)center no-repeat;background-size:cover;}
     .down{ transform: rotateX(270deg)  translateZ(20px); height: 150px;background: url(../images/3.png)center no-repeat;background-size:cover;}
     .left{ transform: rotateY(270deg) translateZ(150px); width: 150px;background: url(../images/3.png)center no-repeat;background-size:cover;}
    .right{ transform: rotateY(90deg) translateZ(150px);  width: 150px;background: url(../images/3.png)center no-repeat;background-size:cover;}
   
    .stairsB{ width: 30px;height:40px;transform:rotateX(270deg) translateY(-85px)  translateZ(20px)}
    // 壁屏
    .stairsC{ width: 250px;height: 95px;transform:  translateZ(-75px) translateY(-65px);border:#000 solid 1px;background: url(../images/12.jpg)center no-repeat;background-size:cover;}
    .stairsC1{width: 250px;height: 95px;transform:  translateZ(-69px) translateY(-65px);border:#000 solid 1px;background: url(../images/12.jpg)center no-repeat;background-size:cover;}
    .stairsC2{width: 6px; height: 95px;transform: translateY(-65px) translatez(-73px) translateX(126px) rotateY(90deg);background: #311345;}
    .stairsC3{width: 6px; height: 95px;transform: translateY(-65px) translatez(-73px) translateX(-126px) rotateY(90deg);background: #311345;}
    .stairsC4{width: 250px; height: 6px;transform: translateZ(-73px)translateY(-112px) rotateX(90deg);background: #311345;}
    // 上壁屏
    .stairsD{ width: 50px; height: 205px;transform: translateZ(20px)translateX(-95px)translateY(-160px) rotateX(-60deg);background: url(../images/15.jpg)center no-repeat;background-size:cover;}
    .stairsE{ width: 50px; height: 205px;transform: translateZ(20px)translateX(95px)translateY(-160px) rotateX(-60deg);background: url(../images/16.jpg)center no-repeat;background-size:cover;}
    .stairsF{ width: 150px; height: 205px;transform: translateZ(20px)translateY(-160px) rotateX(-60deg);background: url(../images/14.jpg)center no-repeat;background-size:cover;}
    .stairsF1{width: 240px; height: 205px;transform: translateZ(20px)translateY(-162px) rotateX(-60deg);background: url(../images/2.png)center no-repeat;background-size:cover;}
    .stairsF2{width:2px; height: 208px;transform: translateZ(18px) translateY(-160px) translateX(-120px) rotateY(-90deg) rotateZ(60deg);background: #311345;}
    .stairsF3{width:2px; height: 208px;transform: translateZ(18px) translateY(-160px) translateX(120px) rotateY(-90deg) rotateZ(60deg);background: #311345;}
    .stairsF4{width:240px; height: 2px;transform: translateZ(108px) translateY(-212px) ;background: #311345;}
    // 跑馬燈
    .subtitles{ width:200px ;height:20px;transform: translateY(-100px) translateZ(-67px);font-size: 18px;line-height: 1;text-align: center;background: #000;color:#fff;}
    .subtitles1{width:2px ;height:20px;transform: translateY(-100px) translateZ(-67px)translateX(100px)rotateY(90deg);background: #311345;}
    .subtitles2{width:2px ;height:20px;transform: translateY(-100px) translateZ(-67px)translateX(-100px)rotateY(90deg);background: #311345;}

    // 樓梯三角形 位置調整translateZ(75px)
    .triangleA{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(-20px) rotateY(-90deg);
    }
    .triangleB{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(-30px) rotateY(-90deg);
    }
    .triangleC{
        width: 10px;
        height: 75px;
        background: rgba(30,30,30,.9);
        transform:translateZ(75px)  translateX(-25px) translateZ(30px) rotateX(53deg)
    }
    .triangleD{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(20px) rotateY(-90deg);
    }
    .triangleE{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 45px 0 0 60px;
        border-color: transparent transparent transparent rgba(30,30,30,.9);
        transform:translateZ(75px) translateZ(30px) translateX(30px) rotateY(-90deg);
    }
    .triangleF{
        width: 10px;
        height: 75px;
        background: rgba(30,30,30,.9);
        transform:translateZ(75px)  translateX(25px) translateZ(30px) rotateX(53deg)
    }
    
    // 樓梯 位置調整translateZ(75px)
    .ladderA{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: rgb(0, 229, 255);
        transform:translateZ(75px)  translateY(-10px) translateZ(10px) rotateX(90deg);
    }
    .ladderB{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: rgb(0, 187, 208);
        transform:translateZ(75px)  translateY(-5px) translateZ(15px) ;
    }
    .ladderC{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: rgb(0, 237, 254);
        transform:translateZ(75px)  translateY(0px) translateZ(20px) rotateX(90deg);
    }
    .ladderD{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: rgb(0, 187, 208);
        transform:translateZ(75px)  translateY(5px) translateZ(25px) ;
    }
    .ladderE{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: rgb(0, 237, 254);
        transform:translateZ(75px)  translateY(10px) translateZ(30px) rotateX(90deg);
    }
    .ladderF{
        width: 40px;
        border: 1px solid #6e6e6e;
        height: 10px;
        background: rgb(0, 187, 208);
        transform:translateZ(75px)  translateY(15px) translateZ(35px) ;
    }
        /* 燈柱 位置調整 translateY(-210px) translateZ(115px) */
    .headlightbox{    
        width: 150px;
        height: 10px;
        background: rgb(1, 1, 16);
        transform:translateY(-210px) translateZ(115px) translateY(5px)rotateX(90deg);
    }
    .headlightbox1{
        
        width: 150px;
        height: 10px;
        background:  rgb(5, 5, 13);
        transform:translateY(-210px) translateZ(115px) translateY(5px) rotateX(90deg) ;
    }
    .headlightbox2{
        width: 150px;
        height: 10px;
        background:  rgb(8, 8, 24);
        transform:translateY(-210px) translateZ(115px) translateZ(5px) ;
    }
    .headlightbox3{
        width: 150px;
        height: 10px;
        background: rgb(3, 3, 9);
        transform:translateY(-210px) translateZ(115px) translateZ(-5px) ;
    }
    .headlightbox4{
        width: 10px;
        height: 10px;
        background:  rgb(12, 12, 19);
        transform:translateY(-210px) translateZ(115px) translateX(75px) rotateY(90deg);
    }
    .headlightbox5{
        width: 10px;
        height: 10px;
        background:  rgb(4, 4, 3);
        transform:translateY(-210px) translateZ(115px) translateX(-75px) rotateY(90deg);
    }
    /* 中間投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(5, 5, 13) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateZ(5px)rotateX(30deg)
    }
    .headlight1{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(5, 5, 13) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateZ(-5px) rotateX(-30deg)
    }
    .headlight2{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(5, 5, 13) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg)
    }
    .headlight3{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(5, 5, 13) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px)  translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg)
    }
    
    /* 左邊投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight4{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(8, 10, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateZ(5px)rotateX(30deg)
    }
    .headlight5{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(8, 10, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateZ(-5px) rotateX(-30deg)
    }
    .headlight6{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(8, 10, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg)
    }
    .headlight7{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(8, 19, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(-50px) translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg)
    }
    
    /* 右邊投射燈 位置調整 translateY(-210px) translateZ(115px) */
    .headlight8{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(8, 10, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateZ(5px)rotateX(30deg)
    }
    .headlight9{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(8, 10, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateZ(-5px) rotateX(-30deg)
    }
    .headlight10{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(9, 21, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateX(5px) rotateY(90deg) rotateX(30deg)
    }
    .headlight11{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 20px 10px;
        border-color: transparent transparent rgb(8, 10, 18) transparent;
        background: none;
        transform:translateY(-210px) translateZ(115px) translateX(50px) translateY(5px) translateX(-5px) rotateY(-90deg) rotateX(30deg)
    }
    /* 左音箱 位置調整前三個 translateZ(40px)translateX(-120px) translateY(-50px)*/
    .audioBox{
        width: 30px;
        height: 60px;
        background: url(../images/audio1.png)center no-repeat;background-size:cover;
        transform:translateZ(40px)translateX(-120px) translateY(-50px)  rotateY(-30deg) translateZ(10px)
    }
    .audioBox1{
        width: 30px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateZ(-10px)
    }
    .audioBox2{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateX(-15px) rotateY(90deg)
    }
    .audioBox3{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px) rotateY(-30deg) translateX(15px) rotateY(90deg)
    }
    .audioBox4{
        width: 30px;
        height: 20px;
        background: #000;
        transform:translateZ(40px)translateX(-120px) translateY(-50px)  translateY(-30px) rotateY(-30deg) rotateX(90deg)
    }
    /* 右音箱 位置調整前三個 translateZ(40px)translateX(120px) translateY(-50px)*/
    .audioBox5{
        width: 30px;
        height: 60px;
        background: url(../images/audio1.png)center no-repeat;background-size:cover;
        transform:translateZ(40px)translateX(120px) translateY(-50px)  rotateY(30deg) translateZ(10px)
    }
    .audioBox6{
        width: 30px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateZ(-10px)
    }
    .audioBox7{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateX(-15px) rotateY(90deg)
    }
    .audioBox8{
        width: 20px;
        height: 60px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px) rotateY(30deg) translateX(15px) rotateY(90deg)
    }
    .audioBox9{
        width: 30px;
        height: 20px;
        background: #000;
        transform:translateZ(40px)translateX(120px) translateY(-50px)  translateY(-30px) rotateY(30deg) rotateX(90deg)
    }
    img{
        width: 80px;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: turn2 12s alternate infinite;
    }
    .img2{
        width: 80px;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: turn3 18s alternate infinite;
    }
}


  //首頁第二屏 wrapper （客製花車配件介紹）
  #carEquipmentsIntroWrap{
    padding-top:$paddingTop; 
    position: relative;
    background-image: url(../images/carEquipmentsIntroWrapBgi.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    z-index: 0;
    height:100vh;
    min-height: 600px;
    ////outline: 5px red solid;
  }
  #equipIntroTabsSection{
    transform: scale(.5);
  }
  #equipCarStage{
    //outline: red 5px solid;
    margin:auto;
    margin-top:100px;
    position: relative;
    width: 90vw;
    margin-top: -185px; 
    //outline: red 5px solid;
  }
  .popOut{
    transform: scale(.5);
  }
  
  .EquipIntroWrapper {
    //outline: blue 5px solid;
    display: flex;
    flex-wrap: wrap;
    margin:-40px auto auto auto;
    width:100%;
    height: 100vh;
    font-family:$contentFontFamily;
    color:#fff;
    font-size:14px;
    line-height:24px;
    max-width:1200px;
    min-width:230px;
    //overflow:hidden;
    text-align: center;
    .commonBtn{
      margin: -110px auto ;
      
    }

  }


  
  .introTabs {
    margin:0px 30px;
    font-family:$contentFontFamily;
    .tabLi {
      list-style:none;
      float:left;
      width:16.66666666666667%;
    }
    a {
      display:block;
      text-align:center;
      text-decoration:none;
      position:relative;
      text-transform:uppercase;
      font-size: 18px;
      font-family:$contentFontFamily;
      color:#222;
      height:80px;
      line-height:100px;
      background:linear-gradient(165deg,transparent 29%, #fffc98 20%);
      
      &:hover, &.activeTabs {
         background: linear-gradient(165deg,transparent 29%, #222 20%);
         color:#fff;
         font-weight: bold;
         transition: .7s ease;
      }
      
      &:before{
        content:'';
        position:absolute;
        z-index:11;
        left:100%;
        top:-60%;
        height:58px;
        line-height:90px;
        width:0;
        border-bottom: 70px solid rgba(0,0,0,.1);
        border-right: 7px solid transparent;
      }
      &.activeTabs:before{
        content:'';
        position:absolute;
        z-index:11;
        left:100%;
        top:-60%;
        height:58px;
        line-height:90px;
        width:0;
        border-bottom: 70px solid rgba(0,0,0,.2);
        border-right: 20px solid transparent;
      }
      // &:last-child:before, &.active:last-child:before{
      //   border: none;
      // }
    }
  }
  .tabgroup {
    box-shadow:2px 2px 2px 2px rgba(0,0,0,.1);
    margin:0px 30px;
    transition:  .4s ease;
    h2{
      font-family:$contentFontFamily;
      text-align: center;
      margin-bottom: 10px;
      font-size: 28px;
      transition:  .4s ease;
    }
    p{
      font-family:$contentFontFamily;
      transition:  .4s ease;
    }
    div {
      padding:30px;
      height: 200px;
      width: 100%;
      max-width:500px;
      min-width:210px;
      font-family:$contentFontFamily;
      background:#222;
      box-shadow:0 3px 10px rgba(0,0,0,.3);
      border-color:rgb(128, 119, 89);
      border-width:10px  0px 10px 0px;
      border-style:groove;
      transition: .4s ease ;
    }
  }
  .clearfix:after {
    content:"";
    display:table;
    clear:both;
  }
  #equipBtnOne{
    display: none;
  }
  //包住所有被件及背景舞台的div
  
  #introCarStage{
    width: 100%;
    position:absolute;
    ////outline: red 5px solid;
    top: -13px;
    left: 0;

  }
  #introInnerBlock{
    width: 102%;
    position:absolute;
    ////outline: blue 5px solid;
    top: -16px;
    left: 0;
    opacity:.9;
    margin-left:-4px; 
    animation: introInnerBlockShine 2.4s ease infinite;
    transition:  .4s ease;
  }
  @keyframes introInnerBlockShine{
    0%{ opacity:1;  }
    25%{ opacity:0.4; }
    50%{ opacity:1;  }
    75%{ opacity:0.6; }
    100%{opacity:1;}
  }

  #introPoleBlock{
    width: 3%;
    position:absolute;
    ////outline: blue 5px solid;
    margin: auto;
    top: 21vw;
    right: 0;
    left: 0;
    filter: drop-shadow(0px 0px 5px rgb(255, 244, 203));
    animation: introPoleBlockScale 3s ease infinite;
  }
  @keyframes introPoleBlockScale{
    0%{ transform:scaleY(1);  }
    25%{ transform:scaleY(.9); }
    50%{ transform:scaleY(1);  }
    75%{ transform:scaleY(.95); }
    100%{transform:scaleY(1);}
  }
  
  #introDanceBlock{
    width: 12%;
    position:absolute;
   
    margin: auto;
    top: 33vw;
    right: 0;
    left: 0;   
    filter: drop-shadow(0px 0px 4px rgba(36, 36, 36, 0.9));
    animation: introDanceBlock 10s ease infinite;
  }
  @keyframes introDanceBlock{
    0%{ transform:translateX(0px) scale(1);  }
    10%{ transform:translateX(5px) scale(1.05); }
    25%{ transform:translateX(-5px) scale(1.02);  }
    20%{ transform:translateX(0px) scale(1); }
    30%{ transform:translateX(10px) scale(1.05); }
    60%{ transform:translate(0px,5vw) scale(1.15); }
    100%{transform:translateX(0px) scale(1);}
  }
  .introSpecialBlock{
    position:absolute;
    margin: auto;    
  }
  .introSpecialBlock.one{
      width: 50%;
      left: 0;
      top: -60px
  }
  .introSpecialBlock.two{
    width: 70%;
    right: 0px;
    top: -90px
}
  .introSpecialBlock.three{
    width: 25%;
    right: 30px;
    top: 70px;
}
.introSpecialBlock.four{
    width: 25%;
    left: 30px;
    transform: scaleX(-1) rotate(5deg);
    top: 70px;
}
#introScreenBlock{
    width: 46.8vw;
    height: 6vw;
    position:absolute;
    margin: auto;  
    top: 31.2vw;
    right: 0;
    left: 0;  
    overflow: hidden;
    span{
        width: 600px;
        height: 6vw;
        position:absolute;
        font-size: 3vw;
        line-height: 6vw;
        color: #F2EEE2;
        animation: introScreenWords 18s linear infinite;
    }
}
@keyframes introScreenWords{
    from{transform: translateX(100px);}
    to{transform: translateX(-700px);}
}
.introSoundsBlock{
    width: 14%;
    position:absolute;
    margin: auto;  
    top: 35vw;
}
.introSoundsBlock.one{
    right: 5vw;
    animation: introSoundsScale 1.5s ease reverse infinite;
    filter: drop-shadow(0px 0px 7px rgb(255, 244, 203));
}
.introSoundsBlock.two{
    left: 5vw;
    animation: introSoundsScale 1.5s ease reverse infinite;
    filter: drop-shadow(0px 0px 7px rgb(255, 244, 203));
}
@keyframes introSoundsScale{
    0%{ transform:scale(1.05);  }
    6%{ transform:scale(1); }
    12%{ transform:scale(1.02);  }
    20%{ transform:scale(1); }
    30%{ transform:scale(1.02);  }
    80%{ transform:scale(1); }
    100%{transform:scale(1.05);}
  }

  #lyrics{
    width: 45.8vw;
    height: 6vw;
    position:absolute;
    margin: auto;  
    top: 31.2vw;
    right: 0;
    left: 0;  
    overflow: hidden;
    span{
        width: 800px;
        height: 6vw;
        position:absolute;
        font-size: 3vw;
        line-height: 6vw;
        color: #F2EEE2;
        animation: lyrics 19s linear infinite;
    }
}
@keyframes lyrics{
    from{transform: translateX(100px);}
    to{transform: translateX(-900px);}
}

//首頁第三屏 wrapper （客製小試身手）
#tryCustormiseWrap{
  padding-top:$paddingTop; 
  position: relative;
  background-color: #111;
  //background-image: url(../images/darkBrick.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
  height:100vh;
  overflow: hidden;
  min-height: 600px;
  ////outline: 5px red solid;
  .titleBgi{
    background: url(../images/titleNeonLightBrownNew.gif) center no-repeat;
    background-size: cover;
  }
  .commonBtn{
    margin: -10px auto auto auto;
  }
  .custBtnTop{
    z-index:9;
  }
}
.stageView{
  //outline:red 5px solid;
  transform: scale(.3);
  opacity:0;
}
.stageTry{
  //display: flex;
  width: 90vw;
  max-width: 1200px;
}
.tryCustEquipWrap {
  margin: 10px auto;
  //outline: red solid 5px;
  transform: scale(.3);
  opacity:0;
}


ul.tryCustTabs {
  width: 300px;
  height: 70px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
ul.tryCustTabs li {
  float: left;
  width: 150px;
}
ul.tryCustTabs li a {
  position: relative;
  display: block;
  height: 60px;
  margin-top: 40px;
  padding: 8px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #6edeef;
  -webkit-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
  border: 0px solid #000000;
  -webkit-transition: padding 0.2s ease, margin 0.2s ease;
  -moz-transition: padding 0.2s ease, margin 0.2s ease;
  -o-transition: padding 0.2s ease, margin 0.2s ease;
  -ms-transition: padding 0.2s ease, margin 0.2s ease;
  transition: padding 0.2s ease, margin 0.2s ease;
}
.tryCustTabs li:first-child a {
  z-index: 3;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
}
.tryCustTabs li:nth-child(2) a {
  z-index: 2;
}
.tryCustTabs li:last-child a {
  z-index: 1;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
}
ul.tryCustTabs li a:hover {
  margin: 35px 0 0 0;
  padding: 10px 0 5px 0;
}
ul.tryCustTabs li a.tryCustActive {
  margin: 30px 0 0 0;
  padding: 8px 0 8px 0;
  background: #545f60;
  color: #6edeef;
  /*color: #ff6831;*/
  z-index: 2;
  outline: none;
}
.tryCustGroup:before,
.tryCustGroup:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.tryCustGroup:after {
  clear: both;
}
#tryCustEquipContent {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  background: #545f60;
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 8px 25px -2px rgba(0, 0, 0, 0.3);
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: auto;
}

.perspective{
    margin: auto;
    max-width: 500px;
    height: 400px;
    position: relative;
    perspective: 900px;
}
#perspectiveTry{
  height: 140px;
}

#danceDetail{
  outline:red 5px solid;
}
.custItemContent{
  background-image: none;
  filter: none;
}
#tryCustEquipInnerSet{
  overflow-x: scroll;
}

//引入客製頁面


//首頁第四屏 wrapper （客製宣傳單小試身手）
#tryCustormiseFlyerWrap{
  padding-top:$paddingTop; 
  position: relative;
  background-color:#111 ;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  z-index: 0;
  height: 100vh;
  min-height: 600px;
  ////outline: 5px red solid;
  .titleBgi{
    //background: url(../images/titleNeonLightGreen.gif) center no-repeat;
    background-size: cover;
    
  }
  @include fontStyle;
  color: $fontColor;
  .commonBtn{
    margin: auto;
    margin-top: 60vh;
  }
}
.introFlyer img{
  width: 220px;
  opacity: 0;
  box-shadow: 0px 0px 10px rgba(31, 31, 31, 0.8);
}
.introFlyerBoard{
  position: absolute;
  width: 100px;
  height: 120px;
  margin: auto;
  margin-top:29vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  border:10px rgb(190, 130, 0) groove;
  background-image: url(../images/woodboard.jpg);
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(255, 244, 179, 0.8);
  font-family: $contentFontFamily;
  h2{
    margin: 8px auto;
    font-size: 24px;
    font-family: $contentFontFamily;
  }
  h3{
    //outline: red 5px solid;
    margin-top:20px; 
    font-family: $contentFontFamily;
  }
}
#introFlyer2,#introFlyer3{
  display: none;
  transform: scale(.8)
}

//宣傳單hover下去
#introFlyer2:hover,#introFlyer3:hover{
  transform: scale(1);
}


.introFlyerFunction{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0px;
  height: 0px;
  vertical-align: middle;
  border-radius: 40px;
  line-height: 1.1;
  opacity: 0;
  color: #111;
  font-weight:bolder;
  opacity: 0;
  cursor: pointer;
  background-color: rgb(253, 228, 0);
  box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.8);
  animation: shinningBtnFlyer 3s 2s infinite;
  transition: ease;
  //animation: none;
}
@keyframes shinningBtnFlyer{
  0%{filter: drop-shadow(0px 0px 5px #ffff8e);background-color:rgb(253, 228, 0);}
  50%{filter: drop-shadow(0px 0px 30px #ffff8e);background-color:#e96d00;}
  100%{filter: drop-shadow(0px 0px 5px #ffff8e);background-color:rgb(253, 228, 0);}
}


.introFlyerFunction:hover{
  background-color: #fea100;
  box-shadow: 0px 0px 25px rgba(34, 34, 34, 1);
  transform:scale(1.05);
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#flyerFunctionDetailSection{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width:90vw;
  max-width:500px;
  height: 32vh;
  max-height:350px;
  background-image:url(../images/processDetailBgi.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  h3{
    margin: auto;
    margin-top: 6.5vh;
    font-size: 24px;
    text-align:center;
  }
  p{
    font-family: $contentFontFamily;
    width: 240px;
    margin: auto;
    margin-top: 1.2vh
  }
  .closebtn {
    position: absolute;
    top: 8px;
    right: 40px;
    font-size: 30px;
    color: #e5dccb;
    cursor: pointer; }
}
#flyerFunctionDetailSection,#flyerFunctionDetail1,#flyerFunctionDetail2,#flyerFunctionDetail3{
  display: none;
}


//首頁第五屏 wrapper （選美）
#beautyContestWrap{
  padding-top:$paddingTop; 
  position: relative;
  background-image: url(../images/beautyContestWrap.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  z-index: 0;
  height: 100vh;
  min-height: 600px;
  ////outline: 5px red solid;
  .titleBgi{
    background: url(../images/titleNeonLightBlueNew.gif) center no-repeat;
    background-size: cover;
    margin-top: 40px;
  }
  @include fontStyle;
  .commonBtn{
      margin: auto;
      text-align: center;
  }
  border: none;
  .dcontainer{
      width: 100vw;
  }
  button{
      display:none;
  }
}
#beautyContestStages{
  position: relative;
}
.rankTitle{
  font-size: 28px;
  font-family: $contentFontFamily;
  text-shadow:0px 0px 10px #000;
  font-weight: bolder;
  margin: 2px;
  color: rgb(255, 255, 255);
}
.crown{
  //outline: 5px red solid;
  width: 100px;
  height: 50px;
  margin: auto;
  margin-top: 2vh;
  img{
      width: 80%;
      margin: auto;
  }
}
#firstPlaceStage,
#secondPlaceStage,
#thirdPlaceStage,
#forthPlaceStage,
#fifthPlaceStage {
  text-shadow: 0px 0px 5px #000;
  overflow: hidden;
  img{
      width: 85%;
      margin: auto;
      filter: drop-shadow(0px 0px 5px rgb(255, 253, 185));
  }
}
.dontChange{
  
  img{
      width: 30%;
  }
}
.likeContainer{
  margin-top: 30px;
  width: 40px;
  height: 24px;
  cursor: pointer;
  //outline: 5px red solid;
  img{
      width:26px;
      height: 23px;
      display: inline-block;
      margin-bottom:0; 
      filter: drop-shadow(0px 0px 3px rgb(255, 253, 185));  
  }
}
#contestLikes{
  //outline: 5px blue solid; 
  height: 60px;
  span{
    font-size: 28px;  
    font-family: "微軟正黑體";
  }   
}
.slick-current{
  transform: scale(1.1);
  transition: .8s ease;  
}
.slick-current:focus {
  outline:none;
}
.beautyContestStages{
  //background-color: rgb(255, 148, 148);
  text-align: center;
  margin: 2vh;
  height: 55vh;
}
#beautyContestWrap{
  padding-top: 50px;
 
  margin: 0;
}
#beautyContestSlider{
  width: 100%;
  font-family: "微軟正黑";
  left: 100vw;
}
.slick-initialized{
  overflow:visible;
  width: 100vw;
}


//首頁第六屏 wrapper （客製與出貨流程）
#processWrap{
  background: url(../images/processBgi.jpg) center no-repeat contain;
  padding-top:$paddingTop; 
  position: relative;
  width: 100vw;
  z-index: 0;
  height:100vh;
  min-height: 600px; 
  .titleBgi{
    background: url(../images/titleNeonLightBlueNew.gif) center no-repeat;
    background-size: cover;
    font-size: $titleWord;
  } 
}
#parallaxContainer{ 
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
  .processPara{
      position: absolute;
      margin: auto;   
      transition: 1.3s ease ; 
  }
  #paraItem1{
      left: 4vw;
      top: 35vh;
      width: 10vw;
      min-width: 65px;
      animation: swingPara 5s reverse infinite;
      opacity: .85;
  }
  #paraItem2{
      right: 30vw;
      top: 45vh;
      width: 20vw;
      min-width: 80px;
      animation: swingPara 3s infinite;
  }
  #paraItem3{ /*鋼管*/
      left: 79vw;
      top: 42vh;
      width: 5vw;
      min-width: 50px;
      transform: rotate(200deg);
      animation: swingPara 5s infinite;
  }
  #paraItem4{ /*行星*/
      left: 70vw;
      top: 7vh;
      width: 10vw;
      opacity: .85;
      min-width: 50px;
      animation: swingPara 5s infinite;
  }
  #paraItem5{  /*音響*/
      left: 20vw;
      top: 15vh;
      width: 8vw;
      min-width: 50px;
      animation: swingPara 10s linear reverse infinite;
  }
  #paraItem6{ /*音響*/
      left: 50vw;
      top: 35vh;
      width: 12vw;
      min-width: 80px;
      opacity: .85;
      min-width: 60px;
      animation: swingPara 8s infinite;
  }
  #paraItem7{ /*行星*/
      left: 30vw;
      top: 50vh;
      width: 5vw;
      min-width: 60px;
      animation: swingPara 15s infinite;
  }
  #paraItem8{ /*人造衛星*/
      left: 80vw;
      top: 5vh;
      width: 10vw;
      min-width: 40px;
      animation: swingPara 12s infinite;
      opacity: .85;
      
  }
  #paraItem9{ /*螢幕*/
      left: 40vw;
      top: -2vh;
      width: 10vw;
      min-width: 80px;
      animation: swingPara 12s infinite;
      opacity: .85;
      filter: drop-shadow(0px 0px 15px rgba(255, 179, 179, 0.568));
      animation: swingPara 20s linear reverse infinite;  
  }
  #paraItem10{  /*火*/
      left: 20vw;
      top: 45vh;
      width: 8vw;
      min-width: 70px;
      animation: swingPara 15s infinite;
      opacity: .65;
      filter: drop-shadow(0px 0px 15px rgba(255, 179, 179, 0.568)); 
      animation: swingPara 30s linear reverse infinite;
  }
  #paraItem11{  /*車*/
      left: 65vw;
      top: 25vh;
      width: 15vw;
      min-width: 70px;
      animation: swingPara 15s infinite;
      opacity: .7;
      filter: drop-shadow(0px 0px 15px rgba(255, 254, 254, 0.363)); 
      animation: swingPara 30s linear reverse infinite;
  }
  .processPara img{
      position: absolute;
      margin: auto;
      transition:  .58s  cubic-bezier(0.65, 0.82, 0.165, 1);
      
  }
.button {
text-align: center;
text-transform: uppercase;
text-decoration: none;
font-size: 18px;
font-weight: bolder;
font-family: "Segoe UI";
letter-spacing: 1px;
animation: shinningBtn 3.2s ease infinite;
}
@keyframes shinningBtn{
  0%{filter: drop-shadow(0px 0px 10px #ffffc0);background-color:#e94200;transform: scale(1);}
  50%{filter: drop-shadow(0px 0px 50px #ffffc0);background-color:#e96d00; color:#122;transform: scale(1.1);}
  100%{filter: drop-shadow(0px 0px 10px #ffffc0);background-color:#e94200;transform: scale(1);}
}
.button:before {
border-radius: 100px;
border: 0px solid #e90000;
box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
content: "";
display: block;
position: absolute;
left: 50%;
top: 50%;
height: 110px;
width: 110px;
margin-left: -57px;
margin-top: -57px;
opacity: 1;
transform: scale(1);
transition: all 200ms;

}
.button:hover:before {
border: 2px solid #e90000;
transform: scale(1.2);
opacity: .6;
filter: drop-shadow(0px 0px 8px #e90000)
}
.button.circle {
background: #e90000;
border: none;
border-radius: 900px;
color: #e4ecfa;
cursor: pointer;
display: block;
width: 100px;
height: 100px;
line-height: 100px;
position: relative;
margin: auto;
margin-top: 25px;
transition: 0.5s;
}
.button.circle:hover {
background: #fee900;
padding: -2px;
font-size: 24px;
color: #001;

}
.btnContainer {
position: absolute;
margin: auto;
top: -25vh;
bottom: 0;
right: 0;
left: 0;
width: 110px;
height: 110px;
}
#processWrap{
/*padding-top:140px;*/ 
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;

}
@keyframes shineProcessBgi{
      0%{opacity: 0.6;}
      25%{opacity: 0.1;}
      50%{opacity: 0.4;}
      75%{opacity: 0.2;}
      100%{opacity: 0.6;}
  }
#processShineBgi{
background: url(../images/processBgiShine.jpg) center no-repeat;
position: absolute;
width: 100%;
height: 100vh;
overflow: hidden;
animation: shineProcessBgi 17s ease infinite;
}
#processShineBgi2{
position: absolute;
width: 100%;
height: 100vh;
overflow: hidden;
}
.processShineBgi2{
background:rgba(255, 255, 147, 0.746);
animation: shineExplosion .9s ease 1 forwards;
}
@keyframes shineExplosion{
      0%{opacity: 0;}
      30%{opacity: 0.4;}
      100%{opacity: 0;}
  }
#processWrap .titleBgi{
  position: relative;
  font-size: $titleWord;
  text-align: center;
  line-height: 80px;
  width: 200px;
  height: 80px;
  background: url(../images/titleNeonLightDarkBlueNew.gif) center no-repeat;
  background-size: cover;
  color: rgb(255, 249, 197);
  border-radius: 10px;  
  outline: none;
  border:none;
  margin:10px auto;
}
@media screen and (min-width:1200px) {
  .titleBgi{
      margin-top: 20px;
      margin-left: 24vw;
  }

}
#earthGroup{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: -400px;
  transform: scale(.3);
}
#earth {
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -80vh;
  margin: auto;
  opacity: .6;
}

#earthRotate{
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -80vh;
  margin: auto;
  
  animation: earthRotate 90s infinite;
}
@keyframes earthRotate{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

@keyframes swingPara{
  0%{transform: rotate(0deg) translate(0vh,0vh);}
  
  50%{transform: rotate(5deg) translate(2vh,2vh);}

  100%{transform: rotate(0deg) translate(0vh,0vh);}
}
  #explosion{
      position: absolute;
      width: 80vw;
      max-width: 500px;
      height: 80vw;
      max-height: 500px;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: none;
  }
  #explosion img{
      width: 100%;
      opacity: .85;
      margin-top: 12vh;
  }
  #completeCar{
      position: absolute;
      width: 50vw;
      max-width: 300px;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      animation: truckGo 1s ease infinite;
      display: none;
  }
  @keyframes truckGo{
  0%{transform: translateY(15vh);}
  50%{transform: translateY(17vh);}
  100%{transform: translateY(15vh);}
  }
  .processBoard{
      position: absolute;
      background-image: url(../images/processDetailBorad1.png);
      background-position: center;
      background-size: contain;
      width: 350px;
      height: 200px;
      margin: auto;
      top: -20vh;
      bottom: 0;
      right: 0;
      left: 0;
      animation: shinningProcessBoard 1.12s ease infinite;
      transform: scale(.85);
      h4{
        margin-top:45px;
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-family: $contentFontFamily;
      }
      p{
        color: #fff;
        width: 160px;
        text-align: center;
        font-size: 22px;
        margin: auto;
        margin-top:0px; 
        line-height: 1.4;
        font-family: $contentFontFamily;
    }   
  }
  #processDetail{
      background-image: url(../images/processDetailBorad1.png);
      transform: scale(.55);
      transition:1.8s cubic-bezier(.13,-0.44,.58,1.85) ;
      
  }
  #processWorker1{
    width: 60px;
    position: absolute;
    //outline: red 5px solid;
    top: 60%;
    right:15%;
    opacity: 0;
    transition: 2.4s cubic-bezier(0.075, 1.52, 0.165, 1);
    transform: scale(.3);
  }
  #processWorker2{
    width: 80px;
    position: absolute;
    //outline:blue 5px solid;
    top: 64%;
    left: 15%;
    opacity: 0;
    transition: 2.4s cubic-bezier(0.075, 1.52, 0.165, 1);
    transform: scale(.3);
  }
  #processDetail2{
      background-image: url(../images/processDetailBorad2.png);
      display: none;
      transition:1.5s  cubic-bezier(.13,-0.44,.58,1.85) ;
      animation: shinningProcessBoard 1.14s ease infinite;
  }
  #processDetail3{
      background-image: url(../images/processDetailBorad3.png);
      display: none;
      transition:1.2s  cubic-bezier(.13,-0.44,.58,1.85) ;
      animation: shinningProcessBoard 1.14s ease infinite;
  }
  #processDetail4{
    margin: auto;
    position: absolute;
    top: 34vh;
    left: 0;
    right: 0;
    display: none;
    text-align: center;
  }

  @keyframes shinningProcessBoard{
  0%{filter: drop-shadow(0px 0px 2px rgba(255, 255, 170, 0.5));}
  50%{filter: drop-shadow(0px 0px 30px rgba(255, 255, 170, 0.4));}
  100%{filter: drop-shadow(0px 0px 2px rgba(255, 255, 170, 0.5));}
}
//服務流程的花車
#processLastStage{
  position: relative;
  display: none;
  #equipCarStage{
    margin-top: -80vh;
  }
  #introCarStage{
    width: 100%;
    position:absolute;
    ////outline: red 5px solid;
    top: 0;
    left: 0;
  }
  #introInnerBlock{
    width: 102%;
    position:absolute;
    ////outline: blue 5px solid;
    top: 0;
    left: 0;
    margin-left:-4px; 
    animation: introInnerBlockShine 2.4s ease infinite;
    transition:  .4s ease;
    display: block;
  }

  #introPoleBlock{
    width: 3%;
    position:absolute;
    ////outline: blue 5px solid;
    margin: auto;
    top: 21vw;
    right: 0;
    left: 0;
    filter: drop-shadow(0px 0px 5px rgb(255, 244, 203));
    display: block;
    animation: introPoleBlockScale 3s ease infinite;
  }
  #processDanceBlock{
    width: 20%;
    position:absolute;
   
    margin: auto;
    top: 30vw;
    right: 0;
    left: 0;   
    filter: drop-shadow(0px 0px 4px rgba(36, 36, 36, 0.9));
    animation: introDanceBlock 10s ease infinite;
    display: block;
  }

  .introSpecialBlock{
    position:absolute;
    margin: auto;    
    display: block;
  }
  .introSpecialBlock.one{
      width: 50%;
      left: 0;
      top: -60px
  }
  .introSpecialBlock.two{
    width: 70%;
    right: 0px;
    top: -90px;
}
  .introSpecialBlock.three{
    width: 15%;
    right: 78px;
    top: 132px;
    display: block;
}
.introSpecialBlock.four{
    width: 15%;
    left: 78px;
    transform: scaleX(-1) rotate(5deg);
    top: 132px;
    display: block;
}
#introScreenBlock{
    width: 46.8vw;
    height: 6vw;
    position:absolute;
    margin: auto;  
    top: 31.2vw;
    right: 0;
    left: 0;  
    overflow: hidden;
    display: block;
    span{
        width: 600px;
        height: 6vw;
        position:absolute;
        font-size: 3vw;
        line-height: 6vw;
        color: #F2EEE2;
        animation: introScreenWords 18s linear infinite;
    }
}
.introSoundsBlock{
    width: 14%;
    position:absolute;
    margin: auto;  
    top: 28vw;
    display: block;
}
.introSoundsBlock.one{
    right: 5vw;
    animation: introSoundsScale 1.5s ease reverse infinite;
    filter: drop-shadow(0px 0px 7px rgb(255, 244, 203));
    display: block;
}
.introSoundsBlock.two{
    left: 5vw;
    animation: introSoundsScale 1.5s ease reverse infinite;
    filter: drop-shadow(0px 0px 7px rgb(255, 244, 203));
    display: block;
}

  #lyrics{
    width: 45.8vw;
    height: 6vw;
    position:absolute;
    margin: auto;  
    top: 31.2vw;
    right: 0;
    left: 0;  
    overflow: hidden;
    display: block;
    span{
        width: 800px;
        height: 6vw;
        position:absolute;
        font-size: 3vw;
        line-height: 6vw;
        color: #F2EEE2;
        animation: lyrics 19s linear infinite;
    }
}

}





footer{
  padding-top:15px;
  width: 100%;
  height: 26vw;
  background-color: #0a0a0a;
  
  #footerBgiNew{
    background-image: url(../images/footerBgiNew.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 33vw; 
    position:absolute;
    margin:auto;
    bottom: 0;
  }
  #footerWords{
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom:3vw;
  }
  p{
    font-size:12px;
    color:#fff;
    text-align: center;
    font-family: $contentFontFamily;
  }
  div{
    ////outline: #ff00aa 5px solid;
    text-align: center;
  }
  img{
    border-radius: 100%;
    margin:4px;
    width:36px;
  }
}



/*@media screen and (min-width:768px) {
  #earth{
  width: 600px;
  height: 600px;
  bottom: -500px;
  }
  #earthContainer{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 600px;
  height: 100px;
  bottom: 0;
  overflow: hidden;
  }
}*/

@media screen and (min-width:768px) {


  #introFlyerFeature{
    margin-top: 30px;
  }
  footer{
    #footerWords{
      bottom:4.5vw;
      font-size:$contentWord;   
    }
  }
  
}
@media screen and (min-width:992px) {
  
  #introWords{
    width: 40%;
    top: 0;
    bottom:0;
    right: 14vw;
    margin-top:48vh;
    z-index:1;
    h2{
      font-size: 42px;
    }
    h3{
      font-size: 32px;
    }
  }
  #carEquipmentsIntroWrap{
    height:100vh;
  }
  #equipCarStage{
    width: 55%;
    .commonBtn{
      margin-left: 110px;
    }
  }
  .introTabs {
    margin:0px 0px 0px 60px;
  }

  .tabgroup {
    box-shadow:2px 2px 2px 2px rgba(0,0,0,.1);
    h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    div {
      height: 320px;
      font-size:20px;
      line-height:30px;
      margin:0px 0px 0px 30px;

    }
  }
  #tryCustormiseWrap{
    height: 100vh;
    .commonBtn{
      margin: 2vh auto auto auto;
    }
  }
  
}
//舞台配件介紹 col-lg 頭
@media screen and (min-width:992px) {
  .EquipIntroWrapper {
    margin:6vh auto auto auto;
  }
  //包住所有被件及背景舞台的div
    #equipCarStage{
      width: 600px;
      margin:auto;
      margin-top: -50px
  }
  #introCarStage{
    width: 100%;
    position:absolute;
    ////outline: red 5px solid;
    top: 0;
    left: 0;

  }
  #introInnerBlock{
    width: 102%;
    position:absolute;
    ////outline: blue 5px solid;
    top: -4px;
    left: 2px;
    margin-left:-8px; 
    animation: introInnerBlockShine 2.4s ease infinite;
  }
  #introPoleBlock{
    margin: auto;
    top: 140px;

  }

  #introDanceBlock{
    width: 15%;
    position:absolute;
    margin: auto;
    top: 210px;
    right: 0;
    left: 0;   
    filter: drop-shadow(0px 0px 4px rgba(36, 36, 36, 0.9));
    animation: introDanceBlock 10s ease infinite;
  }
  .introSpecialBlock{
    position:absolute;
    margin: auto;    
  }
  .introSpecialBlock.one{
      width: 60%;
      left: 0;
      top: -70px
  }
  .introSpecialBlock.two{
    width: 75%;
    top: -160px
  }
  .introSpecialBlock.three{
    width: 25%;
    right: 101px;
    top: 164px;
  }
  .introSpecialBlock.four{
    width: 25%;
    left: 101px;
    transform: scaleX(-1) rotate(5deg);
    top: 164px;
  }
  #introScreenBlock{
    width: 307px;
    height: 50px;
    position:absolute;
    margin: auto;  
    top: 231px;
    right: 0;
    left: 4px;  
    overflow: hidden;
    span{
        width: 600px;
        height: 50px;
        position:absolute;
        font-size: 24px;
        line-height: 45px;
        color: #F2EEE2;
        animation: introScreenWords 18s linear infinite;
    }
  }
  @keyframes introScreenWords{
    from{transform: translateX(100px);}
    to{transform: translateX(-700px);}
  }
  .introSoundsBlock{
    width: 14%;
    position:absolute;
    margin: auto;  
    top: 255px;
  }
  .introSoundsBlock.one{
    right: 40px;
    animation: introSoundsScale 1.5s ease reverse infinite;
    filter: drop-shadow(0px 0px 7px rgb(255, 244, 203));
  }
  .introSoundsBlock.two{
    left: 40px;
    animation: introSoundsScale 1.5s ease reverse infinite;
    filter: drop-shadow(0px 0px 7px rgb(255, 244, 203));
  }

  #lyrics{
    width: 307px;
    height: 50px;
    position:absolute;
    margin: auto;  
    top: 231px;
    right: 0;
    left: 0;  
    overflow: hidden;
    span{
        width: 900px;
        height: 50px;
        position:absolute;
        font-size: 24px;
        line-height: 45px;
        color: #F2EEE2;
        animation: lyrics 19s linear infinite;
    }
  }

  //客製試試看
  .stageTry{
    display:flex;
  }
  #tryCustormiseWrap .perspective{
    transform:scale(1.5);
  }
  .groupA{
    margin-top: 16vh;
  }
  ul.tryCustTabs{
    width: 380px;
  }
  ul.tryCustTabs li{
    width: 190px;
    height:80px;
  }
  #tryCustEquipContent{
    
    width: 380px;
    height: 370px;
  }
  #custItemContent,#effectCustItem{
    width: 380px;
    height: 370px;
    padding: 10px 0px 0px 0px;
  }
  .tryCustEquipWrap{
    margin-top: -50px;
  }
}


//舞台配件介紹 col-lg 尾
@media screen and (min-width:992px) {
  .perspectiveIntro{
    transform: scale(1.6);
    margin-top:50px;
  }
  #tryCustormiseWrap{
    .custBtnTop{
      z-index:9;
    }
    .commonBtn{
      margin: -3vh auto auto auto; 
    }
  }
  #carEquipmentsIntroWrap{
    #equipBtnOne{
      display: block;
      margin-left: 20vw;
    }
    #equipBtnTwo{
      display: none;
    }
  }
 #beautyContestSlider{
   margin-top: -2vh;
 }
 #beautyContestWrap{
   .commonBtn{
     margin-top: -50px;
   }
 }
  
  #customerServiceGirl{
    position:fixed;
    vertical-align: middle;
    ////outline: 5px red solid：
    width:140px;
    right: 80px;
    z-index:3;
    img{
      width:100%; 
    }
    animation:serviceGirl 12s 1s ease infinite;
    
  }
  .showUpHints{
    width: 250px;
    padding: 20px;
    height: 120px;
    right: 60px;
    p{
      width:210px;
    }
  }
  .showUpHints:after {
    position:absolute;
    content:"";
    bottom:-30px;
    left:70%;
    transform:translateX(-50%);
  }
  #gameHub{
    padding:10px;
    opacity:0.9;
    font-size:20px;
    width: 120px;
    height: 140px;
    ////outline: 5px red solid;
    img{
      margin: 10px auto;
    }
  }
  #beautyContestWrap{
    .dcontainer{
      width: 80vw;
    }
  }

  #processWrap{
    .titleBgi{
        margin-top: 20px;
        margin-left: 24vw;
       // outline: red 5px solid;
    }

  }
  #processWorker1{
    width: 80px;
    top: 60%;
    right:35%;

  }
  #processWorker2{
    width: 100px;
    top: 64%;
    left: 35%;
  }
  #processLastStage .introSpecialBlock.three{
    right:142px;
    top:233px;
  }
  #processLastStage .introSpecialBlock.four{
    left:142px;
    top:233px;
  }
  #processLastStage #processDanceBlock{
    top:24vh;
  }

  #tryCustormiseFlyerWrap{
    #introFlyerBoard{
      margin-top:29vh; 
    }
    .commonBtn{
      margin-top: 55vh;
    }
    #introFlyer2,#introFlyer3{
      display: block;
    }
  }
  #beautyContestWrap,
  #carEquipmentsIntroWrap,
  #tryCustormiseWrap,
  #tryCustormiseFlyerWrap,
  #beautyContestWrap,
  #processWrap{
    padding-top:$lgPaddingTop;
  }
  
}
@media screen and (min-width:1500px) {
  
  #beautyContestSlider{
    margin-top: 3vh;
  }
  #beautyContestWrap,
  #carEquipmentsIntroWrap,
  #tryCustormiseWrap,
  #tryCustormiseFlyerWrap,
  #beautyContestWrap,
  #processWrap{
    padding-top:160px;
  }
  #carEquipmentsIntroWrap{
    #equipBtnOne{
      display: none;
    }
    #equipBtnTwo{
      display: block;
    }
    .EquipIntroWrapper{
      margin-top: 100px;
      .commonBtn{
        margin-top: -220px;
      }
    }
  }
  #tryCustormiseWrap{
    .commonBtn{
      margin: 8vh auto auto auto;
    }
  }
  .tryCustEquipWrap{
    margin-top: 47px;
  }
  #processWorker1{
    width: 90px;
    top: 58%;
    right:40%;

  }
  #processWorker2{
    width: 110px;
    top: 62%;
    left: 40%;
  }
}