*{
    margin: 0;
    padding: 0;
}
footer #footerBgiNew{
    position: relative;
}
canvas{
    display: block;
}
.content .titleBgi {
    margin-left: 0;
    font-weight: 400;
}
.titleBgi{
    font-weight: 400;
}
#canvasScene {
        /* display: block; */
        overflow: hidden;
        /* position: absolute; */
}
.introTime{
    background-image: url(../images/intro/introBg2.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
 //    background-size: 100%;
    width: 100%;
 //    height: 60vh;
     padding-top:35px;
     margin-top: 0px;
    position: relative;
 
     .introStage{
         background-image: url(../images/intro/introstage.png);
         background-repeat:no-repeat; 
         background-size:100%;
         width:95%; 
        
         height: 600px; 
         position: relative;
         top: 0%;
         left: 0;
         right: 0;
         margin: auto;
         margin-top: 40px;
         
         .people{
             .peopleFirst,.peopleSec,.peopleThree,.peopleFourth,.peopleFiv{
                  width:17%; 
                  position: absolute;
             }
            
             .peopleFirst{
                
                 top:19%;
                 left: 44%;
                 z-index: 10;
                 // filter: drop-shadow(0px 0px 20px  rgb(223, 223, 223));
 
                 &:hover{
                     filter: drop-shadow(0px 0px 20px  rgb(223, 223, 223));
 
                 }
             }
             .peopleSec{
                 z-index: 9;
                 top:19%;
                 left:31%;
                 &:hover{
                     filter: drop-shadow(0px 0px 20px  rgb(223, 223, 223));
 
                 }
             }
             .peopleThree{
                 top:19%;
                 left:18%;
 
                 &:hover{
                     filter: drop-shadow(0px 0px 20px  rgb(223, 223, 223));
 
                 }
             }
             .peopleFourth{
                 z-index: 9;
                 top:19%;
                 left:57%;
                 &:hover{
                     filter: drop-shadow(0px 0px 20px  rgb(223, 223, 223));
 
                 }
             }
             .peopleFiv{
                 top:19%;
                 left:69%;
                 // filter: drop-shadow(0px 0px 20px  rgb(223, 223, 223));
 
                 &:hover{
                     filter: drop-shadow(0px 0px 20px  rgb(223, 223, 223));
 
                 }
             }
 
         }
         .led{
             position: absolute;
             // top: 1%;
             left: 34%;
             width:30%;
             height: 5%;
             border: 5px solid transparent;
             // color: aqua;
             marquee{
                 color: aqua;
                 font-size: 12px;
             }
         }
     }
 }
 ////////////團體介紹768/////////////
 @media all and (min-width:768px){
     .introTime{  
        margin-top: 75px;
        .introStage{
            
          .people{
             .peopleFirst{
                 top:39%;  
        
             } 
             .peopleSec{
                 top:39%;  
                 
             }
             .peopleThree{
                 top:39%;  
                
             }
             .peopleFourth{
                
                 top:41%;  
                
             }
             .peopleFiv{
                 top:39%;  
                 
             }
          }
         .led{
             top: .5%;    
             marquee{
                
                 font-size: 12px;
             }
         } 
 
        }  
     }
 }
 ///////////團體介紹992/////////////
 @media all and (min-width:992px){
     .introTime{  
        margin-top: 75px;
        .introStage{
         width: 80%;
        
          .people{
             .peopleFirst{
                 top: 43%;
        
             } 
             .peopleSec{
                 top: 43%;
                 
             }
             .peopleThree{
                 top: 43%;
                
             }
             .peopleFourth{
                
                 top: 43%;
                
             }
             .peopleFiv{
                 top: 43%;
                 
             }
          }
 
         .led{
             top:1%;    
             marquee{
                
                 font-size: 18px;
             }
         } 
 
        }  
     }
 }
 ///////////團體介紹1200/////////////
 @media all and (min-width:1200px){
     .introTime{  
         height: 100vh;
         margin-top: 0px;
         .introTimeTitle{
             margin-right: 10%;
             
         }
        .introStage{
             max-width: 1200px;
             background-size: 101%;
             width: 53%;
             position: absolute;
             top: 17%;
             // bottom: 50px;
             left: 0;
             right: 0;
             margin: auto;
             margin-top: 56px;
 
          .people{
             .peopleFirst{
                 top: 34%;
        
             } 
             .peopleSec{
                 top: 34%;
                 
             }
             .peopleThree{
                 top: 36%;
                
             }
             .peopleFourth{
                
                 top: 36%;
                
             }
             .peopleFiv{
                 top: 35%;
                 
             }
          }
          .led{
             top:55%;    
             marquee{
                 font-size: 21px;
             }
         } 
        }  
     }
 }
 ////////////團體介紹結束////////////