.loading{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(59, 58, 58);
    background-image: url(../images/loadingBgi.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    .lampFirst {
        position: absolute;
        left: 44.5%;
      
        width: 15%;
        height: 400vh;
        background-image: radial-gradient(ellipse, rgba(235, 177, 4, 0.8), rgba(246,205,81, 0.2)25%, rgba(255,255,255,0) 50%);
        top: -185vh;
        transform: perspective(25vh) rotateX(60deg) translateX(0);
        transition: transform 2s;
        /* z-index: 50; */
        pointer-events: none;
    }
    .lampSec {
        position: absolute;
        left: 39%;
        
        width: 15%;
        height: 400vh;
        background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7),  rgba(245, 132, 27, 0.2)25%, rgba(255,255,255,0) 50%);
        top: -185vh;
        transform: perspective(25vh) rotateX(60deg) translateX(0);
        transition: transform 2s;
        /* z-index: 50; */
        pointer-events: none;
        }
    .lampThree {
        position: absolute;
        left: 50.5%;
        
        width: 15%;
        height: 400vh;
        background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7),  rgba(245, 132, 27, 0.2)25%, rgba(255,255,255,0) 50%);
        top: -185vh;
        transform: perspective(25vh) rotateX(60deg) translateX(0);
        transition: transform 2s;
        pointer-events: none;
        }
        .first{
            /* width: 100px;
            height: 100px; */
            position: fixed;
            left: 43.8%;
            top: 30px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            transform: perspective(25vh) rotateX(0deg) translateX(0);

        }
        .sec{
            
            position: absolute;
            left: 49.5%;
            top: 30px;
            /* border: 1px solid red; */
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            /* transform: perspective(25vh) rotateX(30deg) rotateY(20deg); */
            transform: perspective(25vh) rotateX(0deg) translateX(0);
   
        }
        .three{
            
            position: absolute;
            left: 55%;
            top: 30px;
            /* border: 1px solid red; */
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            /* transform: perspective(25vh) rotateX(30deg) rotateY(20deg); */
            transform: perspective(25vh) rotateX(0deg) translateX(0);

        }
        
        p {
            text-align: center;
            font-size: 3em;
            margin: 20px 0 20px 0;
            position: fixed;
            top: 60vh;
            .front{
                left: 35%;
            }
            .back{
                left: 60%;
            }
            a {
                text-decoration: none;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
                font-size: 48px;
                color: white;
                font-family: Iceland;
                box-shadow: 0px 0px 10px 10px red;
                background-color:rgb(41, 41, 41);
                padding: 10px 10px;
                a:hover {
                    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
                    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
                    animation: neon2 1.5s ease-in-out infinite alternate;
                    color: yellow;
                    box-shadow: 0px 0px 10px 5px blue;
                    }
         
                }
        }
}
 

           
            

       
      
        
        img:hover{
            /* transform: perspective(25vh) rotateX(30deg) rotateY(0deg); */
            transform: perspective(25vh) rotateY(10deg) rotateX(10deg) rotateZ(30deg);
    
        }
       
    
        
        
        @-webkit-keyframes neon2 {
        from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
        }
        to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(255, 78, 34), 0 0 35px rgb(255, 82, 2), 0 0 40px rgb(255, 82, 2), 0 0 50px rgb(255, 82, 2)F, 0 0 75px rgb(255, 82, 2);
             }
        }
    }
    
