#memberOrder{
        background: url(../images/bkground/member_bg.jpg) center;
        background-size: cover;
        min-height: 100vh;
        padding: 50px 15px 15px;
    .allOrderBox{
        width: 90%;
        background-color: #fff;
        margin:auto;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 30px;
        box-shadow: 1px 1px 5px #333;
        h3{
            font-size: $thrTitleWord;
            color: #e56e50;
            text-align: center;
            padding-bottom: 20px;
        }
        table{
            background: #fff;
            width: 70%;
            // border:1px solid #ccc;
            border-radius: 8px;
            margin: auto;
            padding: 20px 20px;
            tr:hover{
                background-color: #afa;
                cursor: pointer;
            }
            .orderBoxTitle:hover{
                background-color:#fff;
            }
            th{
                text-align: left;

                font-size: $contentWord;
            }
            td{
                text-align: left;
                font-size: $contentWord;
                color: #5c5c5c;
                &:first-of-type{

                }
            }
        }
    }
    .orderBoxSelected{
        background-color: $fontColor;
    }

    .orderDetails{
        width: 95%;
        box-sizing: border-box;
        margin:0 auto 50px;
        background: #fff;
        box-shadow: 1px 1px 5px #333;
        border-radius: 8px;
        overflow: hidden;
        
        .bckColor{
            padding: 20px;
            // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

            h4{
                color: $memberBackColor;
                font-size: 24px;
                // text-align: center;
                background-color: #fff;
                border-radius: 8px;
    
            }
            .detailContent{
                display: flex;
                flex-wrap: wrap;
                padding: 10px 0px;
                font-size: 21px;
                .big{
                    font-size: 22px;
                }
            }
            .detailHost{
                display: flex;
                flex-wrap: wrap;
                padding: 20px 0px;
                font-size: $buttonWord;
                position: relative;
                &:before, &:after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #ccc;
                    position: absolute;
                    left: 0;
                }
                &:before{
                    top: 5px;
                }
                &:after{
                    bottom: -5px;
                }
            }
        }

        .detailStage{
            padding: 0px 20px 20px;
            .detailStageImg{
                img{
                    background: #000;
                    width: 100%;
                }
            }
            table{            
                width: 100%;
                margin-top: 20px;
                th{
                    box-sizing: border-box;
                    // border: 1px solid #000;
                }
                td{
                    padding: 0px 5px;
                    text-align: center;
                    color: #5c5c5c;
                }
            }
            .buttonArea{
                margin:30px auto 10px;
                button{
                    outline: none;
                }
            }
        }
    }
}
@media screen and (min-width:768px) {
    #memberOrder{
        .allOrderBox{
            h3{
                font-size: 36px;
            }
            table{
                th, td{
                    font-size: 22px;
                }
            }
        }
        .orderDetails{
            .bckColor{
                h4{
                    font-size: 32px;
                }
                .detailContent, .detailHost{
                    font-size: 22px;
                }
            }
            .detailStage{
                table{
                    margin: auto;
                    width: 70%;
                    th, td{
                        
                        font-size: 22px;
                    }
                }
            }
        }  
    }
}
@media screen and (min-width:1200px){
    #memberOrder{
        padding-top: 150px;
        .allOrderBox{
            width: 800px;
        }
        .orderDetails{
            width: 820px;
            .bckColor{
                width: 750px;
                margin: 0 auto;
            }
            .detailStage{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 0px 35px 20px;
                .detailStageImg{
                    width: 50%;
                }
                table{
                    width: 50%;
                }

            }
        }
    }
}