.cardGroup{
    // background: red;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    .card{
        margin: 20px 50px 20px 0;
        display: block;
        position: relative;
        
        
        .font{
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            border-radius: 15px;
            background: rgb(252, 211, 28);
            transform: perspective(1200px) rotateY(0deg);
            transition: 1.5s;
            overflow: hidden;
            box-sizing: border-box;
            backface-visibility:hidden;
            box-shadow: 0 0 50px #6e6e6e;
            
            .topArea{
                padding: 5PX;
                background: white;
                display: flex;
                flex-wrap: wrap;
                .headImg{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                h3{
                    margin-left: 5px;
                    line-height: 50px;
                    font-size: 21px;
                    color: rgb(255, 128, 43);
                }
            }
            .stageImg{
                background: white;
                img{width: 100%;}
            }
            .toolBar{
                .fa-heart{color: rgb(228, 20, 20);padding:5px 20px;}
                .fa-share,.fa-ellipsis-h{
                    padding:5px 20px;
                    height: 20px;
                    color:white;
                    cursor: pointer;
                    &:hover{color:rgb(138, 138, 233);}
                }
            }
        }
        
        .back{
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid #000;
            box-sizing: border-box;
            backface-visibility:hidden;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background: rgb(25,25,25);
            transform: perspective(1200px) rotateY(180deg);
            transition: 1.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .centerBox{
                div{
                    margin: 30px;
                    padding: 10px 30px;
                    border: 2px solid #fff;
                    border-radius: 30px;
                    color:#fff;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.05);
                        color:rgb(138, 138, 233);
                        border: 2px solid rgb(138, 138, 233);
                    }
                }
            }
        }
    }
}