.col-md-10{
    background: url(../images/bkground/member_bg.jpg) center;
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
    
}
.AllflyerBox{
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #333;
    h3{
        padding-top: 20px;
        color: #e56e50;
        font-size: $thrTitleWord;
    }
    table{
        margin: 20px auto 0px ;
        width: 100%;
        text-align: center;
        font-size: 18px;
        tbody{
            tr{
                cursor: pointer;
                &:hover{
                    background-image: linear-gradient(to left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
                }
            }
        }
        td{
            label{
                .cbox{
                    position: absolute;
                    z-index: 1;
                    opacity: 0;
                    &:checked+.btnBox{
                        text-align: right;
                        background: #32ff7e;
                    }
                }
                .btnBox{
                    display: inline-block;
                    width: 40px;
                    line-height: 20px;
                    height: 20px;
                    vertical-align: middle;
                    background: #fff82d;
                    border-radius: 10px;
                    text-align: left;
                    cursor: pointer;
                    .btn{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        
                        border-radius: 20px;
                        box-sizing: border-box;
                        box-shadow: 0 0 3px #000;
                        background: #fff;
                    }
                }
                .txt{
                    display: inline-block;
                }
            }
        }
    }
}


.detailFlyer{
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #333;
    h4{
        padding: 20px 0px;
        color: $memberBackColor;
        font-size: $thrTitleWord;
        text-align: center;
    }
    img{
        display: block;
        margin: 0 auto 10px;
        max-width: 700px;
        box-shadow: 1px 5px 20px #ccc;
    }
    table{
        margin:auto;
        font-size: 18px;
        
        tr{
            max-width: 80%;
            td{
                padding: 5px 10px;
            }
        }
    }
    .btnBar{
        padding: 50px 0 50px;
        margin: auto;
        text-align: center;
        button{
            box-shadow: 0px 2px 2px #888;
            border-radius: 5px;
            line-height: 50px;
            cursor: pointer;
        }
        button:first-of-type{
            width: 100px;
            height: 50px;
            // background-image: linear-gradient(to top, #d299c2 0%, #b84a4a 100%);
            // &:hover{
            //     background-image: linear-gradient(to top, #e4abd4 0%, #ff1010 100%);
            // }
        }
        button:last-child{
            width: 100px;
            height: 50px;
            // background-image: linear-gradient(to top, #fddb92 0%, #ecfa25 100%);
            // &:hover{
            //     background-image: linear-gradient(to bottom, #cfa54a 0%, #faec25 100%);
            // }
        }
    }
}

@media screen and (min-width:768px) {
    .col-md-10{
        padding-top: 150px;
    }
    .AllflyerBox{
        margin:50px auto;
        h3{
            font-size: 36px;
        }
        table{
            th, td{
                font-size: 22px;
                label{
                    .btnBox{
                        .btn{
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
        }
    }
    .detailFlyer{
        h4{
            font-size: 32px;
        }
    }
}
@media screen and (min-width:992px) {}
@media screen and (min-width:1200px) {
    .AllflyerBox{
        margin:50px auto;
        table{
            width: 80%;
        }
    }
}