.col-md-10{
    background: url(../images/bkground/member_bg.jpg) center;
    background-size: cover;
    min-height: 100vh;
}
#memberData{
    padding-top: 50px;
    h3{
        margin-top:25px;
        text-align: center;
        font-size: $thrTitleWord;
    }
    fieldset{
        width: 80%;
        margin: 20px auto;
        border-radius: 10px;
        background-color: #fff;
        border: none;
        box-shadow: 1px 1px 8px #333;
        h3{
            // color: $memberBackColor;
            color: #e56e50;
            margin: 20px 0px 10px;
            font-size: 30px;
            text-align: center;
        }
    }
    table{
        margin: auto;
        tr{
            border-bottom: 1px solid #000;
            th{
               padding: 10px 10px;
               text-align: center;
               font-size: $buttonWord;

               input[type="submit"]{
                   width: 100px;
                   height: 50px;
                   border-radius: 5px;
                   margin-top: 10px;
               }
            }
            td{     
                padding: 10px 10px;
                input{
                    font-size: $contentWord;
                    border: none;
                    width: 170px;
                    &:hover{
                        outline: 1px solid #faa;
                    }
                }
                i{cursor: pointer;}
                i:hover{
                    color: #ccc;
                }
            }
       }
       .memPswInfo{
           display: flex;
           justify-content: space-between;
       }
       .changePSW{
           font-size: 14px;
           color:#666;
           text-align: right;
           background: #ccc;
           z-index: -1;
       }
       tr:last-child{
        border-bottom: none;
       }
    }
}
.memberImg{
    margin: auto ;
    width: 150px;
    height: 150px;
    position: relative;
    text-align: center;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    img{
        height: 100%;;
        cursor: pointer;
    }
    i{
        left: 0;
        margin: auto;
        position: absolute;
        color: rgba(255,255,255,.7);
        right: 0;
        bottom:0;
    }
    &:hover{
        transform: scale(1.05);
    }
}
@media screen and (min-width:768px) {
    #memberData{
        padding-top: 150px;
        
        fieldset{
            width: 70%;
            margin:50px auto 0;
            h3{
                font-size: 36px;
            }
        }

        table{
            tr{
                th{
                    font-size: 22px;
                }
                td{
                    input{
                        font-size: 20px;
                        width: 220px;
                    }
                }
            }
            
            .changePSW{
                font-size: 20px;
            }
        }
    }
}
@media screen and (min-width:992px){
    #memberData{
        fieldset{
            width: 60%;
        }
    }
}
@media screen and (min-width:1200px){
    #memberData{
        fieldset{
            width: 420px;
        }
    }
}