
.wrap{
    box-sizing: border-box;
    border: 1px solid black;
    width: 375px;
    height: 667px;
}
#memberNav{
    width: 100%;
    height: 27px;
    line-height: $lineHeight;
    // overflow: hidden;
    box-sizing: border-box;

    ul{
        width: 1290px;
        display: block;
        background: $memberBackColor;

        li{
            width:120px;
            font-size: 18px;
            float: left;
            margin:0 30px;
            text-align: center;
            color:$fontColor;
        }
    }

    ul::after{
        content: '';
        display: block;
        clear: left;
    }
}

#memberData{
    .memberImg{
        margin: 50px auto 0;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        img{  
            width: 150px;
            background: red;
        }
    }

    input{
        opacity: 0;
    }
    h3{
        font-weight: bold;
        text-align: center;
    }
}