.loading{
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgb(59, 58, 58);
    background-image: url(../../images/loading/load1.png);
    background-repeat: no-repeat;
    background-position: center center;

    .loadingCar{
        // max-width: 1200px;
        width: 100%;
        height: 100vh;
        background-size: auto 100%;
        margin: auto;
        // background-color: rgb(59, 58, 58);
        background-image: url(../images/loading/introstage.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        // .test{
        //     position: absolute;
        //     height: 200px;
        //     width: 200px;
        //     top: 20px;
        //     left: 0;
        //     // bottom: 0;
        //     right: 0;
        //     margin: auto;
        //     border: 5px solid #f00;
        // }
        
        .light{
            display: none;
            position: absolute;
                height: 200px;
                width: 200px;
                top: 0px;
                left: 0;
                // bottom: 0;
                right: 0;
                margin: auto;
                border: 5px solid #f00;
            .sec{
                position: absolute;
                top: 37px;
                left: 0%;
               

            }
            .three{
                position: absolute;
                top: 37px;
                left: 35%;
                // width: 22%;
            }
           
        }
    }
    .link{
        display: block;
        left: 0;
        right: 0;
        text-decoration: none;
        font-size: 2.25rem;
        font-weight: 1000;
        text-align: center;
        cursor: pointer;
        color: rgb(75, 74, 74);
        margin: auto;
        width: 100px;
        position: absolute;
        box-shadow: 0px 0px 10px 10px red;
        background-color:rgb(245, 245, 245);
        &:hover{
            -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
            -moz-animation: neon2 1.5s ease-in-out infinite alternate;
            animation: neon2 1.5s ease-in-out infinite alternate;
            color: yellow;
            box-shadow: 0px 0px 10px 5px blue;
        }
    }
    .front{  
        top:33vh;
    }
    .back{  
        top:53vh;
    }
}

@media all and (min-width:768px){
    .loading{
        .loadingCar{
            background-image: url(../images/loading/stage1.png);
            .light{
                width: 300px;
                display: block;
                .sec{
                    width: 25%;
                    top: 59px;
                    left: 11%;
                    }
                .three{
                    top: 59px;
                    left: 38%;
                    width: 25%;
                  }
                .first{
                    position: absolute;
                top: 59px;
                left: 65%;
                width: 25%;
                }

                }
            }
            .lampFirst {
                left: 33%;
                position: absolute;
                width: 15%;
                height: 400vh;
                background-image: radial-gradient(ellipse, rgba(235, 177, 4, 0.8), rgba(246,205,81, 0.2)25%, rgba(255,255,255,0) 50%);
                top: -185vh;
                transform: perspective(25vh) rotateX(60deg) translateX(0);
                transition: transform 2s;
                pointer-events: none;
            }
            .lampSec {
               left: 43%;
                position: absolute;  
                width: 15%;
                height: 400vh;
                background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7),  rgba(245, 132, 27, 0.2)25%, rgba(255,255,255,0) 50%);
                top: -185vh;
                transform: perspective(25vh) rotateX(60deg) translateX(0);
                transition: transform 2s;     
                pointer-events: none;
            }
            .lampThree {
                left: 54%;
                position: absolute;
                width: 15%;
                height: 400vh;
                background-image: radial-gradient(ellipse, rgba(255, 184, 143, 0.7),  rgba(245, 132, 27, 0.2)25%, rgba(255,255,255,0) 50%);
                top: -185vh;
                transform: perspective(25vh) rotateX(60deg) translateX(0);
                transition: transform 2s;
                pointer-events: none;
                }

        } 
    
}
///////////////////////////////////
@media all and (min-width:992px) {
    .loading{
        .loadingCar{
            .light{
                // width: 300px;
                .sec{
                    top: 84px;
                    left: -1%;
                   width: 33%;
                }
                .three{
                    top: 84px;
                    left: 34%;
                    width: 33%;
                }
                .first{
                    top: 84px;
                    left: 68%;
                   width: 33%;
                }
            }
        }
        .link{
            float: left;
        }
        .front{  
            top: 59vh;
            left: 19%;
            right: auto;
        }
        .back{  
            top: 59vh;
            left: 67%;
            right: auto;
        }
    }
}
@media all and (min-width:1200px) {
    .loading{
        .loadingCar{
            .light{
                // width: 400px;
                .sec{
                   top: 63px;
                   left: 8%;
                   width: 27%;
                }
                .three{
                    left: 38%;
                    top: 63px;
                    width: 27%;
                }
                .first{
                    top: 63px;
                    width: 27%;
                }
            }
            .lampFirst{
                left: 38%;
            }
            .lampSec{
                left: 43%;
            }
            .lampThree{
                left: 48%;
            }
        }
        .link{
            float: left;
        }
        .front{  
            top: 59vh;
            left: 31%;
            right: auto;
        }
        .back{  
            top: 59vh;
            left: 56%;
            right: auto;
        }
    }
}